/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
/* line 80, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic';
}
@media (min-width: 351px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 106, ../sass/stylesheet.scss */
h2 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 6vmin;
  }
}
@media (min-width: 1800px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 10vmin;
  }
}

/* line 131, ../sass/stylesheet.scss */
h3 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 900px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1200px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1800px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 156, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 182, ../sass/stylesheet.scss */
a {
  font-family: 'arcon';
}

/* line 186, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/* line 207, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 215, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 221, ../sass/stylesheet.scss */
input {
  border: none;
}

/* line 69, ../sass/landing2.scss */
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background: #3d52a1;
  line-height: 1;
  position: relative;
}

/* line 78, ../sass/landing2.scss */
h1,
h2 {
  margin: 0;
}

/* line 83, ../sass/landing2.scss */
h1 {
  color: #2ba4c0;
}

/* line 19, ../sass/landing2.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 28, ../sass/landing2.scss */
body {
  overflow: auto;
  perspective: 1px;
  transform-style: preserve-3d;
}
/* line 35, ../sass/landing2.scss */
body,
body * {
  transform-style: preserve-3d;
}

/* line 93, ../sass/landing2.scss */
.container {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 98, ../sass/landing2.scss */
.container > * {
  position: absolute;
}

/* line 104, ../sass/landing2.scss */
.container.one :nth-child(1) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 5%;
  left: 0px;
}
/* line 109, ../sass/landing2.scss */
.container.one :nth-child(2) {
  transform: translateZ(0px) scale(1);
  z-index: 0;
  top: 0%;
  right: 0px;
}
/* line 114, ../sass/landing2.scss */
.container.one :nth-child(3) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 600px;
  left: 300px;
}
/* line 119, ../sass/landing2.scss */
.container.one :nth-child(4) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  top: 500px;
  left: 1200px;
}
/* line 124, ../sass/landing2.scss */
.container.one :nth-child(5) {
  transform: translateZ(-2px) scale(3);
  z-index: -2000;
  top: 2000px;
  left: 2000px;
}
/* line 129, ../sass/landing2.scss */
.container.one :nth-child(6) {
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 600px;
  left: 300px;
}
/* line 134, ../sass/landing2.scss */
.container.one :nth-child(7) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 400px;
  left: 1000px;
}
/* line 139, ../sass/landing2.scss */
.container.one :nth-child(8) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1600px;
  left: 1400px;
}
/* line 144, ../sass/landing2.scss */
.container.one :nth-child(9) {
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 1600px;
  left: 500px;
}
/* line 149, ../sass/landing2.scss */
.container.one :nth-child(10) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 1600px;
  left: -600px;
}
/* line 155, ../sass/landing2.scss */
.container.one :nth-child(11) {
  transform: translateZ(0.6px) scale(0.4);
  z-index: 600;
  top: 1600px;
  left: 100px;
}
/* line 160, ../sass/landing2.scss */
.container.one :nth-child(12) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 200vh;
  left: 260px;
}
/* line 165, ../sass/landing2.scss */
.container.one :nth-child(13) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 2000px;
  left: 400px;
  display: none;
}
/* line 171, ../sass/landing2.scss */
.container.one :nth-child(14) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 2600px;
  left: 77%;
  z-index: 1100;
  display: none;
}
/* line 178, ../sass/landing2.scss */
.container.one :nth-child(15) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  top: 2200px;
  left: -150px;
  display: none;
}
/* line 184, ../sass/landing2.scss */
.container.one :nth-child(16) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1400px;
  left: 850px;
}
/* line 189, ../sass/landing2.scss */
.container.one :nth-child(17) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 3800px;
  left: 0px;
  display: none;
}

/* line 198, ../sass/landing2.scss */
.section {
  height: 80%;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  width: 80%;
  margin: 0 auto;
}

/* line 215, ../sass/landing2.scss */
.section.one {
  margin-top: 15vh;
  height: 60vh;
  margin-bottom: 40vh;
  width: auto;
}
/* line 220, ../sass/landing2.scss */
.section.one .text p {
  line-height: 1.4em;
  font-size: 15px;
}

/* line 226, ../sass/landing2.scss */
.spacer-for-line {
  height: 20px;
}

/* line 232, ../sass/landing2.scss */
.name-plaque h1 {
  text-align: center;
}
/* line 235, ../sass/landing2.scss */
.name-plaque h1::before {
  content: '';
  width: 114px;
  height: 5px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2ba4c0;
  max-width: 200px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 43px;
  margin-bottom: 20px;
}
@media (min-width: 900px) {
  /* line 235, ../sass/landing2.scss */
  .name-plaque h1::before {
    margin-top: 6.2vmax;
  }
}
/* line 255, ../sass/landing2.scss */
.name-plaque h1::after {
  content: '';
  width: 70%;
  min-width: 150px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2ba4c0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 45px;
}
@media (min-width: 900px) {
  /* line 255, ../sass/landing2.scss */
  .name-plaque h1::after {
    margin-top: 6.38vmax;
  }
}

/* line 275, ../sass/landing2.scss */
.title-plaque {
  background-color: white;
  width: 60vw;
  height: 60vh;
  min-height: 360px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  border: 20px solid #2ba4c0;
}
@media (max-width: 599px) {
  /* line 275, ../sass/landing2.scss */
  .title-plaque {
    width: 80vw;
  }
}
/* line 297, ../sass/landing2.scss */
.title-plaque p {
  color: #2ba4c0;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

/* line 324, ../sass/landing2.scss */
.blue-triangle {
  position: absolute;
}
/* line 327, ../sass/landing2.scss */
.blue-triangle.top {
  top: -20px;
  right: -20px;
}
/* line 332, ../sass/landing2.scss */
.blue-triangle.bottom {
  bottom: -20px;
  left: -20px;
}

/* line 343, ../sass/landing2.scss */
.card-bkg {
  background-color: white;
  display: none;
  padding: 30px;
}

/* line 349, ../sass/landing2.scss */
.card-content {
  background-color: white;
  z-index: 999;
  color: #3d52a1;
  height: auto;
  box-sizing: border-box;
  padding: 5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 359, ../sass/landing2.scss */
.card-content h2 {
  text-align: center;
}

/* line 366, ../sass/landing2.scss */
.button-bkg {
  position: absolute;
  z-index: -999;
}
/* line 369, ../sass/landing2.scss */
.button-bkg.one {
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 374, ../sass/landing2.scss */
.button-bkg.two {
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 381, ../sass/landing2.scss */
.card-container {
  position: relative;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 900;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 40vh;
}

/* line 393, ../sass/landing2.scss */
.container-bkg {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

/* Next & previous buttons */
/* line 405, ../sass/landing2.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* line 420, ../sass/landing2.scss */
.prev {
  left: -50px;
}

/* Position the "next button" to the right */
/* line 427, ../sass/landing2.scss */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 434, ../sass/landing2.scss */
.prev:hover,
.next:hover {
  color: #3d52a1;
}

/* Fading animation */
/* line 442, ../sass/landing2.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 900px) {
  /* line 467, ../sass/landing2.scss */
  .section.two {
    max-width: 60%;
  }
}

/* line 477, ../sass/landing2.scss */
.container.ring-stars :nth-child(1) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  transform: translateZ(-0.8px) scale(1.9) rotate(310deg);
  top: 39vh;
  left: -5%;
  width: 60vw;
}
@media (max-width: 350px) {
  /* line 477, ../sass/landing2.scss */
  .container.ring-stars :nth-child(1) {
    transform: translateZ(-0.8px) scale(1.9) rotate(310deg);
    top: 39vh;
    left: -5%;
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  /* line 477, ../sass/landing2.scss */
  .container.ring-stars :nth-child(1) {
    width: 40vw;
  }
}
/* line 502, ../sass/landing2.scss */
.container.ring-stars :nth-child(2) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 60vh;
  left: 77%;
  z-index: 1100;
}
@media (max-width: 599px) {
  /* line 502, ../sass/landing2.scss */
  .container.ring-stars :nth-child(2) {
    transform: translateZ(-0.4px) scale(0.7);
    z-index: -100;
    top: 30vh;
    right: -46vw;
  }
}

/* line 520, ../sass/landing2.scss */
.section.ring-stars {
  color: white;
  height: 80%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: .8em;
  background: url("../raw/index/geom-22.svg") center/contain no-repeat;
  width: 100%;
  margin-top: 10%;
}

/* line 536, ../sass/landing2.scss */
p.space-below {
  line-height: 1.8em;
  font: italic 300 40px 'raleway';
}
@media (max-width: 599px) {
  /* line 536, ../sass/landing2.scss */
  p.space-below {
    font-size: 180%;
  }
}

@media (min-width: 351px) {
  /* line 544, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 20px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 544, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 24px;
    line-height: 1.2em;
  }
}
@media (min-width: 900px) {
  /* line 544, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  /* line 544, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 28px;
  }
}
@media (min-width: 1800px) {
  /* line 544, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 6vmin;
  }
}

/* line 573, ../sass/landing2.scss */
.section.planet {
  background: url("../raw/index/geom-24.svg") center/contain no-repeat;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 2000;
  min-height: 630px;
}
@media (max-width: 350px) {
  /* line 573, ../sass/landing2.scss */
  .section.planet {
    background-size: 120%;
  }
}
@media (min-width: 700px) and (max-width: 1300px) {
  /* line 573, ../sass/landing2.scss */
  .section.planet {
    width: 80%;
  }
}
/* line 591, ../sass/landing2.scss */
.section.planet .text {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3d52a1;
  font-weight: 500;
}
@media (max-width: 350px) {
  /* line 591, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 25px;
  }
}
@media (min-width: 351px) {
  /* line 591, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 5%;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  /* line 591, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 3%;
  }
}
@media (min-width: 1800px) {
  /* line 591, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 2%;
  }
}
/* line 617, ../sass/landing2.scss */
.section.planet .img-container {
  position: relative;
  width: 100%;
}
/* line 621, ../sass/landing2.scss */
.section.planet img {
  width: 100%;
  height: 100%;
}
/* line 628, ../sass/landing2.scss */
.section.planet p.vstrong {
  font-weight: 800;
}
@media (max-width: 350px) {
  /* line 628, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 30px;
  }
}
@media (min-width: 351px) {
  /* line 628, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 30px;
    line-height: .1em;
  }
}
@media (min-width: 600px) {
  /* line 628, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 40px;
    line-height: .2em;
  }
}
@media (min-width: 900px) {
  /* line 628, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 50px;
    line-height: 0.2em;
  }
}
@media (min-width: 1200px) {
  /* line 628, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 60px;
    line-height: 0em;
  }
}
@media (min-width: 1200px) {
  /* line 657, ../sass/landing2.scss */
  .section.planet p.vstrong.launch {
    margin-top: 50px;
  }
}
/* line 664, ../sass/landing2.scss */
.section.planet p strong.cursive {
  font-family: 'Great Vibes', serif;
  font-weight: normal;
}
@media (max-width: 350px) {
  /* line 664, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 30px;
  }
}
@media (min-width: 351px) {
  /* line 664, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 43px;
    line-height: -0.2em;
  }
}
@media (min-width: 600px) {
  /* line 664, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 50px;
    line-height: 1em;
  }
}
@media (min-width: 900px) {
  /* line 664, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 60px;
    line-height: 1em;
  }
}
@media (min-width: 1200px) {
  /* line 664, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 80px;
    line-height: 1em;
  }
}
@media (max-width: 350px) {
  /* line 696, ../sass/landing2.scss */
  .section.planet p {
    font-size: 16px;
    line-height: 1em;
  }
}
@media (max-width: 599px) {
  /* line 696, ../sass/landing2.scss */
  .section.planet p {
    font-size: 16px;
    line-height: .8em;
  }
}
@media (min-width: 600px) {
  /* line 696, ../sass/landing2.scss */
  .section.planet p {
    font-size: 22px;
    line-height: 1em;
  }
}
@media (min-width: 1200px) {
  /* line 696, ../sass/landing2.scss */
  .section.planet p {
    font-size: 22px;
  }
}
@media (min-width: 1800px) {
  /* line 696, ../sass/landing2.scss */
  .section.planet p {
    font-size: 28px;
  }
}

/* line 725, ../sass/landing2.scss */
.container.planet {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 727, ../sass/landing2.scss */
.container.planet :nth-child(1) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  top: 120vh;
  left: 0px;
  width: 100%;
}
@media (max-width: 599px) {
  /* line 727, ../sass/landing2.scss */
  .container.planet :nth-child(1) {
    transform: translateZ(-0.2px) scale(1.2);
    z-index: -800;
    top: 90vh;
  }
}
/* line 741, ../sass/landing2.scss */
.container.planet :nth-child(2) {
  transform: translateZ(0.2px) scale(0.8);
  z-index: 200;
  top: 34vh;
  left: 16vw;
}
@media (max-width: 599px) {
  /* line 741, ../sass/landing2.scss */
  .container.planet :nth-child(2) {
    top: 71vh;
    left: 6vw;
  }
}
@media (max-width: 1200px) {
  /* line 741, ../sass/landing2.scss */
  .container.planet :nth-child(2) {
    top: 16vh;
    left: 10vw;
  }
}
/* line 757, ../sass/landing2.scss */
.container.planet :nth-child(3) {
  transform: translateZ(-0.2px) scale(1.2);
  z-index: -200;
  top: 10vh;
  right: 10vw;
}
@media (max-width: 1200px) {
  /* line 757, ../sass/landing2.scss */
  .container.planet :nth-child(3) {
    right: 0vw;
  }
}
/* line 765, ../sass/landing2.scss */
.container.planet :nth-child(4) {
  transform: translateZ(0.5px) scale(0.5);
  z-index: 500;
  top: 70vh;
  left: 40vw;
}
@media (max-width: 599px) {
  /* line 765, ../sass/landing2.scss */
  .container.planet :nth-child(4) {
    top: 66vh;
    left: 60vw;
  }
}
/* line 775, ../sass/landing2.scss */
.container.planet :nth-child(5) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 0px;
  left: 0px;
  width: 100%;
}
/* line 786, ../sass/landing2.scss */
.container.planet > * {
  position: absolute;
}

/* line 791, ../sass/landing2.scss */
div.spacer {
  height: 35%;
}
@media (max-width: 350px) {
  /* line 791, ../sass/landing2.scss */
  div.spacer {
    height: 0%;
  }
}
@media (min-width: 351px) {
  /* line 791, ../sass/landing2.scss */
  div.spacer {
    height: 0%;
  }
}
@media (min-width: 600px) {
  /* line 791, ../sass/landing2.scss */
  div.spacer {
    height: 16%;
  }
}
@media (min-width: 900px) {
  /* line 791, ../sass/landing2.scss */
  div.spacer {
    height: 25%;
  }
}
@media (min-width: 1200px) {
  /* line 791, ../sass/landing2.scss */
  div.spacer {
    height: 35%;
  }
}

/* line 821, ../sass/landing2.scss */
div.section.five {
  color: white;
  position: relative;
}
/* line 824, ../sass/landing2.scss */
div.section.five .text {
  margin: 30% auto;
  margin-top: 60%;
  text-align: center;
}
/* line 828, ../sass/landing2.scss */
div.section.five .text p {
  line-height: 2em;
  font-size: 120%;
}

/* line 836, ../sass/landing2.scss */
.parallax-container {
  position: relative;
}

/* line 842, ../sass/landing2.scss */
.container.four {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 844, ../sass/landing2.scss */
.container.four :nth-child(1) {
  transform: translateZ(0.5px) scale(0.5);
  z-index: 500;
  top: -51vh;
  left: 23vw;
  display: none;
}
/* line 850, ../sass/landing2.scss */
.container.four :nth-child(2) {
  transform: translateZ(-0.2px) scale(1.2);
  z-index: -200;
  top: 200px;
  width: 100%;
}
/* line 856, ../sass/landing2.scss */
.container.four :nth-child(3) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  top: 400px;
  left: 150px;
  width: 100%;
}
/* line 867, ../sass/landing2.scss */
.container.four > * {
  position: absolute;
}

/* line 876, ../sass/landing2.scss */
.portfolio-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 10px 0px 10px 30px;
  text-decoration: none;
  color: #3d52a1;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 #3d52a1;
  background-color: white;
  border-radius: 19px;
  font-size: 30px;
  line-height: 2em;
  white-space: nowrap;
  font-family: 'raleway', serif;
  font-weight: 900;
}

/* line 894, ../sass/landing2.scss */
.portfolio-button:focus {
  outline: none;
}

/* line 898, ../sass/landing2.scss */
.portfolio-button:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #f06490;
}

/* line 903, ../sass/landing2.scss */
.portfolio-button span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

/* line 908, ../sass/landing2.scss */
.portfolio-button:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}
/* line 913, ../sass/landing2.scss */
.portfolio-button:hover span:nth-child(2) span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/
/* line 925, ../sass/landing2.scss */
path.one,
path.two,
path.three {
  fill: #3d52a1;
}

/* line 931, ../sass/landing2.scss */
path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

/* line 936, ../sass/landing2.scss */
path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

/* line 941, ../sass/landing2.scss */
.portfolio-button:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

/* line 945, ../sass/landing2.scss */
.portfolio-button:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

/* line 950, ../sass/landing2.scss */
.portfolio-button:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* line 955, ../sass/landing2.scss */
svg#arrow-container {
  padding-top: 10px;
}

/* line 959, ../sass/landing2.scss */
span.arrow {
  line-height: 0em;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #f06490;
  }
  100% {
    fill: white;
  }
}
/* line 980, ../sass/landing2.scss */
div.footer {
  height: auto;
  overflow-y: hidden;
  margin: 20% auto 0% auto;
  color: white;
  position: relative;
}
/* line 983, ../sass/landing2.scss */
div.footer .moon-container {
  width: 100%;
  position: absolute;
}
/* line 984, ../sass/landing2.scss */
div.footer .moon-container img {
  width: 100%;
  margin: -5px auto;
}
/* line 988, ../sass/landing2.scss */
div.footer .moon-container .class {
  display: none;
}
@media (max-width: 599px) {
  /* line 983, ../sass/landing2.scss */
  div.footer .moon-container {
    width: 130%;
    left: 50%;
    transform: translate(-50%);
  }
  /* line 997, ../sass/landing2.scss */
  div.footer .moon-container.mobile-moon {
    display: show;
  }
}
@media (min-width: 1200px) {
  /* line 980, ../sass/landing2.scss */
  div.footer {
    min-height: 1000px;
  }
}
@media (min-width: 1800px) {
  /* line 980, ../sass/landing2.scss */
  div.footer {
    min-height: 1000px;
  }
}

/* line 1019, ../sass/landing2.scss */
.footer.content {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  width: 50%;
}
@media (max-width: 599px) {
  /* line 1019, ../sass/landing2.scss */
  .footer.content {
    width: 90%;
  }
}
/* line 1032, ../sass/landing2.scss */
.footer.content form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 80%;
  margin-top: 5%;
  width: 100%;
}
@media (max-width: 599px) {
  /* line 1032, ../sass/landing2.scss */
  .footer.content form {
    margin-top: 10%;
  }
}
/* line 1044, ../sass/landing2.scss */
.footer.content form p {
  margin: 0;
}
/* line 1048, ../sass/landing2.scss */
.footer.content form input,
.footer.content form textarea {
  padding: 5px 20px 5px 0px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 5%;
  border: none;
  background-color: #2ba4c0;
  color: white;
  border-radius: 15px;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 2px solid #3d52a1;
  margin-bottom: 40px;
  color: #3d52a1;
}
/* line 1064, ../sass/landing2.scss */
.footer.content form input::placeholder,
.footer.content form textarea::placeholder {
  color: rgba(61, 82, 161, 0.5);
}
/* line 1068, ../sass/landing2.scss */
.footer.content form input:focus,
.footer.content form textarea:focus {
  outline: 0;
}
/* line 1076, ../sass/landing2.scss */
.footer.content form textarea {
  min-height: 200px;
  line-height: 1em;
  color: #3d52a1;
}
@media (min-width: 1200px) {
  /* line 1076, ../sass/landing2.scss */
  .footer.content form textarea {
    min-height: 100px;
  }
}
/* line 1085, ../sass/landing2.scss */
.footer.content form label {
  margin-bottom: 1%;
  color: #3d52a1;
}
/* line 1090, ../sass/landing2.scss */
.footer.content form input[type=submit] {
  background-color: white;
  color: #3d52a1;
  cursor: pointer;
  transition: all .4s ease;
  font-weight: 900;
  font-size: 20px;
}
/* line 1097, ../sass/landing2.scss */
.footer.content form input[type=submit]:hover {
  background-color: #3d52a1;
  color: white;
}

/* line 1105, ../sass/landing2.scss */
h2.contact-title {
  text-align: center;
  margin-bottom: 40px;
  color: #3d52a1;
  font-weight: 800;
  font-family: 'raleway';
}

/* line 1113, ../sass/landing2.scss */
.copyright {
  color: #3d52a1;
  margin: 30px auto 0 auto;
}

@media (max-width: 599px) {
  /* line 1119, ../sass/landing2.scss */
  .copyright {
    margin: auto;
    text-align: center;
  }

  /* line 1124, ../sass/landing2.scss */
  .footer.content form textarea {
    min-height: 100px;
  }
}
/* line 1134, ../sass/landing2.scss */
div.sm-links {
  margin-top: 60px;
  text-align: center;
  width: 100%;
}

/* line 1139, ../sass/landing2.scss */
ul.sm {
  list-style: none;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 30px;
}
/* line 1147, ../sass/landing2.scss */
ul.sm li.sm a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 25px;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
/* line 1161, ../sass/landing2.scss */
ul.sm li.sm a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
  display: none;
}
/* line 1168, ../sass/landing2.scss */
ul.sm li.sm a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
/* line 1172, ../sass/landing2.scss */
ul.sm li.sm a:hover span {
  left: 0;
  display: initial;
}
/* line 1176, ../sass/landing2.scss */
ul.sm li.sm a:hover svg {
  fill: #fff;
  margin-left: 20px;
}
/* line 1181, ../sass/landing2.scss */
ul.sm li.sm a:hover i {
  position: absolute;
  right: 0px;
  top: 50%;
  left: 50%;
}
/* line 1190, ../sass/landing2.scss */
ul.sm li.sm a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  width: .8em;
  height: .8em;
  fill: #3d52a1;
}
/* line 1202, ../sass/landing2.scss */
ul.sm li.sm .transparency {
  background: rgba(255, 255, 255, 0.5);
  border-color: #3d52a1;
  color: #3d52a1;
}
/* line 1206, ../sass/landing2.scss */
ul.sm li.sm .transparency:hover {
  background: #3d52a1;
}

/* line 1218, ../sass/landing2.scss */
div.section.timeline {
  height: 100%;
}
/* line 1220, ../sass/landing2.scss */
div.section.timeline * {
  transform-style: flat;
}

/* line 1227, ../sass/landing2.scss */
.container.timeline :nth-child(1) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  width: 100%;
  left: 0px;
}

/* line 1234, ../sass/landing2.scss */
.btn-container {
  position: relative;
  background-color: grey;
  z-index: 1400;
}
/* line 1237, ../sass/landing2.scss */
.btn-container h4 {
  color: #3d52a1;
  display: inline-block;
}

/* line 1244, ../sass/landing2.scss */
.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6,
.tl-text p,
.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon,
.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon,
.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title,
.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title,
.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description,
.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description,
.tl-credit {
  color: #3d52a1;
}

/* line 1261, ../sass/landing2.scss */
.tl-text .tl-headline-date,
.tl-text h3.tl-headline-date,
.tl-caption {
  color: #788acc;
}

/* line 1267, ../sass/landing2.scss */
h2.tl-headline {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 1272, ../sass/landing2.scss */
.tl-timeline p {
  font-size: 15px;
}

/* line 1282, ../sass/landing2.scss */
body {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  perspective: none;
}

/* line 1289, ../sass/landing2.scss */
html {
  box-sizing: border-box;
}

/* line 1292, ../sass/landing2.scss */
*, *:after, *:before {
  box-sizing: inherit;
}

/* line 1298, ../sass/landing2.scss */
#new-menu {
  color: #f06490;
  right: 30px;
  z-index: 10000;
  position: fixed;
  top: 80px;
  left: 5vw;
  width: 50px;
  height: 50px;
}
/* line 1311, ../sass/landing2.scss */
#new-menu p {
  color: white;
  text-align: center;
  margin-left: 1vw;
}

/* line 1319, ../sass/landing2.scss */
span.menu-icon {
  color: #f06490;
}

/* line 1323, ../sass/landing2.scss */
.wrappery {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  perspective: 1px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transform-style: preserve-3d;
}

/* line 1338, ../sass/landing2.scss */
html {
  box-sizing: border-box;
}

/* line 1341, ../sass/landing2.scss */
*, *:after, *:before {
  box-sizing: inherit;
}

/* line 1348, ../sass/landing2.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 1353, ../sass/landing2.scss */
.open {
  position: fixed;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
/* line 1360, ../sass/landing2.scss */
.open::before {
  content: 'menu';
  color: white;
  display: block;
  position: absolute;
  top: -24%;
  left: 13%;
}
/* line 1368, ../sass/landing2.scss */
.open:hover {
  opacity: 0.94;
}
/* line 1371, ../sass/landing2.scss */
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
/* line 1384, ../sass/landing2.scss */
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
/* line 1388, ../sass/landing2.scss */
.open span:nth-child(2) {
  margin-top: 25px;
}
/* line 1391, ../sass/landing2.scss */
.open span:nth-child(3) {
  margin-top: 40px;
}

/* line 1396, ../sass/landing2.scss */
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f06490;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
/* line 1407, ../sass/landing2.scss */
.sub-menu li {
  display: block;
  float: left;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 1414, ../sass/landing2.scss */
.sub-menu li:first-child {
  margin-top: 150px;
}
/* line 1417, ../sass/landing2.scss */
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
/* line 1420, ../sass/landing2.scss */
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
/* line 1423, ../sass/landing2.scss */
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
/* line 1426, ../sass/landing2.scss */
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
/* line 1429, ../sass/landing2.scss */
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
/* line 1432, ../sass/landing2.scss */
.sub-menu li a {
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
/* line 1440, ../sass/landing2.scss */
.sub-menu li a:hover {
  color: #3d52a1;
}

/* line 1448, ../sass/landing2.scss */
.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
/* line 1453, ../sass/landing2.scss */
.oppenned span:nth-child(2) {
  overflow: visible;
}
/* line 1456, ../sass/landing2.scss */
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
/* line 1460, ../sass/landing2.scss */
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
/* line 1463, ../sass/landing2.scss */
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  left: -70px;
  top: -160px;
  border-radius: 50%;
  background-color: #f06490;
}
/* line 1471, ../sass/landing2.scss */
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
/* line 1474, ../sass/landing2.scss */
.oppenned li {
  margin-left: 100px;
}

/* line 1478, ../sass/landing2.scss */
.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
/* line 1488, ../sass/landing2.scss */
.button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
/* line 1498, ../sass/landing2.scss */
.button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
/* line 1512, ../sass/landing2.scss */
.button:hover {
  text-decoration: none;
}
/* line 1514, ../sass/landing2.scss */
.button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
/* line 1517, ../sass/landing2.scss */
.button:hover:before {
  transform: translateY(0);
}

/* line 1527, ../sass/landing2.scss */
#new-menu * {
  transform-style: flat;
}

@media (max-width: 599px) {
  /* line 1532, ../sass/landing2.scss */
  #new-menu {
    left: 1vw;
  }
}
