/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
/* line 74, ../sass/stylesheet.scss */
h1 {
  font-family: 'SFN Republic';
}
@media (min-width: 351px) {
  /* line 74, ../sass/stylesheet.scss */
  h1 {
    font-size: 16vmin;
  }
}
@media (min-width: 600px) {
  /* line 74, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 900px) {
  /* line 74, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 1200px) {
  /* line 74, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 1800px) {
  /* line 74, ../sass/stylesheet.scss */
  h1 {
    font-size: 10vmin;
  }
}

/* line 96, ../sass/stylesheet.scss */
h2 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 96, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 96, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 96, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 96, ../sass/stylesheet.scss */
  h2 {
    font-size: 6vmin;
  }
}
@media (min-width: 1800px) {
  /* line 96, ../sass/stylesheet.scss */
  h2 {
    font-size: 10vmin;
  }
}

/* line 121, ../sass/stylesheet.scss */
h3 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 121, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 121, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 900px) {
  /* line 121, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1200px) {
  /* line 121, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1800px) {
  /* line 121, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 146, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 146, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 18px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 146, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 20px;
    line-height: 1.2em;
  }
}
@media (min-width: 900px) {
  /* line 146, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 146, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 22px;
  }
}
@media (min-width: 1800px) {
  /* line 146, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 5vmin;
  }
}

/* line 172, ../sass/stylesheet.scss */
a {
  font-family: 'arcon';
}

/* line 176, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/* line 197, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 205, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 211, ../sass/stylesheet.scss */
input {
  border: none;
}

/* line 69, ../sass/landing2.scss */
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background: #3d52a1;
  line-height: 1;
  position: relative;
}

/* line 78, ../sass/landing2.scss */
h1,
h2 {
  margin: 0;
}

/* line 83, ../sass/landing2.scss */
h1 {
  color: #1586D1;
}

/* line 19, ../sass/landing2.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 28, ../sass/landing2.scss */
body {
  overflow: auto;
  perspective: 1px;
  transform-style: preserve-3d;
}
/* line 35, ../sass/landing2.scss */
body,
body * {
  transform-style: preserve-3d;
}

/* line 93, ../sass/landing2.scss */
.container {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 98, ../sass/landing2.scss */
.container > * {
  position: absolute;
}

/* line 104, ../sass/landing2.scss */
.container.one :nth-child(1) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 5%;
  left: 0px;
}
/* line 109, ../sass/landing2.scss */
.container.one :nth-child(2) {
  transform: translateZ(0px) scale(1);
  z-index: 0;
  top: 0%;
  right: 0px;
}
/* line 114, ../sass/landing2.scss */
.container.one :nth-child(3) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 600px;
  left: 300px;
}
/* line 119, ../sass/landing2.scss */
.container.one :nth-child(4) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  top: 500px;
  left: 1200px;
}
/* line 124, ../sass/landing2.scss */
.container.one :nth-child(5) {
  transform: translateZ(-2px) scale(3);
  z-index: -2000;
  top: 2000px;
  left: 2000px;
}
/* line 129, ../sass/landing2.scss */
.container.one :nth-child(6) {
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 600px;
  left: 300px;
}
/* line 134, ../sass/landing2.scss */
.container.one :nth-child(7) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 400px;
  left: 1000px;
}
/* line 139, ../sass/landing2.scss */
.container.one :nth-child(8) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1600px;
  left: 1400px;
}
/* line 144, ../sass/landing2.scss */
.container.one :nth-child(9) {
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 1600px;
  left: 500px;
}
/* line 149, ../sass/landing2.scss */
.container.one :nth-child(10) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 1600px;
  left: -600px;
}
/* line 155, ../sass/landing2.scss */
.container.one :nth-child(11) {
  transform: translateZ(0.6px) scale(0.4);
  z-index: 600;
  top: 1600px;
  left: 100px;
}
/* line 160, ../sass/landing2.scss */
.container.one :nth-child(12) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1200px;
  left: -20px;
}
/* line 165, ../sass/landing2.scss */
.container.one :nth-child(13) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 2000px;
  left: 400px;
  display: none;
}
/* line 171, ../sass/landing2.scss */
.container.one :nth-child(14) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 2600px;
  left: 77%;
  z-index: 1100;
  display: none;
}
/* line 178, ../sass/landing2.scss */
.container.one :nth-child(15) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  top: 2200px;
  left: -150px;
  display: none;
}
/* line 184, ../sass/landing2.scss */
.container.one :nth-child(16) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1400px;
  left: 850px;
}
/* line 189, ../sass/landing2.scss */
.container.one :nth-child(17) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 3800px;
  left: 0px;
  display: none;
}

/* line 198, ../sass/landing2.scss */
.section {
  height: 80%;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  width: 80%;
  margin: 0 auto;
}

/* line 215, ../sass/landing2.scss */
.section.one {
  margin-top: 15vh;
  height: 60vh;
  margin-bottom: 40vh;
}

/* line 223, ../sass/landing2.scss */
.name-plaque h1 {
  text-align: center;
}
@media (min-width: 351px) {
  /* line 223, ../sass/landing2.scss */
  .name-plaque h1 {
    font-size: 70px;
  }
}

/* line 239, ../sass/landing2.scss */
.title-plaque {
  background-color: white;
  width: 70vw;
  height: 50vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 252, ../sass/landing2.scss */
.blue-triangle {
  position: absolute;
}
/* line 255, ../sass/landing2.scss */
.blue-triangle.top {
  top: -20px;
  right: -20px;
}
/* line 260, ../sass/landing2.scss */
.blue-triangle.bottom {
  bottom: -20px;
  left: -20px;
}

/* line 271, ../sass/landing2.scss */
.card-bkg {
  background-color: white;
  display: none;
}

/* line 276, ../sass/landing2.scss */
.card-content {
  background-color: white;
  z-index: 999;
  color: #3d52a1;
  height: auto;
  box-sizing: border-box;
  padding: 5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 290, ../sass/landing2.scss */
.card-content h2 {
  text-align: center;
}

/* line 297, ../sass/landing2.scss */
.button-bkg {
  position: absolute;
  z-index: -999;
}
/* line 300, ../sass/landing2.scss */
.button-bkg.one {
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 305, ../sass/landing2.scss */
.button-bkg.two {
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 312, ../sass/landing2.scss */
.card-container {
  position: relative;
  height: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 900;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 40vh;
}

/* line 329, ../sass/landing2.scss */
.container-bkg {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

/* Next & previous buttons */
/* line 341, ../sass/landing2.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* line 356, ../sass/landing2.scss */
.prev {
  left: -50px;
}

/* Position the "next button" to the right */
/* line 363, ../sass/landing2.scss */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 370, ../sass/landing2.scss */
.prev:hover,
.next:hover {
  color: #3d52a1;
}

/* Fading animation */
/* line 378, ../sass/landing2.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* line 408, ../sass/landing2.scss */
.container.ring-stars :nth-child(1) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  top: 70vh;
  left: 4%;
}
/* line 413, ../sass/landing2.scss */
.container.ring-stars :nth-child(2) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 60vh;
  left: 77%;
  z-index: 1100;
}

/* line 423, ../sass/landing2.scss */
.section.ring-stars {
  color: white;
  height: 80%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: .8em;
  background: url("../raw/index/geom-22.svg") center/contain no-repeat;
  width: 100%;
  margin-top: 10%;
}

/* line 439, ../sass/landing2.scss */
p.space-below {
  line-height: 1.8em;
  font: italic 300 40px 'raleway';
}

@media (min-width: 351px) {
  /* line 444, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 20px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 444, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 24px;
    line-height: 1.2em;
  }
}
@media (min-width: 900px) {
  /* line 444, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  /* line 444, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 28px;
  }
}
@media (min-width: 1800px) {
  /* line 444, ../sass/landing2.scss */
  .ring-stars p {
    font-size: 6vmin;
  }
}

/* line 472, ../sass/landing2.scss */
.section.planet {
  background: url("../raw/index/geom-24.svg") center/contain no-repeat;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 2000;
}
@media (max-width: 350px) {
  /* line 472, ../sass/landing2.scss */
  .section.planet {
    background-size: 120%;
  }
}
/* line 484, ../sass/landing2.scss */
.section.planet .text {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3d52a1;
  font-weight: 500;
}
@media (max-width: 350px) {
  /* line 484, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 25px;
  }
}
@media (min-width: 351px) {
  /* line 484, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 5%;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  /* line 484, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 3%;
  }
}
@media (min-width: 1800px) {
  /* line 484, ../sass/landing2.scss */
  .section.planet .text {
    margin-top: 2%;
  }
}
/* line 510, ../sass/landing2.scss */
.section.planet .img-container {
  position: relative;
  width: 100%;
}
/* line 514, ../sass/landing2.scss */
.section.planet img {
  width: 100%;
  height: 100%;
}
/* line 519, ../sass/landing2.scss */
.section.planet p {
  font-size: 28px;
  line-height: 1em;
}
/* line 524, ../sass/landing2.scss */
.section.planet p.vstrong {
  font-weight: 800;
  font-size: 60px;
  line-height: .6em;
}
@media (max-width: 350px) {
  /* line 524, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 16px;
  }
}
@media (min-width: 351px) {
  /* line 524, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 30px;
    line-height: .1em;
  }
}
@media (min-width: 600px) {
  /* line 524, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 40px;
    line-height: .4em;
  }
}
@media (min-width: 900px) {
  /* line 524, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 50px;
    line-height: 0.4em;
  }
}
@media (min-width: 1200px) {
  /* line 524, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 60px;
    line-height: 0em;
  }
}
@media (min-width: 1800px) {
  /* line 524, ../sass/landing2.scss */
  .section.planet p.vstrong {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  /* line 558, ../sass/landing2.scss */
  .section.planet p.vstrong.launch {
    margin-top: 50px;
  }
}
/* line 565, ../sass/landing2.scss */
.section.planet p strong.cursive {
  font-family: 'Great Vibes', serif;
  font-size: 80px;
  line-height: 1.2em;
  font-weight: normal;
}
@media (max-width: 350px) {
  /* line 565, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 30px;
  }
}
@media (min-width: 351px) {
  /* line 565, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 43px;
    line-height: -0.2em;
  }
}
@media (min-width: 600px) {
  /* line 565, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 50px;
    line-height: 1em;
  }
}
@media (min-width: 900px) {
  /* line 565, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 60px;
    line-height: 1em;
  }
}
@media (min-width: 1200px) {
  /* line 565, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 80px;
    line-height: 1em;
  }
}
@media (min-width: 1800px) {
  /* line 565, ../sass/landing2.scss */
  .section.planet p strong.cursive {
    font-size: 28px;
  }
}
@media (max-width: 350px) {
  /* line 600, ../sass/landing2.scss */
  .section.planet p {
    font-size: 16px;
    line-height: 1em;
  }
}
@media (min-width: 351px) {
  /* line 600, ../sass/landing2.scss */
  .section.planet p {
    font-size: 18px;
    line-height: .8em;
  }
}
@media (min-width: 600px) {
  /* line 600, ../sass/landing2.scss */
  .section.planet p {
    font-size: 20px;
    line-height: 1em;
  }
}
@media (min-width: 900px) {
  /* line 600, ../sass/landing2.scss */
  .section.planet p {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  /* line 600, ../sass/landing2.scss */
  .section.planet p {
    font-size: 24px;
  }
}
@media (min-width: 1800px) {
  /* line 600, ../sass/landing2.scss */
  .section.planet p {
    font-size: 28px;
  }
}

/* line 633, ../sass/landing2.scss */
.container.planet {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 635, ../sass/landing2.scss */
.container.planet :nth-child(1) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  top: 120vh;
  left: 0px;
  width: 100%;
}
/* line 642, ../sass/landing2.scss */
.container.planet :nth-child(2) {
  transform: translateZ(0.2px) scale(0.8);
  z-index: 200;
  top: 34vh;
  left: 16vw;
}
/* line 647, ../sass/landing2.scss */
.container.planet :nth-child(3) {
  transform: translateZ(-0.2px) scale(1.2);
  z-index: -200;
  top: 10vh;
  right: 10vw;
}
/* line 652, ../sass/landing2.scss */
.container.planet :nth-child(4) {
  transform: translateZ(0.5px) scale(0.5);
  z-index: 500;
  top: 70vh;
  left: 40vw;
}
/* line 657, ../sass/landing2.scss */
.container.planet :nth-child(5) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 0px;
  left: 0px;
  width: 100%;
}
/* line 668, ../sass/landing2.scss */
.container.planet > * {
  position: absolute;
}

/* line 673, ../sass/landing2.scss */
div.spacer {
  height: 35%;
}
@media (max-width: 350px) {
  /* line 673, ../sass/landing2.scss */
  div.spacer {
    height: 0%;
  }
}
@media (min-width: 351px) {
  /* line 673, ../sass/landing2.scss */
  div.spacer {
    height: 0%;
  }
}
@media (min-width: 600px) {
  /* line 673, ../sass/landing2.scss */
  div.spacer {
    height: 16%;
  }
}
@media (min-width: 900px) {
  /* line 673, ../sass/landing2.scss */
  div.spacer {
    height: 25%;
  }
}
@media (min-width: 1200px) {
  /* line 673, ../sass/landing2.scss */
  div.spacer {
    height: 35%;
  }
}

/* line 703, ../sass/landing2.scss */
div.section.five {
  color: white;
  position: relative;
}
/* line 706, ../sass/landing2.scss */
div.section.five .text {
  margin: 30% auto;
  margin-top: 60%;
  text-align: center;
  font-size: 50px;
}
/* line 711, ../sass/landing2.scss */
div.section.five .text p {
  line-height: 2em;
}

/* line 718, ../sass/landing2.scss */
.parallax-container {
  position: relative;
}

/* line 723, ../sass/landing2.scss */
.container.four {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 725, ../sass/landing2.scss */
.container.four :nth-child(1) {
  transform: translateZ(0.3px) scale(0.7);
  z-index: 300;
  top: 69vh;
  left: 18vw;
}
/* line 730, ../sass/landing2.scss */
.container.four :nth-child(2) {
  transform: translateZ(-0.2px) scale(1.2);
  z-index: -200;
  top: 200px;
  width: 100%;
}
/* line 736, ../sass/landing2.scss */
.container.four :nth-child(3) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  top: 400px;
  left: 150px;
  width: 100%;
}
/* line 747, ../sass/landing2.scss */
.container.four > * {
  position: absolute;
}

/* line 756, ../sass/landing2.scss */
.portfolio-button {
  display: flex;
  padding: 10px 0px 10px 30px;
  text-decoration: none;
  color: #3d52a1;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 #3d52a1;
  background-color: white;
  border-radius: 19px;
  font-size: 30px;
  line-height: 2em;
  white-space: nowrap;
  font-family: 'raleway', serif;
  font-weight: 900;
}

/* line 775, ../sass/landing2.scss */
.portfolio-button:focus {
  outline: none;
}

/* line 779, ../sass/landing2.scss */
.portfolio-button:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #f06490;
}

/* line 784, ../sass/landing2.scss */
.portfolio-button span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

/* line 789, ../sass/landing2.scss */
.portfolio-button:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}
/* line 797, ../sass/landing2.scss */
.portfolio-button:hover span:nth-child(2) span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/
/* line 808, ../sass/landing2.scss */
path.one, path.two, path.three {
  fill: #3d52a1;
}

/* line 812, ../sass/landing2.scss */
path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

/* line 817, ../sass/landing2.scss */
path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

/* line 822, ../sass/landing2.scss */
.portfolio-button:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

/* line 826, ../sass/landing2.scss */
.portfolio-button:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

/* line 831, ../sass/landing2.scss */
.portfolio-button:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* line 836, ../sass/landing2.scss */
svg#arrow-container {
  padding-top: 10px;
}

/* line 840, ../sass/landing2.scss */
span.arrow {
  line-height: 0em;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #f06490;
  }
  100% {
    fill: white;
  }
}
/* line 861, ../sass/landing2.scss */
div.footer {
  height: 100%;
  overflow-y: hidden;
  margin: 20% auto 0% auto;
  color: white;
  position: relative;
  height: 120%;
}
/* line 864, ../sass/landing2.scss */
div.footer .moon-container {
  width: 100%;
  position: absolute;
}
/* line 865, ../sass/landing2.scss */
div.footer .moon-container img {
  width: 100%;
  margin: -5px auto;
}
/* line 869, ../sass/landing2.scss */
div.footer .moon-container .class {
  display: none;
}
@media (max-width: 599px) {
  /* line 864, ../sass/landing2.scss */
  div.footer .moon-container {
    width: 130%;
    left: 50%;
    transform: translate(-50%);
  }
  /* line 878, ../sass/landing2.scss */
  div.footer .moon-container.mobile-moon {
    display: show;
  }
}
@media (min-width: 1200px) {
  /* line 861, ../sass/landing2.scss */
  div.footer {
    min-height: 1000px;
  }
}
@media (min-width: 1800px) {
  /* line 861, ../sass/landing2.scss */
  div.footer {
    min-height: 1000px;
  }
}

/* line 901, ../sass/landing2.scss */
.footer.content {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  width: 50%;
}
@media (max-width: 599px) {
  /* line 901, ../sass/landing2.scss */
  .footer.content {
    width: 90%;
  }
}
/* line 916, ../sass/landing2.scss */
.footer.content form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 80%;
  margin-top: 5%;
  width: 100%;
}
@media (max-width: 599px) {
  /* line 916, ../sass/landing2.scss */
  .footer.content form {
    margin-top: 10%;
  }
}
/* line 928, ../sass/landing2.scss */
.footer.content form p {
  margin: 0;
}
/* line 932, ../sass/landing2.scss */
.footer.content form input,
.footer.content form textarea {
  padding: 5px 20px 5px 0px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 5%;
  border: none;
  background-color: #2ba4c0;
  color: white;
  border-radius: 15px;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 2px solid #3d52a1;
  margin-bottom: 40px;
  color: #3d52a1;
}
/* line 950, ../sass/landing2.scss */
.footer.content form input:focus,
.footer.content form textarea:focus {
  outline: 0;
}
/* line 956, ../sass/landing2.scss */
.footer.content form textarea {
  min-height: 200px;
  line-height: 1em;
  color: #3d52a1;
}
@media (min-width: 1200px) {
  /* line 956, ../sass/landing2.scss */
  .footer.content form textarea {
    min-height: 100px;
  }
}
/* line 965, ../sass/landing2.scss */
.footer.content form label {
  margin-bottom: 1%;
  color: #3d52a1;
}
/* line 971, ../sass/landing2.scss */
.footer.content form input[type=submit] {
  background-color: white;
  color: #3d52a1;
  cursor: pointer;
  transition: all .4s ease;
  font-weight: 900;
  font-size: 20px;
}
/* line 978, ../sass/landing2.scss */
.footer.content form input[type=submit]:hover {
  background-color: #3d52a1;
  color: white;
}

/* line 986, ../sass/landing2.scss */
h2.contact-title {
  text-align: center;
  margin-bottom: 30px;
  color: #3d52a1;
  font-weight: 800;
  font-family: 'raleway';
}

/* line 1002, ../sass/landing2.scss */
ul.sm {
  list-style: none;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
/* line 1009, ../sass/landing2.scss */
ul.sm li.sm a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 25px;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
/* line 1023, ../sass/landing2.scss */
ul.sm li.sm a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
  display: none;
}
/* line 1030, ../sass/landing2.scss */
ul.sm li.sm a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
/* line 1034, ../sass/landing2.scss */
ul.sm li.sm a:hover span {
  left: 0;
  display: initial;
}
/* line 1038, ../sass/landing2.scss */
ul.sm li.sm a:hover svg {
  fill: #fff;
  margin-left: 20px;
}
/* line 1043, ../sass/landing2.scss */
ul.sm li.sm a:hover i {
  position: absolute;
  right: 0px;
  top: 50%;
  left: 50%;
}
/* line 1052, ../sass/landing2.scss */
ul.sm li.sm a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  width: .8em;
  height: .8em;
  fill: #3d52a1;
}
/* line 1064, ../sass/landing2.scss */
ul.sm li.sm .transparency {
  background: rgba(255, 255, 255, 0.5);
  border-color: #3d52a1;
  color: #3d52a1;
}
/* line 1068, ../sass/landing2.scss */
ul.sm li.sm .transparency:hover {
  background: #3d52a1;
}

/* line 1080, ../sass/landing2.scss */
div.section.timeline {
  height: 100%;
}

/* line 1086, ../sass/landing2.scss */
.container.timeline :nth-child(1) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  width: 100%;
  left: 0px;
}

/* line 1093, ../sass/landing2.scss */
.btn-container {
  position: relative;
  background-color: grey;
  z-index: 1400;
}
/* line 1096, ../sass/landing2.scss */
.btn-container h4 {
  color: #3d52a1;
  display: inline-block;
}

@media only screen and (min-width: 321px) {
  /* Styles */
}
/* line 1114, ../sass/landing2.scss */
body * {
  transform-style: flat;
}

/* line 1118, ../sass/landing2.scss */
body {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
