/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.ttf) format("truetype");
}
/* line 55, ../sass/stylesheet.scss */
h1 {
  font-family: 'SFN Republic';
}
@media (max-width: 599px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 900px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 1200px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 1800px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 10vmin;
  }
}

/* line 77, ../sass/stylesheet.scss */
h2 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (max-width: 599px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 6vmin;
  }
}
@media (min-width: 1800px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 10vmin;
  }
}

/* line 102, ../sass/stylesheet.scss */
h3 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (max-width: 599px) {
  /* line 102, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 102, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 900px) {
  /* line 102, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1200px) {
  /* line 102, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1800px) {
  /* line 102, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 127, ../sass/stylesheet.scss */
p {
  font-family: 'raleway';
}
@media (max-width: 599px) {
  /* line 127, ../sass/stylesheet.scss */
  p {
    font-size: 18px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 127, ../sass/stylesheet.scss */
  p {
    font-size: 20px;
    line-height: 1.2em;
  }
}
@media (min-width: 900px) {
  /* line 127, ../sass/stylesheet.scss */
  p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 127, ../sass/stylesheet.scss */
  p {
    font-size: 22px;
  }
}
@media (min-width: 1800px) {
  /* line 127, ../sass/stylesheet.scss */
  p {
    font-size: 10vmin;
  }
}

/* line 153, ../sass/stylesheet.scss */
a {
  font-family: 'arcon';
}

/* line 157, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/* line 176, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 184, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 71, ../sass/landing2.scss */
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background: #3d52a1;
  line-height: 1;
  position: relative;
}

/* line 81, ../sass/landing2.scss */
h1,
h2 {
  margin: 0;
}

/* line 86, ../sass/landing2.scss */
h1 {
  color: #1586D1;
}

/* line 23, ../sass/landing2.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 32, ../sass/landing2.scss */
body {
  overflow: auto;
  perspective: 1px;
  transform-style: preserve-3d;
}
/* line 39, ../sass/landing2.scss */
body,
body * {
  transform-style: preserve-3d;
}

/* line 97, ../sass/landing2.scss */
.container {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 98, ../sass/landing2.scss */
.container :nth-child(1) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 5%;
  left: 0px;
}
/* line 103, ../sass/landing2.scss */
.container :nth-child(2) {
  transform: translateZ(0px) scale(1);
  z-index: 0;
  top: 0%;
  right: 0px;
}
/* line 108, ../sass/landing2.scss */
.container :nth-child(3) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 600px;
  left: 300px;
}
/* line 113, ../sass/landing2.scss */
.container :nth-child(4) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  top: 500px;
  left: 1200px;
}
/* line 118, ../sass/landing2.scss */
.container :nth-child(5) {
  transform: translateZ(-2px) scale(3);
  z-index: -2000;
  top: 2000px;
  left: 2000px;
}
/* line 123, ../sass/landing2.scss */
.container :nth-child(6) {
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 600px;
  left: 300px;
}
/* line 128, ../sass/landing2.scss */
.container :nth-child(7) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 400px;
  left: 1000px;
}
/* line 133, ../sass/landing2.scss */
.container :nth-child(8) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1600px;
  left: 1400px;
}
/* line 138, ../sass/landing2.scss */
.container :nth-child(9) {
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 1600px;
  left: 500px;
}
/* line 143, ../sass/landing2.scss */
.container :nth-child(10) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 1600px;
  left: -600px;
}
/* line 149, ../sass/landing2.scss */
.container :nth-child(11) {
  transform: translateZ(0.6px) scale(0.4);
  z-index: 600;
  top: 1600px;
  left: 100px;
}
/* line 154, ../sass/landing2.scss */
.container :nth-child(12) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1200px;
  left: -20px;
}
/* line 159, ../sass/landing2.scss */
.container :nth-child(13) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 2000px;
  left: 400px;
  display: none;
}
/* line 167, ../sass/landing2.scss */
.container :nth-child(14) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 2200px;
  left: 70%;
}
/* line 172, ../sass/landing2.scss */
.container :nth-child(15) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  top: 2200px;
  left: -150px;
  display: none;
}
/* line 178, ../sass/landing2.scss */
.container :nth-child(16) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 1400px;
  left: 850px;
}
/* line 183, ../sass/landing2.scss */
.container :nth-child(17) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 3800px;
  left: 0px;
  display: none;
}
/* line 194, ../sass/landing2.scss */
.container > * {
  position: absolute;
}

/* line 199, ../sass/landing2.scss */
.section {
  height: 80%;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  width: 80%;
  margin: 0 auto;
}

/* line 219, ../sass/landing2.scss */
.section.one {
  margin-top: 15%;
}

/* line 223, ../sass/landing2.scss */
.name-plaque img {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

/* line 231, ../sass/landing2.scss */
.name-plaque h1 {
  position: absolute;
}

/* line 241, ../sass/landing2.scss */
.card-bkg {
  background-color: white;
  display: none;
}

/* line 245, ../sass/landing2.scss */
.card-content {
  background-color: white;
  z-index: 999;
  color: #3d52a1;
  height: auto;
  box-sizing: border-box;
  padding: 5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 259, ../sass/landing2.scss */
.card-content h2 {
  text-align: center;
}

/* line 267, ../sass/landing2.scss */
.button-bkg {
  position: absolute;
  z-index: -999;
}
/* line 270, ../sass/landing2.scss */
.button-bkg.one {
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 275, ../sass/landing2.scss */
.button-bkg.two {
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 282, ../sass/landing2.scss */
.card-container {
  position: relative;
  height: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 900;
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

/* line 298, ../sass/landing2.scss */
.container-bkg {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

/* Next & previous buttons */
/* line 309, ../sass/landing2.scss */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* line 323, ../sass/landing2.scss */
.prev {
  left: -50px;
}

/* Position the "next button" to the right */
/* line 329, ../sass/landing2.scss */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 335, ../sass/landing2.scss */
.prev:hover, .next:hover {
  color: #3d52a1;
}

/* Fading animation */
/* line 341, ../sass/landing2.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
/* line 362, ../sass/landing2.scss */
.three {
  color: white;
  height: 80%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  line-height: .8em;
  background: url("../raw/geom-13.svg") center/contain no-repeat;
  width: 100%;
}

/* line 378, ../sass/landing2.scss */
p.space-below {
  line-height: 1.8em;
  font: italic 300 40px 'raleway';
}

/* line 387, ../sass/landing2.scss */
.section.four {
  width: 100%;
  height: 80%;
  color: white;
}
/* line 394, ../sass/landing2.scss */
.section.four .text {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  line-height: 1em;
}
/* line 405, ../sass/landing2.scss */
.section.four .img-container {
  position: relative;
  width: 100%;
}
/* line 409, ../sass/landing2.scss */
.section.four img {
  width: 100%;
  height: 100%;
}
/* line 414, ../sass/landing2.scss */
.section.four p {
  font-size: 30px;
}
/* line 418, ../sass/landing2.scss */
.section.four p.vstrong {
  font-weight: 800;
  font-size: 60px;
  line-height: .6em;
}
/* line 423, ../sass/landing2.scss */
.section.four p strong.cursive {
  font-family: 'Great Vibes', serif;
  font-size: 80px;
  line-height: 1.2em;
  font-weight: normal;
}
/* line 430, ../sass/landing2.scss */
.section.four p.launch {
  margin-top: 0px;
}

/* line 435, ../sass/landing2.scss */
.container-two {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 437, ../sass/landing2.scss */
.container-two :nth-child(1) {
  transform: translateZ(-0.8px) scale(1.8);
  z-index: -800;
  top: 1200px;
  left: 0px;
  width: 100%;
}
/* line 443, ../sass/landing2.scss */
.container-two :nth-child(2) {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 800px;
  left: 300px;
}
/* line 448, ../sass/landing2.scss */
.container-two :nth-child(3) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 2300px;
  left: 0px;
  width: 100%;
}
/* line 455, ../sass/landing2.scss */
.container-two :nth-child(4) {
  transform: translateZ(-2px) scale(3);
  z-index: -2000;
  top: 2000px;
  left: 300px;
  width: 100%;
}
/* line 466, ../sass/landing2.scss */
.container-two > * {
  position: absolute;
}

/* line 471, ../sass/landing2.scss */
div.spacer {
  height: 35%;
}

/* line 475, ../sass/landing2.scss */
div.section.five {
  color: white;
  position: relative;
}
/* line 478, ../sass/landing2.scss */
div.section.five .text {
  margin: 30% 10%;
  margin-top: 60%;
  text-align: center;
}

/* line 486, ../sass/landing2.scss */
.parallax-container {
  position: relative;
}

/* line 489, ../sass/landing2.scss */
.container-three {
  padding: 1%;
  max-width: 100%;
  margin: auto;
}
/* line 490, ../sass/landing2.scss */
.container-three :nth-child(1) {
  transform: translateZ(0.3px) scale(0.7);
  z-index: 300;
  top: 500px;
  left: 260px;
}
/* line 496, ../sass/landing2.scss */
.container-three :nth-child(2) {
  transform: translateZ(-0.2px) scale(1.2);
  z-index: -200;
  top: 100px;
  width: 100%;
}
/* line 502, ../sass/landing2.scss */
.container-three :nth-child(3) {
  transform: translateZ(-0.6px) scale(1.6);
  z-index: -600;
  top: 200px;
  left: 150px;
  width: 100%;
}
/* line 513, ../sass/landing2.scss */
.container-three > * {
  position: absolute;
}

/* line 519, ../sass/landing2.scss */
div.footer {
  margin-top: 20%;
  height: 100%;
  overflow-y: hidden;
}
/* line 523, ../sass/landing2.scss */
div.footer img {
  width: 100%;
}

/* line 529, ../sass/landing2.scss */
.portfolio-button {
  background-color: white;
  padding: 10px 30px;
  border-radius: 19px;
  text-decoration: none;
  color: #3d52a1;
  font-size: 30px;
  font-weight: bold;
  line-height: 2em;
}

/* line 547, ../sass/landing2.scss */
div.section.timeline {
  height: 80%;
}

@media only screen and (min-width: 321px) {
  /* Styles */
}
/* line 565, ../sass/landing2.scss */
body * {
  transform-style: flat;
}

/* line 569, ../sass/landing2.scss */
body {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
