/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Medium.otf") format("opentype"), url("../fonts/Futura/Futura-Medium-01.woff") format("woff"), url("../fonts/Futura/Futura-Medium-01.woff2") format("woff2"), url("../fonts/Futura/Futura-Medium-01.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Bold.otf") format("opentype"), url("../fonts/Futura/Futura-Bold.woff") format("woff"), url("../fonts/Futura/Futura-Bold-03.woff2") format("woff2"), url("../fonts/Futura/Futura-Bold-03.ttf") format("truetype");
  font-weight: bold;
}
/* line 123, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic', 'arial', serif;
}
@media (min-width: 351px) {
  /* line 123, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 123, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 123, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 151, ../sass/stylesheet.scss */
h2 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 600px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 40px;
  }
}
@media (min-width: 900px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 50px;
  }
}
@media (min-width: 1800px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 8vmin;
  }
}

/* line 176, ../sass/stylesheet.scss */
h3 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 1800px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 201, ../sass/stylesheet.scss */
h4 {
  font-family: 'Futura', 'arial', serif;
}

/* line 205, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 231, ../sass/stylesheet.scss */
a {
  font-family: 'Futura', 'arial', serif;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* line 238, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/****** COLORS *********/
/* line 266, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 274, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 280, ../sass/stylesheet.scss */
input {
  border: none;
}

/****** NORMALIZE *********/
/* line 287, ../sass/stylesheet.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  position: relative;
}

/****** FOOTER *********/
/* line 301, ../sass/stylesheet.scss */
div.sm-links {
  margin-top: 60px;
  text-align: center;
  width: 100%;
}

/* line 307, ../sass/stylesheet.scss */
li.sm {
  cursor: pointer;
}

/* line 310, ../sass/stylesheet.scss */
ul.sm {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 30px;
}
/* line 318, ../sass/stylesheet.scss */
ul.sm li.sm a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 25px;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
/* line 332, ../sass/stylesheet.scss */
ul.sm li.sm a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
  display: none;
}
/* line 339, ../sass/stylesheet.scss */
ul.sm li.sm a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
/* line 343, ../sass/stylesheet.scss */
ul.sm li.sm a:hover span {
  left: 0;
  display: initial;
}
/* line 347, ../sass/stylesheet.scss */
ul.sm li.sm a:hover svg {
  fill: #fff;
  margin-left: 20px;
}
/* line 352, ../sass/stylesheet.scss */
ul.sm li.sm a:hover i {
  position: absolute;
  right: 0px;
  top: 50%;
  left: 50%;
}
/* line 361, ../sass/stylesheet.scss */
ul.sm li.sm a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  width: .8em;
  height: .8em;
  fill: #3d52a1;
}
/* line 373, ../sass/stylesheet.scss */
ul.sm li.sm .transparency {
  background: rgba(255, 255, 255, 0.5);
  border-color: #3d52a1;
  color: #3d52a1;
}
/* line 377, ../sass/stylesheet.scss */
ul.sm li.sm .transparency:hover {
  background: #3d52a1;
}

/* line 390, ../sass/stylesheet.scss */
#new-menu {
  color: #f06490;
  right: 30px;
  z-index: 10000;
  position: fixed;
  top: 80px;
  top: 5vh;
  left: 1vw;
  width: 50px;
  height: 50px;
}
/* line 404, ../sass/stylesheet.scss */
#new-menu p {
  color: white;
  text-align: center;
  margin-left: 1vw;
}
/* line 411, ../sass/stylesheet.scss */
#new-menu:hover .open span {
  color: #d4eef6;
}

/* line 418, ../sass/stylesheet.scss */
span.menu-icon {
  color: #f06490;
}

/* line 422, ../sass/stylesheet.scss */
.wrappery {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  perspective: 1px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transform-style: preserve-3d;
}

/* line 437, ../sass/stylesheet.scss */
html {
  box-sizing: border-box;
}

/* line 440, ../sass/stylesheet.scss */
*, *:after, *:before {
  box-sizing: inherit;
}

/* line 447, ../sass/stylesheet.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 452, ../sass/stylesheet.scss */
.open {
  position: fixed;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
/* line 459, ../sass/stylesheet.scss */
.open::before {
  content: 'menu';
  color: white;
  display: block;
  position: absolute;
  top: -24%;
  left: 9%;
}
/* line 467, ../sass/stylesheet.scss */
.open:hover {
  opacity: 0.94;
}
/* line 470, ../sass/stylesheet.scss */
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
/* line 483, ../sass/stylesheet.scss */
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
/* line 487, ../sass/stylesheet.scss */
.open span:nth-child(2) {
  margin-top: 25px;
}
/* line 490, ../sass/stylesheet.scss */
.open span:nth-child(3) {
  margin-top: 40px;
}

/* line 495, ../sass/stylesheet.scss */
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f06490;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
/* line 506, ../sass/stylesheet.scss */
.sub-menu li {
  display: block;
  float: left;
  clear: both;
  height: auto;
  margin-right: -160px;
  font-weight: 600;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 514, ../sass/stylesheet.scss */
.sub-menu li:first-child {
  margin-top: 150px;
}
/* line 517, ../sass/stylesheet.scss */
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
/* line 520, ../sass/stylesheet.scss */
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
/* line 523, ../sass/stylesheet.scss */
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
/* line 526, ../sass/stylesheet.scss */
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
/* line 529, ../sass/stylesheet.scss */
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
/* line 532, ../sass/stylesheet.scss */
.sub-menu li a {
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
/* line 540, ../sass/stylesheet.scss */
.sub-menu li a:hover {
  color: #3d52a1;
}

/* line 548, ../sass/stylesheet.scss */
.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
/* line 553, ../sass/stylesheet.scss */
.oppenned span:nth-child(2) {
  overflow: visible;
}
/* line 556, ../sass/stylesheet.scss */
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
/* line 560, ../sass/stylesheet.scss */
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
/* line 563, ../sass/stylesheet.scss */
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  left: -70px;
  top: -160px;
  border-radius: 50%;
  background-color: #f06490;
}
/* line 571, ../sass/stylesheet.scss */
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
/* line 574, ../sass/stylesheet.scss */
.oppenned li {
  margin-left: 100px;
}

/* line 578, ../sass/stylesheet.scss */
.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
/* line 588, ../sass/stylesheet.scss */
.button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
/* line 598, ../sass/stylesheet.scss */
.button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
/* line 612, ../sass/stylesheet.scss */
.button:hover {
  text-decoration: none;
}
/* line 614, ../sass/stylesheet.scss */
.button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
/* line 617, ../sass/stylesheet.scss */
.button:hover:before {
  transform: translateY(0);
}

/* line 627, ../sass/stylesheet.scss */
#new-menu * {
  transform-style: flat;
}

@media (max-width: 599px) {
  /* line 632, ../sass/stylesheet.scss */
  #new-menu {
    left: 1vw;
  }
}
/* line 639, ../sass/stylesheet.scss */
.bkg-dblue {
  background-color: #3d52a1 !important;
}

/* line 643, ../sass/stylesheet.scss */
.radius {
  border-radius: 20px;
}

/* line 650, ../sass/stylesheet.scss */
button:active {
  outline: 0;
  background-color: #314281;
  transform: translateY(10deg);
}

/* line 656, ../sass/stylesheet.scss */
.btn,
button {
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (min-width: 400px) {
  /* line 656, ../sass/stylesheet.scss */
  .btn,
  button {
    width: auto;
  }
}
/* line 676, ../sass/stylesheet.scss */
.btn:hover,
button:hover {
  background: #445bb3;
  border-color: #445bb3;
  color: #fff;
}

/* line 683, ../sass/stylesheet.scss */
.btn-border {
  background-color: transparent;
  color: #3d52a1;
}

/* line 688, ../sass/stylesheet.scss */
.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}
/* line 691, ../sass/stylesheet.scss */
.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
/* line 697, ../sass/stylesheet.scss */
.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
/* line 700, ../sass/stylesheet.scss */
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
/* line 710, ../sass/stylesheet.scss */
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
/* line 715, ../sass/stylesheet.scss */
.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

/***********************/
/******* BUTTONS *******/
/***********************/
/* line 726, ../sass/stylesheet.scss */
button:active {
  outline: 0;
  background-color: #314281;
  transform: translateY(10deg);
}

/* line 732, ../sass/stylesheet.scss */
.btn,
button {
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (min-width: 400px) {
  /* line 732, ../sass/stylesheet.scss */
  .btn,
  button {
    width: auto;
  }
}
/* line 749, ../sass/stylesheet.scss */
.btn:hover,
button:hover {
  background: #445bb3;
  border-color: #445bb3;
  color: #fff;
}

/* line 756, ../sass/stylesheet.scss */
.btn-border {
  background-color: transparent;
  color: #3d52a1;
}

/* line 761, ../sass/stylesheet.scss */
.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}
/* line 764, ../sass/stylesheet.scss */
.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
/* line 770, ../sass/stylesheet.scss */
.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
/* line 773, ../sass/stylesheet.scss */
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
/* line 783, ../sass/stylesheet.scss */
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
/* line 788, ../sass/stylesheet.scss */
.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

/* line 794, ../sass/stylesheet.scss */
button.general {
  background: #3d52a1;
  color: white;
  border-radius: 15px;
  margin: 6% auto;
  display: block;
  padding: 0px 20px;
  padding: 20px 0px;
  font-size: 18px;
  font-family: 'futura';
}
/* line 805, ../sass/stylesheet.scss */
button.general h4 {
  margin: 0;
}
/* line 808, ../sass/stylesheet.scss */
button.general a {
  padding: 20px 30px;
}

/***********************/
/******* FOOTER *******/
/***********************/
/* line 819, ../sass/stylesheet.scss */
footer {
  background: white url("../raw/web/footer-waves.png") top/cover no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  max-height: 500px;
}
/* line 831, ../sass/stylesheet.scss */
footer .waves-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  z-index: -1;
}
/* line 840, ../sass/stylesheet.scss */
footer .waves-container img {
  width: 100%;
  height: 100%;
}
/* line 846, ../sass/stylesheet.scss */
footer div.content {
  z-index: 3;
  width: 50%;
  padding-top: 11%;
  box-sizing: border-box;
}
/* line 852, ../sass/stylesheet.scss */
footer div.content div.sm-links {
  margin-top: 17%;
}
/* line 857, ../sass/stylesheet.scss */
footer ul.sm {
  margin-top: 10%;
  padding: 0px;
}

/* line 863, ../sass/stylesheet.scss */
.extra-blue {
  width: 100%;
  background: #3d52a1;
}

/* line 872, ../sass/stylesheet.scss */
ul.sm li.sm .transparency {
  border-color: white;
}

/* line 877, ../sass/stylesheet.scss */
ul.sm li.sm a svg {
  fill: white;
}

@media (max-width: 599px) {
  /* line 882, ../sass/stylesheet.scss */
  footer div.content {
    width: 90%;
  }
}
/* line 16, ../sass/main.scss */
ul.sm {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font: bold 20px 'caviardreams';
  padding: 0;
  margin: 0;
}
/* line 26, ../sass/main.scss */
ul.sm a {
  text-decoration: none;
  color: white;
}

/* line 32, ../sass/main.scss */
li {
  list-style: none;
  font: bold 20px 'caviardreams';
}
/* line 36, ../sass/main.scss */
li a {
  text-decoration: none;
  color: white;
}
/* line 41, ../sass/main.scss */
li#placeholder {
  width: 12%;
}

/* line 47, ../sass/main.scss */
.links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
/* line 53, ../sass/main.scss */
.links li {
  padding: 10px;
}

/* line 58, ../sass/main.scss */
.menu.relative {
  position: relative;
  background-color: #3d52a1;
  margin: 0;
  padding: 30px 55px;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 72, ../sass/main.scss */
.mobile-home-button-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
/* line 78, ../sass/main.scss */
.mobile-home-button-container a {
  text-decoration: none;
}
/* line 82, ../sass/main.scss */
.mobile-home-button-container h1 {
  color: #3d52a1;
  font-family: 'beautysd';
  margin: 0;
  font-size: 8vw;
  letter-spacing: .14em;
  vertical-align: middle;
}

/* line 92, ../sass/main.scss */
#logo img {
  vertical-align: middle;
  margin-right: 40px;
  width: 100%;
  height: auto;
}

/* line 99, ../sass/main.scss */
#logo {
  z-index: 2;
  top: -10px;
  margin-right: 40px;
  width: 20%;
}

/* line 106, ../sass/main.scss */
.mobile img {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(62, 84, 159, 0.9));
  filter: drop-shadow(5px 5px 5px rgba(42, 64, 139, 0.9));
}

/* line 113, ../sass/main.scss */
.mobile,
.tablet {
  z-index: 2;
  position: relative;
  display: none;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 30%;
  padding: 10px;
}

/* line 125, ../sass/main.scss */
.placeholder {
  width: 20%;
}

/* line 129, ../sass/main.scss */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 139, ../sass/main.scss */
.post-header-gap {
  height: 60px;
}

/* line 144, ../sass/main.scss */
.links.mobile {
  display: none;
}

/* line 148, ../sass/main.scss */
#navbar-mobile {
  display: none;
}

/* line 152, ../sass/main.scss */
a#home {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-family: 'SFN Republic';
}

/* line 160, ../sass/main.scss */
.nav-li {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 2vw;
}

/* line 167, ../sass/main.scss */
.hover-underline::after {
  content: "";
  position: absolute;
  top: 80%;
  height: 4px;
  width: 0%;
  left: 10%;
  background-color: #f06490;
  transition: 0.3s ease all .1s;
}

/* line 178, ../sass/main.scss */
.nav-li:hover .hover-underline::after {
  width: 85%;
  transition: .15s ease all;
}

/* line 183, ../sass/main.scss */
.active-a {
  color: #2ba4c0;
}

/********** **********
*  HAMBURGER BUTTON  *
********** **********/
/* line 191, ../sass/main.scss */
.hamburger {
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 200;
  color: white;
  right: 10px;
  top: 16px;
}

/* line 201, ../sass/main.scss */
a#mobile-home-button {
  display: none;
  cursor: pointer;
  z-index: 200;
  color: white;
  text-decoration: none;
  font-size: 8vw;
  white-space: nowrap;
  font-family: 'SFN Republic';
}

/* line 212, ../sass/main.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #2ba4c0;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 222, ../sass/main.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 227, ../sass/main.scss */
.change .bar2 {
  opacity: 0;
}

/* line 231, ../sass/main.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 244, ../sass/main.scss */
.content-item {
  background: url(https://dummyimage.com/400x300/000/fff);
  display: flex;
  width: 43%;
  height: 26vw;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  border-radius: 15px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 255, ../sass/main.scss */
.content-item:hover .overlay {
  cursor: pointer;
  background: rgba(61, 82, 161, 0.9);
}
/* line 261, ../sass/main.scss */
.content-item .corner-overlay-content {
  opacity: 0;
}
/* line 265, ../sass/main.scss */
.content-item .overlay-content {
  text-align: center;
  bottom: 0;
  color: white;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 280, ../sass/main.scss */
.content-item .overlay-content h3 {
  border-bottom: 1px solid white;
  padding: 0 0 12px;
  display: none;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
/* line 288, ../sass/main.scss */
.content-item .overlay-content p {
  font-size: 120%;
}
/* line 293, ../sass/main.scss */
.content-item:hover .overlay-content {
  opacity: 1;
  background: #3d52a1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 299, ../sass/main.scss */
.content-item:hover h2 {
  opacity: 1;
}

/* line 305, ../sass/main.scss */
.corner-overlay-content h2 {
  text-align: right;
}

/* line 310, ../sass/main.scss */
.folio {
  margin-bottom: 40px;
}

/* line 314, ../sass/main.scss */
.folio .flex {
  justify-content: space-evenly;
}

/* line 318, ../sass/main.scss */
.bkg-blue-grey {
  background-color: #eef5f7;
}

/* line 326, ../sass/main.scss */
.content-item.cvilleweekly {
  background: url(../raw/Thumbnails/cville-weekly.jpg) center/cover no-repeat;
}
/* line 330, ../sass/main.scss */
.content-item.vector {
  background: url(../raw/Thumbnails/vector-thumb.jpg) center/cover no-repeat;
}
/* line 334, ../sass/main.scss */
.content-item.AEM {
  background: url(../raw/Thumbnails/aem2.jpg) center/cover no-repeat;
}
/* line 338, ../sass/main.scss */
.content-item.CSO {
  background: url(../raw/Thumbnails/CSO-thumb.jpg) center/cover no-repeat;
}
/* line 342, ../sass/main.scss */
.content-item.HC {
  background: url(../raw/Thumbnails/hackcville2.jpg) center/cover no-repeat;
}
/* line 346, ../sass/main.scss */
.content-item.C4K {
  background: url(../raw/Thumbnails/c4k-thumb.jpg) center/cover no-repeat;
}
/* line 350, ../sass/main.scss */
.content-item.Foodio {
  background: url(../raw/Thumbnails/foodio-thumb.jpg) center/cover no-repeat;
}
/* line 354, ../sass/main.scss */
.content-item.RogueJohnsen {
  background: url(../raw/Thumbnails/rogue-thumb.jpg) center/cover no-repeat;
}

/* line 365, ../sass/main.scss */
.thumbnail-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 371, ../sass/main.scss */
.sm-thumbnail {
  width: 100%;
  height: auto;
}
/* line 375, ../sass/main.scss */
.sm-thumbnail:hover {
  opacity: .5;
  background-color: rgba(90, 90, 90, 0.9);
  transform: scale(1);
  cursor: zoom-in;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 384, ../sass/main.scss */
.art .flex {
  padding: 0px 30px;
  flex-flow: row wrap;
}

/* line 389, ../sass/main.scss */
.art h2,
.art h3 {
  text-align: center;
}

/* line 394, ../sass/main.scss */
.art h2 {
  font-size: 40px;
}

/* line 398, ../sass/main.scss */
.gallery {
  column-count: 3;
  column-gap: 30px;
  line-height: 20px;
  padding: 0px 40px;
}

/* line 405, ../sass/main.scss */
.art .thumbnail-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 416, ../sass/main.scss */
h2.graphicdesign,
.graphicdesign h2 {
  color: #3d52a1;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 55px;
  margin: 20px 0px;
}

/* line 427, ../sass/main.scss */
.flex.graphicdesign {
  align-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 434, ../sass/main.scss */
.graphicdesign h2 {
  color: white;
  margin-bottom: 30px;
}
/* line 439, ../sass/main.scss */
.graphicdesign.dblue {
  background-color: #3d52a1;
}
/* line 443, ../sass/main.scss */
.graphicdesign.lblue {
  background-color: #2ba4c0;
}
/* line 447, ../sass/main.scss */
.graphicdesign.pink {
  background-color: #f06490;
}
/* line 452, ../sass/main.scss */
.graphicdesign.white h2 {
  color: #3d52a1;
}

/* line 459, ../sass/main.scss */
.graphicdesign.block {
  padding: 30px;
}

/* line 467, ../sass/main.scss */
.graphicdesign .gallery .thumbnail-container {
  padding: 10px;
}

/* line 471, ../sass/main.scss */
.graphicdesign h2,
.graphicdesign h3 {
  text-align: center;
}

/* line 479, ../sass/main.scss */
.dblue {
  background-color: #3d52a1;
  color: white;
}

/* line 484, ../sass/main.scss */
.lblue {
  background-color: #2ba4c0;
  color: white;
}

/* line 489, ../sass/main.scss */
.pink {
  background-color: #f06490;
  color: white;
}

/* line 494, ../sass/main.scss */
.white {
  color: #3d52a1;
}

/* line 498, ../sass/main.scss */
.container {
  padding: 40px;
}

/* line 502, ../sass/main.scss */
.ensemble p {
  text-indent: 20px;
}
/* line 505, ../sass/main.scss */
.ensemble p.indent {
  text-indent: 60px;
}

/* line 511, ../sass/main.scss */
.education.gap {
  height: 40px;
}
/* line 515, ../sass/main.scss */
.education h3 {
  text-indent: 20px;
}

/* line 525, ../sass/main.scss */
.conducting-picture {
  width: 40%;
  margin-right: 5%;
}
/* line 529, ../sass/main.scss */
.conducting-picture img {
  width: 100%;
}

/* line 534, ../sass/main.scss */
.ensemble.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* line 540, ../sass/main.scss */
.coming-soon {
  text-align: center;
  font-size: 40px;
}

/* line 548, ../sass/main.scss */
.indent {
  text-indent: 20px;
}

/* line 558, ../sass/main.scss */
.overlay-content button {
  background: white;
  border: none;
  border-radius: 15px;
  color: #2ba4c0;
  margin-bottom: 10px;
  padding: 12px 14px;
  font-size: 13px;
  box-shadow: inset 0 0 0 2px white;
  margin: 10px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 570, ../sass/main.scss */
.overlay-content button a {
  color: #3d52a1;
}

/* line 577, ../sass/main.scss */
button:hover {
  background: #f06490;
  color: white;
  cursor: pointer;
}

/* line 583, ../sass/main.scss */
button:hover a {
  color: white;
}

@media screen and (max-width: 1100px) {
  /* line 596, ../sass/main.scss */
  .gallery {
    column-count: 2;
  }

  /* line 600, ../sass/main.scss */
  .menu.relative {
    padding: 3vw;
  }
}
@media screen and (max-width: 950px) {
  /* line 607, ../sass/main.scss */
  .content-item {
    width: 500px;
    height: 300px;
  }

  /* line 612, ../sass/main.scss */
  a#home {
    border-bottom: 1px solid white;
    line-height: 14vh;
    margin-bottom: .2em;
    margin-top: 20px;
  }

  /* line 619, ../sass/main.scss */
  .menu.relative {
    padding-top: 0px;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }

  /* line 625, ../sass/main.scss */
  .links {
    width: 100%;
  }

  /* line 629, ../sass/main.scss */
  div.info {
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  /* line 637, ../sass/main.scss */
  .mobile {
    display: block;
  }

  /* line 641, ../sass/main.scss */
  .gallery {
    column-count: 1;
    column-gap: 5px;
    padding: 0px;
  }

  /* line 647, ../sass/main.scss */
  .graphicdesign .gallery .thumbnail-container {
    padding: 10px 0px;
  }

  /* line 653, ../sass/main.scss */
  li:nth-child(4) {
    display: list-item;
  }
}
@media screen and (max-width: 500px) {
  /* line 661, ../sass/main.scss */
  .links.mobile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    displa: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }

  /* line 669, ../sass/main.scss */
  .overlay-content h2 {
    font-size: 1.5em;
  }
  /* line 673, ../sass/main.scss */
  .overlay-content p {
    font-size: 1em;
    line-height: normal;
  }

  /* line 679, ../sass/main.scss */
  .content-item .overlay-content {
    padding: 20px 10px;
  }

  /* line 683, ../sass/main.scss */
  #logo img {
    display: none;
  }

  /* line 687, ../sass/main.scss */
  #navbar-tablet {
    display: none;
  }

  /* line 692, ../sass/main.scss */
  .hamburger {
    display: inline-block;
  }

  /* line 696, ../sass/main.scss */
  a#mobile-home-button {
    display: block;
  }

  /* line 700, ../sass/main.scss */
  .bar1,
  .bar2,
  .bar3 {
    background-color: white;
  }

  /* line 706, ../sass/main.scss */
  .mobile-home-button-container {
    padding: 20px 20px 20px 20px;
    background-color: #3d52a1;
    color: white;
    text-align: left;
  }
  /* line 712, ../sass/main.scss */
  .mobile-home-button-container h1 {
    font-size: 20vw;
  }

  /* line 717, ../sass/main.scss */
  .content-item.no-margin {
    margin-top: 0px;
  }

  /* line 724, ../sass/main.scss */
  #navbar-mobile .mobile-home-button-container,
  #navbar-mobile ul {
    padding: 30px;
  }
  /* line 729, ../sass/main.scss */
  #navbar-mobile .menu.relative li {
    display: block;
  }
  /* line 733, ../sass/main.scss */
  #navbar-mobile.menu.relative {
    width: 100%;
    padding: 0px;
  }
  /* line 739, ../sass/main.scss */
  #navbar-mobile .links.mobile,
  #navbar-mobile .links.tablet {
    flex-flow: column wrap;
    justify-content: center;
    width: 80%;
  }
  /* line 745, ../sass/main.scss */
  #navbar-mobile .links.mobile li,
  #navbar-mobile .links.tablet li {
    text-align: center;
    margin: 10px auto;
  }

  /* line 752, ../sass/main.scss */
  .content-item {
    width: 90%;
    height: 38vmax;
  }

  /* line 757, ../sass/main.scss */
  div.button-container {
    position: relative;
    padding: 0px;
    margin: 0px;
  }
}
/* line 766, ../sass/main.scss */
a#test {
  display: block;
}
