/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
/* line 80, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic';
}
@media (min-width: 351px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 106, ../sass/stylesheet.scss */
h2 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 6vmin;
  }
}
@media (min-width: 1800px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 10vmin;
  }
}

/* line 131, ../sass/stylesheet.scss */
h3 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 900px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1200px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1800px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 156, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 182, ../sass/stylesheet.scss */
a {
  font-family: 'arcon';
}

/* line 186, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/* line 207, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 215, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 221, ../sass/stylesheet.scss */
input {
  border: none;
}

/* line 11, ../sass/main.scss */
ul.sm {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font: bold 20px 'caviardreams';
  padding: 0;
  margin: 0;
}
/* line 20, ../sass/main.scss */
ul.sm a {
  text-decoration: none;
  color: white;
}

/* line 26, ../sass/main.scss */
li {
  list-style: none;
  font: bold 20px 'caviardreams';
}
/* line 29, ../sass/main.scss */
li a {
  text-decoration: none;
  color: white;
}
/* line 33, ../sass/main.scss */
li#placeholder {
  width: 12%;
}

/* line 39, ../sass/main.scss */
.links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
/* line 44, ../sass/main.scss */
.links li {
  padding: 10px;
}

/* line 49, ../sass/main.scss */
.menu.relative {
  position: relative;
  background-color: #2ba4c0;
  margin: 0;
  padding: 30px 55px;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 62, ../sass/main.scss */
.jocelyn {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
/* line 68, ../sass/main.scss */
.jocelyn a {
  text-decoration: none;
}
/* line 71, ../sass/main.scss */
.jocelyn h1 {
  color: #3d52a1;
  font-family: 'beautysd';
  margin: 0;
  font-size: 8vw;
  letter-spacing: .14em;
  vertical-align: middle;
}

/* line 81, ../sass/main.scss */
#logo img {
  vertical-align: middle;
  margin-right: 40px;
  width: 100%;
  height: auto;
}

/* line 88, ../sass/main.scss */
#logo {
  z-index: 2;
  top: -10px;
  margin-right: 40px;
  width: 20%;
}

/* line 95, ../sass/main.scss */
.mobile img {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(62, 84, 159, 0.9));
  filter: drop-shadow(5px 5px 5px rgba(42, 64, 139, 0.9));
}

/* line 102, ../sass/main.scss */
.mobile {
  z-index: 2;
  position: relative;
  display: none;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 30%;
  padding: 10px;
}

/* line 113, ../sass/main.scss */
.placeholder {
  width: 20%;
}

/* line 117, ../sass/main.scss */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 127, ../sass/main.scss */
.post-header-gap {
  height: 60px;
}

/* line 131, ../sass/main.scss */
.links a:hover {
  border-bottom: 4px solid #f06490;
}

/* line 135, ../sass/main.scss */
.links.mobile {
  display: none;
}

/* line 139, ../sass/main.scss */
#mobile-navbar {
  display: none;
}

/* line 143, ../sass/main.scss */
a#home {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-family: 'SFN Republic';
}

/********** **********
*  HAMBURGER BUTTON  *
********** **********/
/* line 154, ../sass/main.scss */
.hamburger {
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 200;
  color: white;
  right: 10px;
  top: 16px;
}

/* line 164, ../sass/main.scss */
a#home-desktop {
  display: none;
  cursor: pointer;
  z-index: 200;
  color: white;
  text-decoration: none;
  font-size: 8vw;
  white-space: nowrap;
}

/* line 174, ../sass/main.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #2ba4c0;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 184, ../sass/main.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 189, ../sass/main.scss */
.change .bar2 {
  opacity: 0;
}

/* line 193, ../sass/main.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 202, ../sass/main.scss */
.content-item {
  background: url(https://dummyimage.com/400x300/000/fff);
  display: flex;
  width: 40%;
  height: 30vw;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 211, ../sass/main.scss */
.content-item:hover .overlay {
  cursor: pointer;
  background: rgba(43, 164, 192, 0.7);
}
/* line 216, ../sass/main.scss */
.content-item .corner-overlay-content {
  opacity: 0;
}
/* line 220, ../sass/main.scss */
.content-item .overlay-content {
  text-align: center;
  bottom: 0;
  color: white;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 231, ../sass/main.scss */
.content-item .overlay-content h3 {
  border-bottom: 1px solid white;
  padding: 0 0 12px;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
/* line 238, ../sass/main.scss */
.content-item:hover .overlay-content {
  opacity: 1;
  background: rgba(43, 164, 192, 0.85);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 243, ../sass/main.scss */
.content-item:hover h2 {
  opacity: 1;
}

/* line 249, ../sass/main.scss */
.corner-overlay-content h2 {
  text-align: right;
}

/* line 258, ../sass/main.scss */
.content-item.cvilleweekly {
  background: url(../raw/cvilleweekly.png) top left/cover no-repeat;
}
/* line 262, ../sass/main.scss */
.content-item.vector {
  background: url(../raw/vector.png) top left/cover no-repeat;
}
/* line 266, ../sass/main.scss */
.content-item.AEM {
  background: url(../raw/AEM.png) top left/cover no-repeat;
}
/* line 270, ../sass/main.scss */
.content-item.CSO {
  background: url(../raw/CSO.png) top left/cover no-repeat;
}
/* line 274, ../sass/main.scss */
.content-item.HC {
  background: url(../raw/HC.png) top left/cover no-repeat;
}
/* line 278, ../sass/main.scss */
.content-item.C4K {
  background: url(../raw/C4K/C4K-tile.png) top left/cover no-repeat;
}
/* line 282, ../sass/main.scss */
.content-item.Foodio {
  background: url(../raw/Foodio-tile.png) top left/cover no-repeat;
}
/* line 286, ../sass/main.scss */
.content-item.RogueJohnsen {
  background: url(../raw/RogueJohnsen-tile.png) top left/cover no-repeat;
}

/* line 292, ../sass/main.scss */
.button-container {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 10px;
}

/* line 303, ../sass/main.scss */
.thumbnail-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 309, ../sass/main.scss */
.sm-thumbnail {
  width: 100%;
  height: auto;
}
/* line 312, ../sass/main.scss */
.sm-thumbnail:hover {
  opacity: .5;
  background-color: rgba(90, 90, 90, 0.9);
  transform: scale(1);
  cursor: zoom-in;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 321, ../sass/main.scss */
.art .flex {
  padding: 0px 30px;
  flex-flow: row wrap;
}

/* line 326, ../sass/main.scss */
.art h2,
.art h3 {
  text-align: center;
}

/* line 331, ../sass/main.scss */
.art h2 {
  font-size: 40px;
}

/* line 335, ../sass/main.scss */
.gallery {
  column-count: 3;
  column-gap: 30px;
  line-height: 20px;
  padding: 0px 40px;
}

/* line 342, ../sass/main.scss */
.art .thumbnail-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 353, ../sass/main.scss */
h2.graphicdesign,
.graphicdesign h2 {
  color: #3d52a1;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 55px;
  margin: 20px 0px;
}

/* line 364, ../sass/main.scss */
.flex.graphicdesign {
  align-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 371, ../sass/main.scss */
.graphicdesign h2 {
  color: white;
  margin-bottom: 30px;
}
/* line 376, ../sass/main.scss */
.graphicdesign.dblue {
  background-color: #3d52a1;
}
/* line 380, ../sass/main.scss */
.graphicdesign.lblue {
  background-color: #2ba4c0;
}
/* line 384, ../sass/main.scss */
.graphicdesign.pink {
  background-color: #f06490;
}
/* line 389, ../sass/main.scss */
.graphicdesign.white h2 {
  color: #3d52a1;
}

/* line 396, ../sass/main.scss */
.graphicdesign.block {
  padding: 30px;
}

/* line 404, ../sass/main.scss */
.graphicdesign .gallery .thumbnail-container {
  padding: 10px;
}

/* line 408, ../sass/main.scss */
.graphicdesign h2,
.graphicdesign h3 {
  text-align: center;
}

/* line 416, ../sass/main.scss */
.dblue {
  background-color: #3d52a1;
  color: white;
}

/* line 421, ../sass/main.scss */
.lblue {
  background-color: #2ba4c0;
  color: white;
}

/* line 426, ../sass/main.scss */
.pink {
  background-color: #f06490;
  color: white;
}

/* line 431, ../sass/main.scss */
.white {
  color: #3d52a1;
}

/* line 435, ../sass/main.scss */
.container {
  padding: 40px;
}

/* line 439, ../sass/main.scss */
.ensemble p {
  text-indent: 20px;
}
/* line 441, ../sass/main.scss */
.ensemble p.indent {
  text-indent: 60px;
}

/* line 447, ../sass/main.scss */
.education.gap {
  height: 40px;
}
/* line 450, ../sass/main.scss */
.education h3 {
  text-indent: 20px;
}

/* line 459, ../sass/main.scss */
.conducting-picture {
  width: 40%;
  margin-right: 5%;
}
/* line 462, ../sass/main.scss */
.conducting-picture img {
  width: 100%;
}

/* line 467, ../sass/main.scss */
.ensemble.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* line 473, ../sass/main.scss */
.coming-soon {
  text-align: center;
  font-size: 40px;
}

/* line 481, ../sass/main.scss */
.indent {
  text-indent: 20px;
}

/* line 490, ../sass/main.scss */
button {
  background: white;
  border: none;
  border-radius: 15px;
  color: #2ba4c0;
  margin-bottom: 10px;
  padding: 12px 14px;
  font-size: 13px;
  box-shadow: inset 0 0 0 2px white;
  margin: 10px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 503, ../sass/main.scss */
button a {
  color: #2ba4c0;
  text-decoration: none;
  font-family: 'arcon';
  font-size: 18px;
}

/* line 512, ../sass/main.scss */
button:hover {
  background: #f06490;
  color: white;
  cursor: pointer;
}

/* line 518, ../sass/main.scss */
button:hover a {
  color: white;
}

@media screen and (max-width: 1100px) {
  /* line 529, ../sass/main.scss */
  .gallery {
    column-count: 2;
  }

  /* line 533, ../sass/main.scss */
  .menu.relative {
    padding: 3vw;
  }
}
@media screen and (max-width: 800px) {
  /* line 541, ../sass/main.scss */
  .mobile {
    display: block;
  }

  /* line 545, ../sass/main.scss */
  .gallery {
    column-count: 1;
    column-gap: 5px;
    padding: 0px;
  }

  /* line 551, ../sass/main.scss */
  .graphicdesign .gallery .thumbnail-container {
    padding: 10px 0px;
  }

  /* line 555, ../sass/main.scss */
  li#placeholder,
  .links {
    display: none;
  }

  /* line 560, ../sass/main.scss */
  .links.mobile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    displa: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }

  /* line 567, ../sass/main.scss */
  li:nth-child(4) {
    display: list-item;
  }
}
@media screen and (max-width: 950px) {
  /* line 573, ../sass/main.scss */
  .content-item {
    width: 500px;
    height: 300px;
  }

  /* line 578, ../sass/main.scss */
  a#home {
    border-bottom: 1px solid white;
    line-height: 2.6em;
    margin-bottom: .2em;
  }

  /* line 583, ../sass/main.scss */
  .menu.relative {
    padding-top: 0px;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }

  /* line 588, ../sass/main.scss */
  .links {
    width: 100%;
  }

  /* line 592, ../sass/main.scss */
  div.info {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  /* line 600, ../sass/main.scss */
  .overlay-content h2 {
    font-size: 1.5em;
  }
  /* line 604, ../sass/main.scss */
  .overlay-content p {
    font-size: 1em;
    line-height: normal;
  }

  /* line 610, ../sass/main.scss */
  .content-item .overlay-content {
    padding: 20px 10px;
  }

  /* line 614, ../sass/main.scss */
  #logo img {
    display: none;
  }

  /* line 618, ../sass/main.scss */
  #navbar {
    display: none;
  }

  /* line 623, ../sass/main.scss */
  .hamburger {
    display: inline-block;
  }

  /* line 627, ../sass/main.scss */
  a#home-desktop {
    display: block;
  }

  /* line 631, ../sass/main.scss */
  .bar1,
  .bar2,
  .bar3 {
    background-color: white;
  }

  /* line 637, ../sass/main.scss */
  .jocelyn {
    padding: 20px 20px 20px 20px;
    background-color: #2ba4c0;
    color: white;
    text-align: left;
  }
  /* line 643, ../sass/main.scss */
  .jocelyn h1 {
    font-size: 20vw;
  }

  /* line 648, ../sass/main.scss */
  .content-item.no-margin {
    margin-top: 0px;
  }

  /* line 655, ../sass/main.scss */
  #mobile-navbar .jocelyn,
  #mobile-navbar ul {
    padding: 30px;
  }
  /* line 660, ../sass/main.scss */
  #mobile-navbar .menu.relative li {
    display: block;
  }
  /* line 664, ../sass/main.scss */
  #mobile-navbar.menu.relative {
    width: 100%;
    padding: 0px;
  }
  /* line 670, ../sass/main.scss */
  #mobile-navbar .links.mobile {
    flex-flow: column wrap;
    justify-content: center;
    width: 80%;
  }
  /* line 674, ../sass/main.scss */
  #mobile-navbar .links.mobile li {
    text-align: center;
    margin: 10px auto;
  }

  /* line 680, ../sass/main.scss */
  .content-item {
    width: 90%;
    height: 38vmax;
  }

  /* line 685, ../sass/main.scss */
  div.button-container {
    position: relative;
    padding: 0px;
    margin: 0px;
  }
}
/* line 694, ../sass/main.scss */
a#test {
  display: block;
}
