/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Medium.otf") format("opentype"), url("../fonts/Futura/Futura-Medium-01.woff") format("woff"), url("../fonts/Futura/Futura-Medium-01.woff2") format("woff2"), url("../fonts/Futura/Futura-Medium-01.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Bold.otf") format("opentype"), url("../fonts/Futura/Futura-Bold.woff") format("woff"), url("../fonts/Futura/Futura-Bold-03.woff2") format("woff2"), url("../fonts/Futura/Futura-Bold-03.ttf") format("truetype");
  font-weight: bold;
}
/* line 115, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic', 'arial', serif;
}
@media (min-width: 351px) {
  /* line 115, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 115, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 115, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 141, ../sass/stylesheet.scss */
h2 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 141, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 141, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 141, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 141, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1800px) {
  /* line 141, ../sass/stylesheet.scss */
  h2 {
    font-size: 8vmin;
  }
}

/* line 166, ../sass/stylesheet.scss */
h3 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 166, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 166, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 900px) {
  /* line 166, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1200px) {
  /* line 166, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1800px) {
  /* line 166, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 191, ../sass/stylesheet.scss */
h4 {
  font-family: 'Futura', 'arial', serif;
}

/* line 195, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 195, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 195, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 195, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 195, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 195, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 221, ../sass/stylesheet.scss */
a {
  font-family: 'Futura', 'arial', serif;
}

/* line 225, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/* line 246, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 254, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 260, ../sass/stylesheet.scss */
input {
  border: none;
}

/* line 6, ../sass/new-menu.scss */
#fixed-nav-container {
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 200;
}
/* line 13, ../sass/new-menu.scss */
#fixed-nav-container .button-container {
  min-height: 10vh;
  width: 10vh;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: white;
  text-decoration: none;
}
/* line 25, ../sass/new-menu.scss */
#fixed-nav-container .button-container:hover {
  cursor: pointer;
}
/* line 30, ../sass/new-menu.scss */
#fixed-nav-container #view-all {
  left: 0;
}
/* line 34, ../sass/new-menu.scss */
#fixed-nav-container #view-all h4 {
  margin-bottom: 1.4em;
  font-size: .8em;
  margin-top: 1.4em;
}
/* line 40, ../sass/new-menu.scss */
#fixed-nav-container #view-all img {
  height: 50%;
  width: auto;
}
/* line 45, ../sass/new-menu.scss */
#fixed-nav-container #menu {
  right: 0;
}
/* line 51, ../sass/new-menu.scss */
#fixed-nav-container #new-menu {
  color: #f06490;
  z-index: 10000;
  position: fixed;
  right: 1vw;
  width: 50px;
  height: 50px;
}
/* line 65, ../sass/new-menu.scss */
#fixed-nav-container #new-menu p {
  color: #3d52a1;
  text-align: center;
  margin-left: 1vw;
}
/* line 72, ../sass/new-menu.scss */
#fixed-nav-container #new-menu:hover .open span {
  color: #d4eef6;
}
/* line 79, ../sass/new-menu.scss */
#fixed-nav-container span.menu-icon {
  color: #f06490;
}
/* line 83, ../sass/new-menu.scss */
#fixed-nav-container .wrappery {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  perspective: 1px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transform-style: preserve-3d;
}
/* line 98, ../sass/new-menu.scss */
#fixed-nav-container html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/* line 103, ../sass/new-menu.scss */
#fixed-nav-container *, #fixed-nav-container *:after, #fixed-nav-container *:before {
  box-sizing: inherit;
}
/* line 107, ../sass/new-menu.scss */
#fixed-nav-container .open {
  position: fixed;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  margin-top: .8em;
}
/* line 115, ../sass/new-menu.scss */
#fixed-nav-container .open::before {
  content: 'menu';
  color: white;
  display: block;
  position: absolute;
  top: calc((-24%) - 10px);
  left: 13%;
  font-family: 'futura';
  padding-bottom: 10px;
}
/* line 125, ../sass/new-menu.scss */
#fixed-nav-container .open:hover {
  opacity: 0.94;
}
/* line 128, ../sass/new-menu.scss */
#fixed-nav-container .open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: white;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
/* line 141, ../sass/new-menu.scss */
#fixed-nav-container .open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
/* line 145, ../sass/new-menu.scss */
#fixed-nav-container .open span:nth-child(2) {
  margin-top: 25px;
}
/* line 148, ../sass/new-menu.scss */
#fixed-nav-container .open span:nth-child(3) {
  margin-top: 40px;
}
/* line 153, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f06490;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
/* line 164, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 171, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:first-child {
  margin-top: 150px;
}
/* line 174, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
/* line 177, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
/* line 180, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
/* line 183, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
/* line 186, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
/* line 189, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li a {
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
/* line 197, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li a:hover {
  color: #3d52a1;
}
/* line 205, ../sass/new-menu.scss */
#fixed-nav-container .oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
/* line 210, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(2) {
  overflow: visible;
}
/* line 213, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(1), #fixed-nav-container .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
/* line 217, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
/* line 220, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: #f06490;
}
/* line 228, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
/* line 231, ../sass/new-menu.scss */
#fixed-nav-container .oppenned li {
  margin-right: 160px;
}
/* line 235, ../sass/new-menu.scss */
#fixed-nav-container .button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
/* line 245, ../sass/new-menu.scss */
#fixed-nav-container .button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
/* line 255, ../sass/new-menu.scss */
#fixed-nav-container .button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
/* line 269, ../sass/new-menu.scss */
#fixed-nav-container .button:hover {
  text-decoration: none;
}
/* line 271, ../sass/new-menu.scss */
#fixed-nav-container .button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
/* line 274, ../sass/new-menu.scss */
#fixed-nav-container .button:hover:before {
  transform: translateY(0);
}
/* line 284, ../sass/new-menu.scss */
#fixed-nav-container #new-menu * {
  transform-style: flat;
}

/* line 297, ../sass/new-menu.scss */
.white {
  color: white;
}

/* line 301, ../sass/new-menu.scss */
.dblue {
  color: #3d52a1;
}

/* line 305, ../sass/new-menu.scss */
.bkg-dblue {
  background-color: #3d52a1 !important;
}
