/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Medium.otf") format("opentype"), url("../fonts/Futura/Futura-Medium-01.woff") format("woff"), url("../fonts/Futura/Futura-Medium-01.woff2") format("woff2"), url("../fonts/Futura/Futura-Medium-01.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Bold.otf") format("opentype"), url("../fonts/Futura/Futura-Bold.woff") format("woff"), url("../fonts/Futura/Futura-Bold-03.woff2") format("woff2"), url("../fonts/Futura/Futura-Bold-03.ttf") format("truetype");
  font-weight: bold;
}
/* line 120, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic', 'arial', serif;
}
@media (min-width: 351px) {
  /* line 120, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 120, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 120, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 146, ../sass/stylesheet.scss */
h2 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1800px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 8vmin;
  }
}

/* line 171, ../sass/stylesheet.scss */
h3 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 900px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 1800px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 196, ../sass/stylesheet.scss */
h4 {
  font-family: 'Futura', 'arial', serif;
}

/* line 200, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 226, ../sass/stylesheet.scss */
a {
  font-family: 'Futura', 'arial', serif;
}

/* line 230, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/****** COLORS *********/
/* line 254, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 262, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 268, ../sass/stylesheet.scss */
input {
  border: none;
}

/* line 4, ../sass/new-menu.scss */
#fixed-nav-container {
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 200;
}
/* line 11, ../sass/new-menu.scss */
#fixed-nav-container .button-container {
  min-height: 10vh;
  width: 70px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: white;
  text-decoration: none;
}
/* line 23, ../sass/new-menu.scss */
#fixed-nav-container .button-container:hover {
  cursor: pointer;
}
/* line 28, ../sass/new-menu.scss */
#fixed-nav-container #view-all {
  left: 1vw;
}
/* line 32, ../sass/new-menu.scss */
#fixed-nav-container #view-all h4 {
  margin-bottom: 0.8em;
  margin-top: .3em;
  text-align: center;
}
/* line 38, ../sass/new-menu.scss */
#fixed-nav-container #view-all img {
  height: 50%;
  width: auto;
}
/* line 43, ../sass/new-menu.scss */
#fixed-nav-container #menu {
  right: 0;
}
/* line 46, ../sass/new-menu.scss */
#fixed-nav-container #new-menu {
  color: #f06490;
  z-index: 10000;
  position: fixed;
  top: .4em;
  right: 1vw;
  width: 50px;
  height: 50px;
}
/* line 55, ../sass/new-menu.scss */
#fixed-nav-container #new-menu p {
  color: #3d52a1;
  text-align: center;
  margin-left: 1vw;
}
/* line 62, ../sass/new-menu.scss */
#fixed-nav-container #new-menu:hover .open span {
  color: #d4eef6;
}
/* line 67, ../sass/new-menu.scss */
#fixed-nav-container #new-menu h4 {
  color: white;
}
/* line 73, ../sass/new-menu.scss */
#fixed-nav-container span.menu-icon {
  color: #f06490;
}
/* line 77, ../sass/new-menu.scss */
#fixed-nav-container .wrappery {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  perspective: 1px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transform-style: preserve-3d;
}
/* line 92, ../sass/new-menu.scss */
#fixed-nav-container html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/* line 97, ../sass/new-menu.scss */
#fixed-nav-container *,
#fixed-nav-container *:after,
#fixed-nav-container *:before {
  box-sizing: inherit;
}
/* line 103, ../sass/new-menu.scss */
#fixed-nav-container .open {
  position: absolute;
  width: 50px;
  height: 90px;
  top: 1.4em;
  left: -2px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
/* line 113, ../sass/new-menu.scss */
#fixed-nav-container .open:hover {
  opacity: 0.94;
}
/* line 117, ../sass/new-menu.scss */
#fixed-nav-container .open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: white;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
/* line 130, ../sass/new-menu.scss */
#fixed-nav-container .open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
/* line 134, ../sass/new-menu.scss */
#fixed-nav-container .open span:nth-child(2) {
  margin-top: 25px;
}
/* line 137, ../sass/new-menu.scss */
#fixed-nav-container .open span:nth-child(3) {
  margin-top: 40px;
}
/* line 143, ../sass/new-menu.scss */
#fixed-nav-container .no-marg {
  margin: 0;
}
/* line 148, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f06490;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
/* line 159, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 166, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:first-child {
  margin-top: 150px;
}
/* line 169, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
/* line 172, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
/* line 175, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
/* line 178, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
/* line 181, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
/* line 184, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li a {
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
/* line 192, ../sass/new-menu.scss */
#fixed-nav-container .sub-menu li a:hover {
  color: #3d52a1;
}
/* line 200, ../sass/new-menu.scss */
#fixed-nav-container .oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
/* line 205, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(2) {
  overflow: visible;
}
/* line 208, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(1),
#fixed-nav-container .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
/* line 213, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
/* line 216, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: #f06490;
}
/* line 224, ../sass/new-menu.scss */
#fixed-nav-container .oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
/* line 227, ../sass/new-menu.scss */
#fixed-nav-container .oppenned li {
  margin-right: 160px;
}
/* line 231, ../sass/new-menu.scss */
#fixed-nav-container .button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
/* line 241, ../sass/new-menu.scss */
#fixed-nav-container .button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
/* line 251, ../sass/new-menu.scss */
#fixed-nav-container .button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
/* line 265, ../sass/new-menu.scss */
#fixed-nav-container .button:hover {
  text-decoration: none;
}
/* line 267, ../sass/new-menu.scss */
#fixed-nav-container .button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
/* line 270, ../sass/new-menu.scss */
#fixed-nav-container .button:hover:before {
  transform: translateY(0);
}
/* line 278, ../sass/new-menu.scss */
#fixed-nav-container #new-menu * {
  transform-style: flat;
}

/* line 285, ../sass/new-menu.scss */
.white {
  color: white !important;
}

/* line 289, ../sass/new-menu.scss */
.dblue {
  color: #3d52a1 !important;
}

/* line 293, ../sass/new-menu.scss */
.bkg-dblue {
  background-color: #3d52a1 !important;
}

/******* RESPONSIVENESS *******/
@media (max-width: 350px) {
  /* line 299, ../sass/new-menu.scss */
  #view-all, #menu {
    transform: scale(0.7);
  }
}
