/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.ttf) format("truetype");
}
/* line 55, ../sass/stylesheet.scss */
h1 {
  font-family: 'SFN Republic';
}
@media (max-width: 599px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 900px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 1200px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (min-width: 1800px) {
  /* line 55, ../sass/stylesheet.scss */
  h1 {
    font-size: 10vmin;
  }
}

/* line 77, ../sass/stylesheet.scss */
h2 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (max-width: 599px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 1200px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 9vmin;
  }
}
@media (min-width: 1800px) {
  /* line 77, ../sass/stylesheet.scss */
  h2 {
    font-size: 10vmin;
  }
}

/* line 102, ../sass/stylesheet.scss */
h3 {
  font-family: 'caviardreams';
}

/* line 106, ../sass/stylesheet.scss */
p {
  font-family: 'raleway';
}
@media (max-width: 599px) {
  /* line 106, ../sass/stylesheet.scss */
  p {
    font-size: 18px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 106, ../sass/stylesheet.scss */
  p {
    font-size: 16px;
    line-height: 1.2em;
  }
}
@media (min-width: 900px) {
  /* line 106, ../sass/stylesheet.scss */
  p {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  /* line 106, ../sass/stylesheet.scss */
  p {
    font-size: 26px;
  }
}
@media (min-width: 1800px) {
  /* line 106, ../sass/stylesheet.scss */
  p {
    font-size: 10vmin;
  }
}

/* line 132, ../sass/stylesheet.scss */
a {
  font-family: 'arcon';
}

/* line 136, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/* line 155, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 163, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}
