/* FONTS, COLORS, MIX-IN'S*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@font-face {
  font-family: "beautysd";
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: "caviardreams";
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff");
}
@font-face {
  font-family: "arcon";
  src: url("../fonts/Arcon-Regular.otf"), url("../font/Arcon-Regular.ttf") url("../font/Arcon-Regular.woff"), url("../font/Arcon-Regular.woff2");
}
h2,
h3,
h4,
h5 {
  font-family: "caviardreams";
  margin: 0;
}

p {
  font-family: "arcon";
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.block {
  padding: 50px;
}

.dblue {
  background-color: #3d52a1;
  color: white;
}

.lblue {
  background-color: #2ba4c0;
  color: white;
}

.pink {
  background-color: #f06490;
  color: white;
}

.white {
  color: dblue;
}

.infobox {
  padding-top: 10px;
}

.thumbnail {
  width: 200px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.sm-thumbnail {
  width: 200px;
  height: auto;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;
  text-align: center;
  background-color: #2ba4c0;
}
.overlay:hover {
  opacity: 1;
}
.overlay .vam {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.overlay .thumbnail-info {
  display: inline-block;
  max-width: 95%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

.portfolio.block.dblue {
  text-align: center;
}
.portfolio.block.dblue h2 {
  font-size: 40px;
  border-bottom: 1px solid white;
  margin: 0px 0px 10px 0px;
  line-height: 2em;
}
.portfolio.block.dblue button {
  background-color: #f06490;
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
  margin: 8px 10px 10px 10px;
}

button.btn.med-type {
  font-family: "arcon";
  font-size: 16px;
}

.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.scale-anm {
  transform: scale(1);
}

.btn {
  -webkit-appearance: none;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.block {
  padding: 50px;
}

table {
  border-collapse: collapse;
  margin-left: 40px;
}
table p,
table h4 {
  padding: 0;
  margin: 0;
}

td,
th {
  text-align: left;
  padding: 8px;
}

.description {
  padding-top: 8px;
}

td {
  padding-left: 10px;
}

.flex .info {
  flex-basis: 50%;
}

.flex .description {
  flex-basis: 50%;
  line-height: 1.7em;
}

h2.project-title {
  font-size: 40px;
  border-bottom: 1px solid white;
  margin: 0px 0px 10px 0px;
  line-height: 2em;
}

.block img {
  width: 100%;
  height: auto;
}

.displayphoto.block {
  padding: 0px 50px 30px 50px;
}

@media screen and (max-width: 700px) {
  .flex .description, .flex .info {
    flex-basis: 100%;
  }

  .flex .info table {
    margin-left: 0px;
    margin-top: 10px;
  }

  td, th {
    padding-left: 0px;
  }

  th {
    padding-right: 8px;
  }

  .displayphoto.block {
    padding: 0px 5% 30px 5%;
  }

  .block {
    padding: 50px 5%;
  }

  h2.project-title {
    font-size: 25px;
  }
}
section.article {
  width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  display: block;
  color: #3d52a1;
}

html,
body {
  height: 100%;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.paper {
  width: 35em;
  height: 50em;
  background: #e8e8ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e8e8ea 0%, #efefef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8ea), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e8e8ea 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e8e8ea 0%, #efefef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e8e8ea 0%, #efefef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e8e8ea 0%, #efefef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e8e8ea", endColorstr="#efefef", GradientType=0);
  /* IE6-9 */
  margin: auto;
  border-radius: 2px;
  border-left: 2px solid #f5f5f7;
  border-bottom: 2px solid #f5f5f7;
  border-right: 1px solid #adc0bc;
  border-top: 1px solid #f4f4f6;
  box-shadow: 0 0 2px 0 #f4f4f6 inset, 0em 100px 500px -5px rgba(255, 255, 255, 0.5), -1em 1em 3em 1em rgba(255, 255, 255, 0.2), -5em 1em 30em 1em rgba(255, 255, 255, 0.2), 0em 2px 0 rgba(255, 255, 255, 0.7), 0em 10px 50px -10px white, 1.2em -0.8em 2em 0em #044134, 5.5em -1em 50em 0em #044134, 0px -5px 25px 0px #808f8c;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  backface-visibility: hidden;
}

/* 
.paper:hover{
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
} */
h1 {
  margin: 5em 0;
  margin-bottom: 50px;
  color: #111;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 0px 20px #eee;
}

/*# sourceMappingURL=styles.css.map */
