@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* line 3, ../sass/test3.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 9, ../sass/test3.scss */
html {
  font-size: 18px;
}

/* line 13, ../sass/test3.scss */
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 600;
  background: #f0f0f0;
}

/* line 21, ../sass/test3.scss */
ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
/* line 28, ../sass/test3.scss */
ul li a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 0 25px 25px 0;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
/* line 42, ../sass/test3.scss */
ul li a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
/* line 46, ../sass/test3.scss */
ul li a:hover span {
  left: 0;
}
/* line 50, ../sass/test3.scss */
ul li a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
}
/* line 56, ../sass/test3.scss */
ul li a i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
/* line 64, ../sass/test3.scss */
ul li .spotify {
  background: rgba(39, 174, 96, 0.1);
  border-color: #27ae60;
  color: #27ae60;
}
/* line 68, ../sass/test3.scss */
ul li .spotify:hover {
  background: #27ae60;
}
/* line 72, ../sass/test3.scss */
ul li .soundcloud {
  background: rgba(230, 126, 34, 0.1);
  border-color: #e67e22;
  color: #e67e22;
}
/* line 76, ../sass/test3.scss */
ul li .soundcloud:hover {
  background: #e67e22;
}
/* line 80, ../sass/test3.scss */
ul li .skype {
  background: rgba(34, 167, 240, 0.1);
  border-color: #22A7F0;
  color: #22A7F0;
}
/* line 84, ../sass/test3.scss */
ul li .skype:hover {
  background: #22a7f0;
}
/* line 88, ../sass/test3.scss */
ul li .dribbble {
  background: rgba(210, 82, 127, 0.1);
  border-color: #D2527F;
  color: #D2527F;
}
/* line 92, ../sass/test3.scss */
ul li .dribbble:hover {
  background: #d2527f;
}

/* entypo */
/* line 102, ../sass/test3.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 106, ../sass/test3.scss */
div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
/* line 112, ../sass/test3.scss */
div h1 {
  font-weight: 600;
  font-size: 2.4em;
  color: #303030;
  margin-bottom: .5em;
}
/* line 119, ../sass/test3.scss */
div p {
  color: #999;
  font-weight: 400;
  font-size: 1.2em;
}
/* line 125, ../sass/test3.scss */
div a {
  color: #4183D7;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 2px dotted #4183D7;
  transition: all .25s ease;
}
/* line 132, ../sass/test3.scss */
div a:hover {
  color: #D2527F;
  border-color: #D2527F;
}
