/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
/* line 80, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic';
}
@media (min-width: 351px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 80, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 106, ../sass/stylesheet.scss */
h2 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 6vmin;
  }
}
@media (min-width: 1800px) {
  /* line 106, ../sass/stylesheet.scss */
  h2 {
    font-size: 10vmin;
  }
}

/* line 131, ../sass/stylesheet.scss */
h3 {
  font-family: 'caviardreams';
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 900px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1200px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}
@media (min-width: 1800px) {
  /* line 131, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 156, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 156, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 182, ../sass/stylesheet.scss */
a {
  font-family: 'arcon';
}

/* line 186, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/* line 207, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 215, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 221, ../sass/stylesheet.scss */
input {
  border: none;
}

/* line 11, ../sass/test.scss */
ul.sm {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font: bold 20px 'caviardreams';
  padding: 0;
  margin: 0;
}
/* line 20, ../sass/test.scss */
ul.sm a {
  text-decoration: none;
  color: white;
}

/* line 26, ../sass/test.scss */
li {
  list-style: none;
  font: bold 20px 'caviardreams';
}
/* line 29, ../sass/test.scss */
li a {
  text-decoration: none;
  color: white;
}
/* line 33, ../sass/test.scss */
li#placeholder {
  width: 12%;
}

/* line 39, ../sass/test.scss */
.links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
/* line 44, ../sass/test.scss */
.links li {
  padding: 10px;
}

/* line 49, ../sass/test.scss */
.menu.relative {
  position: relative;
  background-color: #2ba4c0;
  margin: 0;
  padding: 30px 55px;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 62, ../sass/test.scss */
.mobile-home-button-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
/* line 68, ../sass/test.scss */
.mobile-home-button-container a {
  text-decoration: none;
}
/* line 71, ../sass/test.scss */
.mobile-home-button-container h1 {
  color: #3d52a1;
  font-family: 'beautysd';
  margin: 0;
  font-size: 8vw;
  letter-spacing: .14em;
  vertical-align: middle;
}

/* line 81, ../sass/test.scss */
#logo img {
  vertical-align: middle;
  margin-right: 40px;
  width: 100%;
  height: auto;
}

/* line 88, ../sass/test.scss */
#logo {
  z-index: 2;
  top: -10px;
  margin-right: 40px;
  width: 20%;
}

/* line 95, ../sass/test.scss */
.mobile img {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(62, 84, 159, 0.9));
  filter: drop-shadow(5px 5px 5px rgba(42, 64, 139, 0.9));
}

/* line 102, ../sass/test.scss */
.mobile {
  z-index: 2;
  position: relative;
  display: none;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 30%;
  padding: 10px;
}

/* line 113, ../sass/test.scss */
.placeholder {
  width: 20%;
}

/* line 117, ../sass/test.scss */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 127, ../sass/test.scss */
.post-header-gap {
  height: 60px;
}

/* line 135, ../sass/test.scss */
.links.mobile {
  display: none;
}

/* line 139, ../sass/test.scss */
#navbar-mobile {
  display: none;
}

/* line 143, ../sass/test.scss */
a#home {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-family: 'SFN Republic';
}

/********** **********
*  HAMBURGER BUTTON  *
********** **********/
/* line 154, ../sass/test.scss */
.hamburger {
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 200;
  color: white;
  right: 10px;
  top: 16px;
}

/* line 164, ../sass/test.scss */
a#mobile-home-button {
  display: none;
  cursor: pointer;
  z-index: 200;
  color: white;
  text-decoration: none;
  font-size: 8vw;
  white-space: nowrap;
}

/* line 174, ../sass/test.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #2ba4c0;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 184, ../sass/test.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 189, ../sass/test.scss */
.change .bar2 {
  opacity: 0;
}

/* line 193, ../sass/test.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 198, ../sass/test.scss */
.nav-li {
  position: relative;
  display: block;
  cursor: pointer;
}

/* line 204, ../sass/test.scss */
.hover-underline::after {
  content: "";
  position: absolute;
  top: 65%;
  height: 3px;
  width: 0%;
  left: 5%;
  background-color: deeppink;
  transition: 0.3s ease all .3s;
}

/* line 215, ../sass/test.scss */
.nav-li:hover .hover-underline::after {
  width: 100%;
  transition: .3s ease all;
}

@media screen and (max-width: 1100px) {
  /* line 227, ../sass/test.scss */
  .gallery {
    column-count: 2;
  }

  /* line 231, ../sass/test.scss */
  .menu.relative {
    padding: 3vw;
  }
}
@media screen and (max-width: 800px) {
  /* line 239, ../sass/test.scss */
  .mobile {
    display: block;
  }

  /* line 243, ../sass/test.scss */
  .gallery {
    column-count: 1;
    column-gap: 5px;
    padding: 0px;
  }

  /* line 249, ../sass/test.scss */
  .graphicdesign .gallery .thumbnail-container {
    padding: 10px 0px;
  }

  /* line 253, ../sass/test.scss */
  li#placeholder,
  .links {
    display: none;
  }

  /* line 258, ../sass/test.scss */
  .links.mobile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    displa: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }

  /* line 265, ../sass/test.scss */
  li:nth-child(4) {
    display: list-item;
  }
}
@media screen and (max-width: 950px) {
  /* line 271, ../sass/test.scss */
  .content-item {
    width: 500px;
    height: 300px;
  }

  /* line 276, ../sass/test.scss */
  a#home {
    border-bottom: 1px solid white;
    line-height: 2.6em;
    margin-bottom: .2em;
  }

  /* line 281, ../sass/test.scss */
  .menu.relative {
    padding-top: 0px;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }

  /* line 286, ../sass/test.scss */
  .links {
    width: 100%;
  }

  /* line 290, ../sass/test.scss */
  div.info {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  /* line 298, ../sass/test.scss */
  .overlay-content h2 {
    font-size: 1.5em;
  }
  /* line 302, ../sass/test.scss */
  .overlay-content p {
    font-size: 1em;
    line-height: normal;
  }

  /* line 308, ../sass/test.scss */
  .content-item .overlay-content {
    padding: 20px 10px;
  }

  /* line 312, ../sass/test.scss */
  #logo img {
    display: none;
  }

  /* line 316, ../sass/test.scss */
  #navbar-tablet {
    display: none;
  }

  /* line 321, ../sass/test.scss */
  .hamburger {
    display: inline-block;
  }

  /* line 325, ../sass/test.scss */
  a#mobile-home-button {
    display: block;
  }

  /* line 329, ../sass/test.scss */
  .bar1,
  .bar2,
  .bar3 {
    background-color: white;
  }

  /* line 335, ../sass/test.scss */
  .mobile-home-button-container {
    padding: 20px 20px 20px 20px;
    background-color: #2ba4c0;
    color: white;
    text-align: left;
  }
  /* line 341, ../sass/test.scss */
  .mobile-home-button-container h1 {
    font-size: 20vw;
  }

  /* line 346, ../sass/test.scss */
  .content-item.no-margin {
    margin-top: 0px;
  }

  /* line 353, ../sass/test.scss */
  #navbar-mobile .mobile-home-button-container,
  #navbar-mobile ul {
    padding: 30px;
  }
  /* line 358, ../sass/test.scss */
  #navbar-mobile .menu.relative li {
    display: block;
  }
  /* line 362, ../sass/test.scss */
  #navbar-mobile.menu.relative {
    width: 100%;
    padding: 0px;
  }
  /* line 368, ../sass/test.scss */
  #navbar-mobile .links.mobile {
    flex-flow: column wrap;
    justify-content: center;
    width: 80%;
  }
  /* line 372, ../sass/test.scss */
  #navbar-mobile .links.mobile li {
    text-align: center;
    margin: 10px auto;
  }

  /* line 378, ../sass/test.scss */
  .content-item {
    width: 90%;
    height: 38vmax;
  }

  /* line 383, ../sass/test.scss */
  div.button-container {
    position: relative;
    padding: 0px;
    margin: 0px;
  }
}
/* line 392, ../sass/test.scss */
a#test {
  display: block;
}
