/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Medium.otf") format("opentype"), url("../fonts/Futura/Futura-Medium-01.woff") format("woff"), url("../fonts/Futura/Futura-Medium-01.woff2") format("woff2"), url("../fonts/Futura/Futura-Medium-01.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Bold.otf") format("opentype"), url("../fonts/Futura/Futura-Bold.woff") format("woff"), url("../fonts/Futura/Futura-Bold-03.woff2") format("woff2"), url("../fonts/Futura/Futura-Bold-03.ttf") format("truetype");
  font-weight: bold;
}
/* line 120, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic', 'arial', serif;
}
@media (min-width: 351px) {
  /* line 120, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 120, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 120, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 146, ../sass/stylesheet.scss */
h2 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 7vmin;
  }
}
@media (min-width: 600px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 900px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 5vmin;
  }
}
@media (min-width: 1800px) {
  /* line 146, ../sass/stylesheet.scss */
  h2 {
    font-size: 8vmin;
  }
}

/* line 171, ../sass/stylesheet.scss */
h3 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 3vmin;
  }
}
@media (min-width: 600px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 900px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 1200px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 1800px) {
  /* line 171, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 196, ../sass/stylesheet.scss */
h4 {
  font-family: 'Futura', 'arial', serif;
}

/* line 200, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 200, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 226, ../sass/stylesheet.scss */
a {
  font-family: 'Futura', 'arial', serif;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* line 233, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/****** COLORS *********/
/* line 259, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 267, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 273, ../sass/stylesheet.scss */
input {
  border: none;
}

/****** FOOTER *********/
/* line 283, ../sass/stylesheet.scss */
div.sm-links {
  margin-top: 60px;
  text-align: center;
  width: 100%;
}

/* line 289, ../sass/stylesheet.scss */
li.sm {
  cursor: pointer;
}

/* line 292, ../sass/stylesheet.scss */
ul.sm {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 30px;
}
/* line 300, ../sass/stylesheet.scss */
ul.sm li.sm a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 25px;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
/* line 314, ../sass/stylesheet.scss */
ul.sm li.sm a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
  display: none;
}
/* line 321, ../sass/stylesheet.scss */
ul.sm li.sm a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
/* line 325, ../sass/stylesheet.scss */
ul.sm li.sm a:hover span {
  left: 0;
  display: initial;
}
/* line 329, ../sass/stylesheet.scss */
ul.sm li.sm a:hover svg {
  fill: #fff;
  margin-left: 20px;
}
/* line 334, ../sass/stylesheet.scss */
ul.sm li.sm a:hover i {
  position: absolute;
  right: 0px;
  top: 50%;
  left: 50%;
}
/* line 343, ../sass/stylesheet.scss */
ul.sm li.sm a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  width: .8em;
  height: .8em;
  fill: #3d52a1;
}
/* line 355, ../sass/stylesheet.scss */
ul.sm li.sm .transparency {
  background: rgba(255, 255, 255, 0.5);
  border-color: #3d52a1;
  color: #3d52a1;
}
/* line 359, ../sass/stylesheet.scss */
ul.sm li.sm .transparency:hover {
  background: #3d52a1;
}

/***********************/
/******* ALL *******/
/***********************/
/* line 7, ../sass/web.scss */
body {
  background-color: white;
}

/* line 12, ../sass/web.scss */
.web-portfolio-wrapper section {
  height: 100vh;
}

/* line 18, ../sass/web.scss */
.abs {
  position: absolute;
}

/***********************/
/******* OPENING *******/
/***********************/
/* line 27, ../sass/web.scss */
section.opening {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  overflow-y: visible;
  overflow-x: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef5f7+0,ffffff+100 */
  background: #eef5f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eef5f7 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eef5f7 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eef5f7 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef5f7', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

/*** CONTENT ***/
/* line 46, ../sass/web.scss */
.content {
  z-index: 200;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
/* line 53, ../sass/web.scss */
.content .image-container {
  width: 50%;
  height: 50%;
  z-index: 100;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  border: 3px solid #dddfe2;
}
/* line 61, ../sass/web.scss */
.content .image-container img {
  width: 100%;
  height: 100%;
}
/* line 66, ../sass/web.scss */
.content .title {
  text-align: center;
  color: #2ba4c0;
  border-top: 3px solid #dddfe2;
  margin-top: 7%;
}
/* line 71, ../sass/web.scss */
.content .title h2 {
  margin-top: 2%;
  font-size: 5vmin;
}

/*** BACKGROUND IMAGES ***/
/* line 80, ../sass/web.scss */
div.background-images {
  position: absolute;
}
/* line 82, ../sass/web.scss */
div.background-images.waves {
  top: -30vh;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: url("../raw/web/opening-waves.svg") center/cover no-repeat;
}
/* line 89, ../sass/web.scss */
div.background-images.waves img {
  max-height: 70%;
}
/* line 93, ../sass/web.scss */
div.background-images.shapes {
  width: 100%;
  z-index: -100;
  height: 100%;
}

/* line 101, ../sass/web.scss */
.circle {
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url("../raw/web/pink-circle-outline.svg") center/cover no-repeat;
  z-index: 100;
}

/* line 111, ../sass/web.scss */
.stripes {
  left: 0;
  bottom: -100px;
  width: 300px;
  height: 300px;
  position: absolute;
  background: url("../raw/web/blue-stripes.svg") -100px 0px/contain no-repeat;
  z-index: 100;
}

/******* Responsiveness ********/
@media (max-width: 900px) {
  /* line 127, ../sass/web.scss */
  .content .image-container {
    width: 60%;
    height: 55%;
  }
  /* line 132, ../sass/web.scss */
  .content .title {
    margin: 7%;
    margin-left: 10%;
  }
}
@media (max-width: 350px) {
  /* line 141, ../sass/web.scss */
  section.opening {
    justify-content: flex-start;
    height: 100vh;
  }

  /* line 145, ../sass/web.scss */
  .content {
    flex-flow: column-reverse nowrap;
    margin-top: 100px;
  }
  /* line 148, ../sass/web.scss */
  .content .image-container {
    width: 76%;
  }
  /* line 152, ../sass/web.scss */
  .content .title {
    color: white;
    border-top: none;
    margin-bottom: 20vh;
    text-align: left;
  }
  /* line 158, ../sass/web.scss */
  .content .title h2 {
    font-size: 10vmin;
  }

  /* line 165, ../sass/web.scss */
  div.background-images.waves {
    top: -35vh;
    background: url("../raw/web/mobile-waves.png") center/cover no-repeat;
  }
  /* line 169, ../sass/web.scss */
  div.background-images.shapes {
    z-index: 0;
  }
  /* line 171, ../sass/web.scss */
  div.background-images.shapes .circle {
    bottom: 35vh;
    right: -20vw;
    width: 270px;
    height: 270px;
  }
}
/* line 182, ../sass/web.scss */
.shape-stripes {
  position: absolute;
  bottom: -100px;
  left: -100px;
}

/***********************/
/***** INFORMATION *****/
/***********************/
/* line 193, ../sass/web.scss */
section.info {
  position: relative;
  background: white;
}

/* line 198, ../sass/web.scss */
div.info-card {
  background: #3d52a1;
  margin: 5% 10vw 0vw 10vw;
  padding: 7% 5%;
  padding-top: 9vw;
  width: 60vw;
  position: relative;
  height: auto;
  box-sizing: border-box;
}

/* line 209, ../sass/web.scss */
.company {
  color: #3d52a1;
  background: white;
  width: auto;
  position: relative;
}
/* line 214, ../sass/web.scss */
.company::before {
  content: '';
  background-color: white;
  position: absolute;
  height: 100%;
  width: 20px;
  left: -20px;
}

/* line 225, ../sass/web.scss */
.border {
  width: 95%;
  height: 95%;
  border: 1px solid #3d52a1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 235, ../sass/web.scss */
.challenge, .project {
  margin-top: 40px;
}
/* line 237, ../sass/web.scss */
.challenge h3, .project h3 {
  margin-bottom: 0px;
}
/* line 241, ../sass/web.scss */
.challenge p, .project p {
  margin-top: 10px;
}

/* line 247, ../sass/web.scss */
.specs {
  margin-top: 40px;
}

/* line 250, ../sass/web.scss */
.specs p:nth-child(even) {
  margin-top: 0px;
  margin-bottom: 15px;
}

/* line 255, ../sass/web.scss */
.specs p:nth-child(odd) {
  margin-bottom: 6px;
  margin-top: 20px;
}

/* line 260, ../sass/web.scss */
.pink-dotted-border {
  height: 40vh;
  width: 78vw;
  border: 3px dashed #eac3d0;
  top: 50vh;
  left: -20px;
  position: absolute;
}

/* line 269, ../sass/web.scss */
.three-pink-stripes {
  top: 10vh;
  left: -6%;
  background: url("../raw/web/info-section-3-pink-stripes.svg") center/contain no-repeat;
  width: 24vw;
  height: 30%;
}

/* line 277, ../sass/web.scss */
.pink-blob {
  bottom: -16vh;
  left: -2.5%;
  background: url(../raw/web/info-section-pink-blob.svg) center/contain no-repeat;
  width: 13vw;
  height: 30%;
}

/* line 285, ../sass/web.scss */
.pink-circle {
  bottom: 40vh;
  right: 0%;
  background: url("../raw/web/info-section-pink-circle-2.svg") center/contain no-repeat;
  width: 15vmax;
  height: 35vw;
}

/* line 293, ../sass/web.scss */
.blue-striped-circle {
  bottom: 6vh;
  left: 55vw;
  background: url(../raw/web/info-section-blue-circle.svg) center/contain no-repeat;
  width: 30vw;
  height: 30%;
}

/* line 301, ../sass/web.scss */
.pink-outline-circle-2 {
  top: 0vh;
  right: 2%;
  background: url(../raw/web/info-section-half-circle.svg) center/contain no-repeat;
  width: 40vw;
  height: 30%;
}

@media (max-width: 900px) {
  /* line 312, ../sass/web.scss */
  div.info-card {
    width: 60vw;
  }
}
@media (max-width: 599px) {
  /* line 319, ../sass/web.scss */
  div.info-card {
    margin: auto;
  }
}
@media (max-width: 350px) {
  /* line 325, ../sass/web.scss */
  div.info-card {
    width: 80vw;
  }

  /* line 329, ../sass/web.scss */
  section.info {
    overflow-x: hidden;
  }
}
/***********************/
/***** SITE-PREVIEW *****/
/***********************/
/* line 341, ../sass/web.scss */
section.site-preview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ebee;
  position: relative;
  height: calc((100vh)-100px);
  margin: 160px auto;
}
/* line 349, ../sass/web.scss */
section.site-preview::after, section.site-preview::before {
  content: '';
  width: 100%;
  height: 50px;
  background-color: #e9ebee;
  position: absolute;
}
/* line 357, ../sass/web.scss */
section.site-preview::after {
  bottom: -50px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* line 363, ../sass/web.scss */
section.site-preview::before {
  top: -50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
/* line 369, ../sass/web.scss */
section.site-preview iframe {
  height: 80%;
  width: 80%;
}

/* line 375, ../sass/web.scss */
.computer-container {
  position: relative;
}
/* line 377, ../sass/web.scss */
.computer-container img.computer {
  width: 100%;
  height: 100%;
}
/* line 381, ../sass/web.scss */
.computer-container .iframe-container {
  position: absolute;
  top: 13.7%;
  left: 19.8%;
  width: 75.4%;
  height: 62.8%;
}
/* line 387, ../sass/web.scss */
.computer-container .iframe-container iframe {
  border: none;
}

/***********************/
/***** EXPLORE-MORE ****/
/***********************/
/* line 398, ../sass/web.scss */
section.explore-more {
  height: 60vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,eef5f7+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 1%, #e9ebee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 1%, #e9ebee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 1%, #e9ebee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ebee',GradientType=0 );
  /* IE6-9 */
}
/* line 407, ../sass/web.scss */
section.explore-more h2 {
  color: #3d52a1;
  text-align: center;
  margin-bottom: 50px;
}

/* line 414, ../sass/web.scss */
div.tiles {
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto 4%;
}

/* line 422, ../sass/web.scss */
.image-container {
  z-index: 100;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  border: 3px solid #dddfe2;
  width: 26%;
  height: auto;
}
/* line 430, ../sass/web.scss */
.image-container img {
  width: 100%;
  height: 100%;
}

/* line 436, ../sass/web.scss */
button.general {
  background: #3d52a1;
  color: white;
  border-radius: 15px;
  margin: 6% auto;
  display: block;
  padding: 0px 20px;
}
/* line 443, ../sass/web.scss */
button.general a {
  padding: 20px 30px;
}

/***********************/
/******* FOOTER *******/
/***********************/
/* line 453, ../sass/web.scss */
footer {
  background: #e9ebee;
  position: relative;
  height: 50vh;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 462, ../sass/web.scss */
footer .waves-container {
  height: 50vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  z-index: -1;
}
/* line 471, ../sass/web.scss */
footer .waves-container img {
  width: 100%;
  height: 100%;
}

/* line 478, ../sass/web.scss */
div.content {
  z-index: 3;
  width: 80%;
  margin-top: 11%;
}

/* line 484, ../sass/web.scss */
ul.sm {
  margin-top: 7%;
  padding: 0px;
}

/* line 489, ../sass/web.scss */
ul.sm li.sm .transparency {
  border-color: white;
}

/* line 494, ../sass/web.scss */
ul.sm li.sm a svg {
  fill: white;
}
