/* FONTS, COLORS, MIX-IN'S*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900");
@font-face {
  font-family: 'beautysd';
  src: url("../fonts/BeautySchoolDropout.ttf") format("truetype"), url("../fonts/beautyschooldropout.woff") format("woff");
}
@font-face {
  font-family: 'caviardreams';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'arcon';
  src: url("../fonts/Arcon-Regular.otf") format("opentype"), url("../fonts/Arcon-Regular.woff") format("woff"), url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SFN Republic';
  src: url(../fonts/SFNewRepublic-Bold.otf) format("opentype"), url("../fonts/SFNewRepublic-Bold.woff") format("woff"), url("../fonts/SFNewRepublic-Bold.woff2") format("woff2"), url("../fonts/SFNewRepublic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Great Vibes';
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"), url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Medium.otf") format("opentype"), url("../fonts/Futura/Futura-Medium-01.woff") format("woff"), url("../fonts/Futura/Futura-Medium-01.woff2") format("woff2"), url("../fonts/Futura/Futura-Medium-01.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura/Futura-Bold.otf") format("opentype"), url("../fonts/Futura/Futura-Bold.woff") format("woff"), url("../fonts/Futura/Futura-Bold-03.woff2") format("woff2"), url("../fonts/Futura/Futura-Bold-03.ttf") format("truetype");
  font-weight: bold;
}
/* line 123, ../sass/stylesheet.scss */
h1 {
  font-size: 7vmax;
  font-family: 'SFN Republic', 'arial', serif;
}
@media (min-width: 351px) {
  /* line 123, ../sass/stylesheet.scss */
  h1 {
    font-size: 9vmax;
  }
}
@media (max-width: 599px) {
  /* line 123, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}
@media (min-width: 1800px) {
  /* line 123, ../sass/stylesheet.scss */
  h1 {
    font-size: 8vmax;
  }
}

/* line 151, ../sass/stylesheet.scss */
h2 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 600px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 40px;
  }
}
@media (min-width: 900px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 50px;
  }
}
@media (min-width: 1800px) {
  /* line 151, ../sass/stylesheet.scss */
  h2 {
    font-size: 8vmin;
  }
}

/* line 176, ../sass/stylesheet.scss */
h3 {
  font-family: 'Futura', 'arial', serif;
  margin: 0px;
}
@media (min-width: 351px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 2.5vmin;
  }
}
@media (min-width: 1800px) {
  /* line 176, ../sass/stylesheet.scss */
  h3 {
    font-size: 4vmin;
  }
}

/* line 201, ../sass/stylesheet.scss */
h4 {
  font-family: 'Futura', 'arial', serif;
}

/* line 205, ../sass/stylesheet.scss */
p, input, textarea {
  font-family: 'raleway';
}
@media (min-width: 351px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.2em;
  }
}
@media (min-width: 600px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
    line-height: 1.4em;
  }
}
@media (min-width: 900px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  /* line 205, ../sass/stylesheet.scss */
  p, input, textarea {
    font-size: 1.4vmax;
  }
}

/* line 231, ../sass/stylesheet.scss */
a {
  font-family: 'Futura', 'arial', serif;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* line 238, ../sass/stylesheet.scss */
.bold {
  font-weight: bold;
}

/****** COLORS *********/
/* line 265, ../sass/stylesheet.scss */
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #eef5f7;
  height: 100%;
}

/* line 273, ../sass/stylesheet.scss */
.content-item a {
  text-decoration: none;
  color: white;
}

/* line 279, ../sass/stylesheet.scss */
input {
  border: none;
}

/****** NORMALIZE *********/
/* line 286, ../sass/stylesheet.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  position: relative;
}

/****** FOOTER *********/
/* line 300, ../sass/stylesheet.scss */
div.sm-links {
  margin-top: 60px;
  text-align: center;
  width: 100%;
}

/* line 306, ../sass/stylesheet.scss */
li.sm {
  cursor: pointer;
}

/* line 309, ../sass/stylesheet.scss */
ul.sm {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 30px;
}
/* line 317, ../sass/stylesheet.scss */
ul.sm li.sm a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 25px;
  border: 2px solid #000;
  background: #FFF;
  margin-bottom: 1em;
  transition: all .4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
/* line 331, ../sass/stylesheet.scss */
ul.sm li.sm a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
  display: none;
}
/* line 338, ../sass/stylesheet.scss */
ul.sm li.sm a:hover {
  cursor: pointer;
  width: 180px;
  color: #fff;
}
/* line 342, ../sass/stylesheet.scss */
ul.sm li.sm a:hover span {
  left: 0;
  display: initial;
}
/* line 346, ../sass/stylesheet.scss */
ul.sm li.sm a:hover svg {
  fill: #fff;
  margin-left: 20px;
}
/* line 351, ../sass/stylesheet.scss */
ul.sm li.sm a:hover i {
  position: absolute;
  right: 0px;
  top: 50%;
  left: 50%;
}
/* line 360, ../sass/stylesheet.scss */
ul.sm li.sm a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  width: .8em;
  height: .8em;
  fill: #3d52a1;
}
/* line 372, ../sass/stylesheet.scss */
ul.sm li.sm .transparency {
  background: rgba(255, 255, 255, 0.5);
  border-color: #3d52a1;
  color: #3d52a1;
}
/* line 376, ../sass/stylesheet.scss */
ul.sm li.sm .transparency:hover {
  background: #3d52a1;
}

/* line 389, ../sass/stylesheet.scss */
#new-menu {
  color: #f06490;
  right: 30px;
  z-index: 10000;
  position: fixed;
  top: 80px;
  top: 5vh;
  left: 1vw;
  width: 50px;
  height: 50px;
}
/* line 403, ../sass/stylesheet.scss */
#new-menu p {
  color: white;
  text-align: center;
  margin-left: 1vw;
}
/* line 410, ../sass/stylesheet.scss */
#new-menu:hover .open span {
  color: #d4eef6;
}

/* line 417, ../sass/stylesheet.scss */
span.menu-icon {
  color: #f06490;
}

/* line 421, ../sass/stylesheet.scss */
.wrappery {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  perspective: 1px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transform-style: preserve-3d;
}

/* line 436, ../sass/stylesheet.scss */
html {
  box-sizing: border-box;
}

/* line 439, ../sass/stylesheet.scss */
*, *:after, *:before {
  box-sizing: inherit;
}

/* line 446, ../sass/stylesheet.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 451, ../sass/stylesheet.scss */
.open {
  position: fixed;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
/* line 458, ../sass/stylesheet.scss */
.open::before {
  content: 'menu';
  color: white;
  display: block;
  position: absolute;
  top: -24%;
  left: 9%;
}
/* line 466, ../sass/stylesheet.scss */
.open:hover {
  opacity: 0.94;
}
/* line 469, ../sass/stylesheet.scss */
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
/* line 482, ../sass/stylesheet.scss */
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
/* line 486, ../sass/stylesheet.scss */
.open span:nth-child(2) {
  margin-top: 25px;
}
/* line 489, ../sass/stylesheet.scss */
.open span:nth-child(3) {
  margin-top: 40px;
}

/* line 494, ../sass/stylesheet.scss */
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f06490;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
/* line 505, ../sass/stylesheet.scss */
.sub-menu li {
  display: block;
  float: left;
  clear: both;
  height: auto;
  margin-right: -160px;
  font-weight: 600;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 513, ../sass/stylesheet.scss */
.sub-menu li:first-child {
  margin-top: 150px;
}
/* line 516, ../sass/stylesheet.scss */
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
/* line 519, ../sass/stylesheet.scss */
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
/* line 522, ../sass/stylesheet.scss */
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
/* line 525, ../sass/stylesheet.scss */
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
/* line 528, ../sass/stylesheet.scss */
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
/* line 531, ../sass/stylesheet.scss */
.sub-menu li a {
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
/* line 539, ../sass/stylesheet.scss */
.sub-menu li a:hover {
  color: #3d52a1;
}

/* line 547, ../sass/stylesheet.scss */
.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
/* line 552, ../sass/stylesheet.scss */
.oppenned span:nth-child(2) {
  overflow: visible;
}
/* line 555, ../sass/stylesheet.scss */
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
/* line 559, ../sass/stylesheet.scss */
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
/* line 562, ../sass/stylesheet.scss */
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  left: -70px;
  top: -160px;
  border-radius: 50%;
  background-color: #f06490;
}
/* line 570, ../sass/stylesheet.scss */
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
/* line 573, ../sass/stylesheet.scss */
.oppenned li {
  margin-left: 100px;
}

/* line 577, ../sass/stylesheet.scss */
.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
/* line 587, ../sass/stylesheet.scss */
.button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
/* line 597, ../sass/stylesheet.scss */
.button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
/* line 611, ../sass/stylesheet.scss */
.button:hover {
  text-decoration: none;
}
/* line 613, ../sass/stylesheet.scss */
.button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
/* line 616, ../sass/stylesheet.scss */
.button:hover:before {
  transform: translateY(0);
}

/* line 626, ../sass/stylesheet.scss */
#new-menu * {
  transform-style: flat;
}

@media (max-width: 599px) {
  /* line 631, ../sass/stylesheet.scss */
  #new-menu {
    left: 1vw;
  }
}
/* line 636, ../sass/stylesheet.scss */
.bkg-dblue {
  background-color: #3d52a1 !important;
}

/***********************/
/******* ALL *******/
/***********************/
/* line 43, ../sass/web.scss */
body {
  background-color: white;
  height: 100%;
}

/* line 48, ../sass/web.scss */
html {
  height: 100%;
}

/* line 52, ../sass/web.scss */
.web-portfolio-wrapper {
  height: 100%;
}
/* line 54, ../sass/web.scss */
.web-portfolio-wrapper section {
  height: auto;
  margin: 0;
  padding: 0;
}

@media (max-width: 1400px) {
  /* line 64, ../sass/web.scss */
  .web-portfolio-wrapper section.opening, .web-portfolio-wrapper section.info {
    min-height: 700px;
  }
}
/* line 69, ../sass/web.scss */
.abs {
  position: absolute;
}

/***********************/
/******* OPENING *******/
/***********************/
/* line 78, ../sass/web.scss */
section.opening {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  overflow-y: visible;
  overflow-x: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef5f7+0,ffffff+100 */
  background: #eef5f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eef5f7 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eef5f7 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eef5f7 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef5f7', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

/*** CONTENT ***/
/* line 97, ../sass/web.scss */
.content {
  z-index: 200;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
/* line 105, ../sass/web.scss */
.content .image-container {
  width: 50%;
  height: 50%;
  z-index: 100;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  border: 3px solid #dddfe2;
  position: relative;
}
/* line 114, ../sass/web.scss */
.content .image-container img {
  width: 100%;
  height: 100%;
}
/* line 120, ../sass/web.scss */
.content .title {
  text-align: center;
  color: #3d52a1;
  border-top: 3px solid #dddfe2;
  margin-top: 7%;
  margin: 7%;
  margin-left: 10%;
}
/* line 127, ../sass/web.scss */
.content .title h2 {
  margin-top: 2%;
}

/* line 133, ../sass/web.scss */
section.opening .content {
  margin-top: 12%;
}

/*** BACKGROUND IMAGES ***/
/* line 139, ../sass/web.scss */
div.background-images {
  position: absolute;
}
/* line 141, ../sass/web.scss */
div.background-images.waves {
  top: -30vh;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: url("../raw/web/opening-waves.svg") center/cover no-repeat;
}
/* line 148, ../sass/web.scss */
div.background-images.waves img {
  max-height: 70%;
}
/* line 152, ../sass/web.scss */
div.background-images.shapes {
  width: 100%;
  z-index: -100;
  height: 100%;
}

/* line 160, ../sass/web.scss */
.circle {
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url("../raw/web/pink-circle-outline.svg") center/cover no-repeat;
  z-index: 100;
}

/* line 170, ../sass/web.scss */
.stripes {
  left: 0;
  bottom: -100px;
  width: 300px;
  height: 300px;
  position: absolute;
  background: url("../raw/web/blue-stripes.svg") -100px 0px/contain no-repeat;
  z-index: 100;
}

/***********************/
/***** INFORMATION *****/
/***********************/
/* line 185, ../sass/web.scss */
section.info {
  position: relative;
  background: white;
}

/* line 190, ../sass/web.scss */
div.info-card {
  background: #3d52a1;
  padding: 8%;
  position: relative;
  height: auto;
  box-sizing: border-box;
  width: 80vw;
  margin: 15% auto;
  border-radius: 15px;
  z-index: 200;
}

/* line 202, ../sass/web.scss */
.company {
  color: #3d52a1;
  background: white;
  margin-right: 40%;
  width: auto;
  position: relative;
}
/* line 209, ../sass/web.scss */
.company.long {
  margin-right: 0%;
}
/* line 213, ../sass/web.scss */
.company::before {
  content: '';
  background-color: white;
  position: absolute;
  height: 100%;
  width: 20px;
  left: -20px;
}
/* line 223, ../sass/web.scss */
.company::after {
  content: '';
}

/* line 230, ../sass/web.scss */
.border {
  width: 95%;
  height: 95%;
  border: 1px solid #3d52a1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 240, ../sass/web.scss */
.challenge, .project {
  margin-top: 40px;
}
/* line 242, ../sass/web.scss */
.challenge h3, .project h3 {
  margin-bottom: 0px;
}
/* line 246, ../sass/web.scss */
.challenge p, .project p {
  margin-top: 10px;
}

/* line 252, ../sass/web.scss */
.specs {
  margin-top: 40px;
}

/* line 255, ../sass/web.scss */
.specs p:nth-child(even) {
  margin-top: 0px;
  margin-bottom: 15px;
}

/* line 260, ../sass/web.scss */
.specs p:nth-child(odd) {
  margin-bottom: 6px;
  margin-top: 20px;
}

/* line 265, ../sass/web.scss */
.pink-dotted-border {
  height: 40vh;
  width: 78vw;
  border: 3px dashed #eac3d0;
  top: 50vh;
  left: -20px;
  position: absolute;
}

/* line 274, ../sass/web.scss */
.three-pink-stripes {
  top: 10vh;
  left: -6%;
  background: url("../raw/web/info-section-3-pink-stripes.svg") center/contain no-repeat;
  width: 24vw;
  height: 30%;
}

/* line 282, ../sass/web.scss */
.pink-blob {
  bottom: -16vh;
  left: -2.5%;
  width: 13vw;
  height: 30%;
  z-index: 2;
}

/* line 291, ../sass/web.scss */
.pink-circle {
  bottom: 40vh;
  right: 0%;
  background: url("../raw/web/info-section-pink-circle-2.svg") center/contain no-repeat;
  width: 15vmax;
  height: 35vw;
}

/* line 299, ../sass/web.scss */
.blue-striped-circle {
  bottom: 6vh;
  left: 55vw;
  background: url(../raw/web/info-section-blue-circle.svg) center/contain no-repeat;
  width: 30vw;
  height: 30%;
}

/* line 307, ../sass/web.scss */
.pink-outline-circle-2 {
  top: 0vh;
  right: 2%;
  background: url(../raw/web/info-section-half-circle.svg) center/contain no-repeat;
  width: 40vw;
  height: 30%;
}

@media (max-width: 900px) {
  /* line 318, ../sass/web.scss */
  div.info-card {
    padding: 10% 8%;
  }
}
@media (max-width: 599px) {
  /* line 325, ../sass/web.scss */
  div.info-card {
    margin: auto;
  }
}
@media (max-width: 350px) {
  /* line 331, ../sass/web.scss */
  div.info-card {
    width: 80vw;
    padding: 19% 8%;
  }
}
/***********************/
/***** SITE-PREVIEW *****/
/***********************/
/* line 347, ../sass/web.scss */
section.site-preview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* line 352, ../sass/web.scss */
section.site-preview::after {
  content: '';
  width: 100%;
  height: 50px;
  background-color: white;
  position: absolute;
}
/* line 360, ../sass/web.scss */
section.site-preview::after {
  bottom: -50px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* line 367, ../sass/web.scss */
section.site-preview iframe {
  height: 80%;
  width: 80%;
}
/* line 372, ../sass/web.scss */
section.site-preview .content {
  padding-top: 10vh;
  margin-top: 10%;
  margin-left: 10%;
  align-items: flex-start;
}
/* line 378, ../sass/web.scss */
section.site-preview .content h2::after {
  content: '';
  width: 100%;
  height: 20px;
  margin-left: 20px;
  border-bottom: 2px dashed #f06490;
}
/* line 386, ../sass/web.scss */
section.site-preview .content button.general {
  margin: 0 auto;
}
/* line 390, ../sass/web.scss */
section.site-preview .content li {
  list-style: circle;
  font-weight: 500;
}

/* line 397, ../sass/web.scss */
.content-background {
  width: 100%;
  height: 100%;
  color: #3d52a1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14%;
  padding: 10% 10% 18% 6%;
  position: relative;
  overflow-x: hidden;
}

/* line 417, ../sass/web.scss */
.large-pink-blob {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 426, ../sass/web.scss */
.blue-blob {
  bottom: 4%;
  right: 4%;
  width: 60vw;
  height: 50%;
  z-index: -2;
}

/* line 434, ../sass/web.scss */
.blue-ring {
  top: 0vh;
  right: 2%;
  height: 30%;
}

/* line 440, ../sass/web.scss */
.blue-rings-two {
  bottom: -10%;
  left: -10%;
  height: 40%;
  width: 40%;
  z-index: 2;
}

/* line 448, ../sass/web.scss */
.computer-container {
  position: relative;
}
/* line 450, ../sass/web.scss */
.computer-container img.computer {
  width: 100%;
  height: 100%;
}
/* line 454, ../sass/web.scss */
.computer-container .iframe-container {
  position: absolute;
  top: 13.7%;
  left: 19.8%;
  width: 75.4%;
  height: 62.8%;
}
/* line 460, ../sass/web.scss */
.computer-container .iframe-container iframe {
  border: none;
}

/***********************/
/***** EXPLORE-MORE ****/
/***********************/
/* line 470, ../sass/web.scss */
section.explore-more {
  height: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9ebee+0,ffffff+100 */
  background: #e9ebee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e9ebee 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e9ebee 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e9ebee 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ebee', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  padding-top: 25vh;
  padding-bottom: 10vh;
}
/* line 475, ../sass/web.scss */
section.explore-more h2 {
  color: #3d52a1;
  text-align: center;
  margin-bottom: 50px;
}

/* line 482, ../sass/web.scss */
div.tiles {
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto 4%;
}

/* line 491, ../sass/web.scss */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3d52a1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 502, ../sass/web.scss */
.overlay-link {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

/* line 508, ../sass/web.scss */
.image-container:hover .overlay-link {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease;
  cursor: pointer;
}

/* line 515, ../sass/web.scss */
.image-container {
  z-index: 100;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  border: 3px solid #dddfe2;
  width: 23%;
  height: auto;
  line-height: 0;
  position: relative;
}
/* line 526, ../sass/web.scss */
.image-container img {
  width: 100%;
  height: 100%;
}
/* line 530, ../sass/web.scss */
.image-container h3 {
  line-height: normal;
  text-align: center;
}

/* line 537, ../sass/web.scss */
button.general {
  background: #3d52a1;
  color: white;
  border-radius: 15px;
  margin: 6% auto;
  display: block;
  padding: 0px 20px;
  padding: 20px 30px;
  font-size: 18px;
  font-family: 'futura';
}
/* line 548, ../sass/web.scss */
button.general h4 {
  margin: 0;
}

/***********************/
/******* FOOTER *******/
/***********************/
/* line 558, ../sass/web.scss */
footer {
  background: white url("../raw/web/footer-waves.png") top/cover no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  displa: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  max-height: 500px;
}
/* line 570, ../sass/web.scss */
footer .waves-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  z-index: -1;
}
/* line 579, ../sass/web.scss */
footer .waves-container img {
  width: 100%;
  height: 100%;
}
/* line 585, ../sass/web.scss */
footer div.content {
  z-index: 3;
  width: 50%;
  padding-top: 11%;
  box-sizing: border-box;
}
/* line 591, ../sass/web.scss */
footer div.content div.sm-links {
  margin-top: 17%;
}

/* line 597, ../sass/web.scss */
.extra-blue {
  width: 100%;
  background: #3d52a1;
}

/* line 605, ../sass/web.scss */
ul.sm {
  margin-top: 10%;
  padding: 0px;
}

/* line 610, ../sass/web.scss */
ul.sm li.sm .transparency {
  border-color: white;
}

/* line 615, ../sass/web.scss */
ul.sm li.sm a svg {
  fill: white;
}

/* line 619, ../sass/web.scss */
button:active {
  outline: 0;
  background-color: #314281;
  transform: translateY(10deg);
}

/* line 625, ../sass/web.scss */
.btn,
button {
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (min-width: 400px) {
  /* line 625, ../sass/web.scss */
  .btn,
  button {
    width: auto;
  }
}
/* line 645, ../sass/web.scss */
.btn:hover,
button:hover {
  background: #445bb3;
  border-color: #445bb3;
  color: #fff;
}

/* line 652, ../sass/web.scss */
.btn-border {
  background-color: transparent;
  color: #3d52a1;
}

/* line 657, ../sass/web.scss */
.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}
/* line 660, ../sass/web.scss */
.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
/* line 666, ../sass/web.scss */
.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
/* line 669, ../sass/web.scss */
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
/* line 679, ../sass/web.scss */
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
/* line 684, ../sass/web.scss */
.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

/***********************/
/*** RESPONSIVENESS ***/
/***********************/
@media (min-width: 900px) {
  /* line 696, ../sass/web.scss */
  section.site-preview .content {
    padding-top: 10vh;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 0%;
    align-items: flex-start;
  }
}
@media (max-width: 900px) {
  /* line 709, ../sass/web.scss */
  .content .image-container {
    width: 60%;
    height: 55%;
  }

  /* line 716, ../sass/web.scss */
  .company {
    margin-right: 23%;
  }

  /* line 720, ../sass/web.scss */
  div.tiles {
    flex-flow: column nowrap;
    align-items: center;
  }
  /* line 723, ../sass/web.scss */
  div.tiles .image-container {
    margin: 6% auto;
    width: 70%;
  }
  /* line 728, ../sass/web.scss */
  div.tiles .image-container:first-child {
    margin-top: 0%;
  }

  /* line 733, ../sass/web.scss */
  section.explore-more {
    height: auto;
  }
}
@media (max-width: 599px) {
  /* line 742, ../sass/web.scss */
  .stripes {
    top: 59vh;
  }

  /* line 746, ../sass/web.scss */
  .circle {
    top: 40vh;
    right: -30%;
  }

  /* line 752, ../sass/web.scss */
  .company {
    margin-right: 10vw;
  }

  /* line 757, ../sass/web.scss */
  section.site-preview .content {
    padding-top: 25vh;
    margin: 0;
    padding-bottom: 20vh;
  }

  /* line 763, ../sass/web.scss */
  .large-pink-blob {
    top: 40%;
    left: 40%;
  }

  /* line 768, ../sass/web.scss */
  .content-background {
    margin-right: 0%;
  }

  /* line 772, ../sass/web.scss */
  .blue-rings-two {
    bottom: -20%;
  }

  /* line 776, ../sass/web.scss */
  .content {
    margin: 0;
  }

  /* line 780, ../sass/web.scss */
  .content-background {
    padding: 0;
  }

  /* line 788, ../sass/web.scss */
  footer div.content {
    width: 90%;
  }
}
@media (max-width: 350px) {
  /* line 795, ../sass/web.scss */
  section.opening {
    justify-content: flex-start;
    height: 100vh;
  }

  /* line 799, ../sass/web.scss */
  section.opening .content {
    flex-flow: column-reverse nowrap;
    margin-top: 100px;
  }
  /* line 803, ../sass/web.scss */
  section.opening .content .image-container {
    width: 76%;
  }
  /* line 807, ../sass/web.scss */
  section.opening .content .title {
    color: white;
    border-top: none;
    margin-bottom: 14vh;
    text-align: left;
    font-size: 24px;
    margin: 7%;
    margin-left: 10%;
  }

  /* line 822, ../sass/web.scss */
  section.site-preview .content {
    margin-left: 6%;
  }
  /* line 824, ../sass/web.scss */
  section.site-preview .content ul {
    padding-left: 20px;
  }

  /* line 830, ../sass/web.scss */
  div.background-images.waves {
    top: -35vh;
    background: url("../raw/web/mobile-waves.png") center/cover no-repeat;
  }
  /* line 834, ../sass/web.scss */
  div.background-images.shapes {
    z-index: 0;
  }
  /* line 836, ../sass/web.scss */
  div.background-images.shapes .circle {
    bottom: 35vh;
    right: -20vw;
    width: 270px;
    height: 270px;
  }

  /* line 845, ../sass/web.scss */
  div.tiles .image-container {
    width: 80%;
  }
}
/* line 851, ../sass/web.scss */
.shape-stripes {
  position: absolute;
  bottom: -100px;
  left: -100px;
}

/* line 859, ../sass/web.scss */
.menu-active {
  color: #eac3d0 !important;
}
