@import "compass/css3";

@font-face {
    font-family: 'beautysd';
    src: url('../fonts/BeautySchoolDropout.ttf') format('truetype'),
    url('../fonts/beautyschooldropout.woff') format('woff');
}

@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype'),
    url('../fonts/CaviarDreams_Bold.woff') format('woff'),
    url('../fonts/CaviarDreams_Bold.woff2') format('woff2'),
    url('../fonts/CaviarDreams-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'arcon';
    src: url('../fonts/Arcon-Regular.otf') format('opentype'),
    url('../fonts/Arcon-Regular.woff') format('woff'),
    url('../fonts/Arcon-Regular.woff2') format('woff2'),
    url('../fonts/Arcon-Regular.ttf') format('truetype');
}