@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700');

@font-face {
    font-family: 'beautysd';
    src: url('../fonts/BeautySchoolDropout.ttf') format('truetype'),
    url('../fonts/beautyschooldropout.woff') format('woff');
}

@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype'),
    url('../fonts/CaviarDreams_Bold.woff') format('woff'),
    url('../fonts/CaviarDreams_Bold.woff2') format('woff2'),
    url('../fonts/CaviarDreams-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'arcon';
    src: url('../fonts/Arcon-Regular.otf') format('opentype'),
    url('../fonts/Arcon-Regular.woff') format('woff'),
    url('../fonts/Arcon-Regular.woff2') format('woff2'),
    url('../fonts/Arcon-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SFN Republic';
    src: url(../fonts/SFNewRepublic-Bold.ttf) format('truetype');
}

h2 {
    font-family: 'caviardreams';
    margin: 0px;
}

h3 {
    font-family: 'caviardreams';
}

p {
    font-family: 'raleway', sans-serif;
}

a {
    font-family: 'raleway', sans-serif;
}

.bold {
    font-weight: bold;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    displa: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

@mixin center() {
    @include flexbox();
    justify-content: center;
    align-items: center;
}

$test-border: 2px solid green;
$pink: #f06490;
$lblue: #2ba4c0;
$transblue: rgba(43, 164, 192, .85);
$dblue: #3d52a1;

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: $dblue;
    font-family: 'raleway';
}

.content-item a {
    text-decoration: none;
    color: white;
}


html, body {
    height: 100%;
}


//*************************//
//******** LANDING ********//
//*************************//


.landing-page img {
    position: absolute;
   width: 100%;
    height: 100%;
}
.landing {
    background: url(../raw/LP-01.svg) center / cover no-repeat;
    position: relative;
    @include center();
    height: 100%;
}

.name-plaque {
    height: 80%;
    width: 800%;
    @include center();
}

.name-plaque img {
    height: 100%;
    width: 100%;
}


.name-title {
    position: absolute;
    color: $dblue;
    font: 100px 'SFN Republic';    
    margin: 0px;
}

div.about-me {
    background: url(../raw/LP-07.svg) center / cover no-repeat;
    height: 100%;
    position: relative;
    color: $dblue;
}

div.card {
    background: white;
    height: 80%;
//    width: 80%;
    margin: 8%;
    position: absolute;
    padding: 5%;
    box-sizing: border-box;
    @include center();
    flex-flow: column nowrap;
    & h2 {
        font-size: 44px;
    }
    
    & p {
        font-size: 25px;
        line-height: 1.4em;
    }
}

div.stars {
    background: url(../raw/LP-08.svg) center / cover no-repeat;
    height: 100%;
    position: relative;
    @include center();
    justify-content: flex-start;
    font-size: 40px;
    line-height: .8em;
    
    & .text {
        padding-left: 10%;
    }
}

p.space-below {
    line-height: 1.8em;
    font: italic 300 40px 'raleway';
}

.shadow {
    text-shadow: 4px 5px 10px #1d1c52;
}

.indent {
    text-indent: 60px;
}

div.empty {
//    width: 100%;
    height: 254/518%;
    background: url(../raw/LP-09.svg) center / cover no-repeat;
}
