//***********************//
//***** STYLESHEET ******//
//***********************//

@import "stylesheet.scss";


//***********************//
//******* HEADER ********//
//***********************//

$nav-text: white;
$active-tab: $lblue;
$nav-background: $dblue;

ul.sm {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font: bold 20px 'caviardreams';
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: white;
    }
}

li {
    list-style: none;
    font: bold 20px 'caviardreams';
    a {
        text-decoration: none;
        color: $nav-text;
    }
    &#placeholder {
        width: 12%;
    }
}


.links {
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    & li {
        padding: 10px;
    }
}

.menu.relative {
    position: relative;
    background-color: $nav-background;
    margin: 0;
    padding: 30px 55px;
    flex-flow: row wrap;
    @include flexbox();
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
//    border-top: 10px solid $nav-ribbon;
}

.mobile-home-button-container {
    width: 100%;

    @include flexbox();
    flex-flow: row wrap;

    & a {
        text-decoration: none;
    }
    h1 {
        color: $dblue;
        font-family: 'beautysd';
        margin: 0;
        font-size: 8vw;
        letter-spacing: .14em;
        vertical-align: middle;
    }
}

#logo img {
    vertical-align: middle;
    margin-right: 40px;
    width: 100%;
    height: auto;
}

#logo {
    z-index: 2;
    top: -10px;
    margin-right: 40px;
    width: 20%;
}

.mobile img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(62, 84, 159, 0.9));
    filter: drop-shadow(5px 5px 5px rgba(42, 64, 139, 0.9));
}

.mobile, .tablet {
    z-index: 2;
    position: relative;
    display: none;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 30%;
    padding: 10px;
}

.placeholder {
    width: 20%;
}

.flex {
    @include flexbox();
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.post-header-gap {
    height: 60px;
}


.links.mobile {
    display: none;
}

#navbar-mobile {
    display: none;
}

a#home {
    text-decoration: none;
    color: $nav-text;
    font-size: 50px;
    font-family: 'SFN Republic';
}

// Menu hover effects
.nav-li {
    position: relative;
    display: block;
    cursor: pointer;
    margin-left: 2vw;
}

.hover-underline::after {
        content: "";
        position: absolute;
        top: 80%;
        height: 4px;
        width: 0%;
        left: 10%;
        background-color: $pink;
        transition: 0.3s ease all .1s;
}

.nav-li:hover  .hover-underline::after  {
    width: 85%;
    transition: .15s ease all;
}

.active-a {
    color: $active-tab;
}

/********** **********
*  HAMBURGER BUTTON  *
********** **********/

.hamburger {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 200;
    color: $nav-text;
    right: 10px;
    top: 16px;
}

a#mobile-home-button {
    display: none;
    cursor: pointer;
    z-index: 200;
    color: $nav-text;
    text-decoration: none;
    font-size: 8vw;
    white-space: nowrap;
    font-family: 'SFN Republic';
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: $lblue;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}





//***********************//
//**** WEB PORTFOLIO ****//
//***********************//

.content-item {
    background: url(https://dummyimage.com/400x300/000/fff);
    display: flex;
    width: 43%;
    height: 26vw;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    border-radius: 15px;
    @include transition(all .3s ease-out);
    &:hover .overlay {
        cursor: pointer;
        background: rgba($dblue,.9);
        
    }
    .corner-overlay-content {
        opacity: 0;
    }

    .overlay-content {
        text-align: center;
        bottom: 0;
        color: white;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        @include flexbox();
        @include flexboxcenter();
        flex-flow: column nowrap;
        @include transition(all .3s ease-out);
        h3 {
            border-bottom: 1px solid white;
            padding: 0 0 12px;
            display: none;
            @include transition(all 2s ease-out);

        }
        p {
            font-size: 120%;
        }
    }
    &:hover .overlay-content {
        opacity: 1;
        background: $dblue;
        @include transition(all .3s ease-out);
    }
    &:hover h2 {
        opacity: 1;
    }

}

.corner-overlay-content h2 {
    text-align: right;
}


.folio {
    margin-bottom: 40px;
}

.folio .flex {
    justify-content: space-evenly;
}

.bkg-blue-grey {
    background-color: $bkg-blue-grey;
}

//***********************//
//***** Image Tiles *****//
//***********************//
.content-item {
    &.cvilleweekly {
        background: url(../raw/Thumbnails/cville-weekly.jpg) center / cover no-repeat;
    }

    &.vector {
        background: url(../raw/Thumbnails/vector-thumb.jpg) center / cover no-repeat;
    }

    &.AEM {
        background: url(../raw/Thumbnails/aem2.jpg) center / cover no-repeat;
    }

    &.CSO {
        background: url(../raw/Thumbnails/CSO-thumb.jpg) center / cover no-repeat;
    }

    &.HC {
        background: url(../raw/Thumbnails/hackcville2.jpg) center / cover no-repeat;
    }

    &.C4K {
        background: url(../raw/Thumbnails/c4k-thumb.jpg) center / cover no-repeat;
    }

    &.Foodio {
        background: url(../raw/Thumbnails/foodio-thumb.jpg) center / cover no-repeat;
    }

    &.RogueJohnsen {
        background: url(../raw/Thumbnails/rogue-thumb.jpg) center / cover no-repeat;
    }

}



//***********************//
//********* ART *********//
//***********************//
.thumbnail-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sm-thumbnail {
    width: 100%;
    height: auto;
    &:hover {
        opacity: .5;
        background-color: rgba(90, 90, 90, 0.9);
        transform: scale(1);
        cursor: zoom-in;
        @include transition(all .3s ease-out);
    }
}

.art .flex {
    padding: 0px 30px;
    flex-flow: row wrap;
}

.art h2,
.art h3 {
    text-align: center;
}

.art h2 {
    font-size: 40px;
}

.gallery {
    column-count: 3;
    column-gap: 30px;
    line-height: 20px;
    padding: 0px 40px;
}

.art .thumbnail-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}


//***********************//
//**** GRAPHIC DESIGN ***//
//***********************//
h2.graphicdesign,
.graphicdesign h2 {
    color: $dblue;
    display: block;
    width: 100%;
    //    margin-left: 40px;
    text-align: center;
    font-size: 55px;
    margin: 20px 0px;
}

.flex.graphicdesign {
    align-content: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
}

.graphicdesign {
    h2 {
        color: white;
        margin-bottom: 30px;
    }

    &.dblue {
        background-color: $dblue;
    }

    &.lblue {
        background-color: $lblue;
    }

    &.pink {
        background-color: $pink;
    }

    &.white {
        h2 {
            color: $dblue;
        }
    }

}

.graphicdesign.block {
    padding: 30px;
}

//.graphicdesign .sm-thumbnail {
//    max-width: 300px;
//    max-height: 300px;
//}
.graphicdesign .gallery .thumbnail-container {
    padding: 10px;
}

.graphicdesign h2,
.graphicdesign h3 {
    text-align: center;
}

//****************//
//**** MUSIC *****//
//****************//
.dblue {
    background-color: $dblue;
    color: white;
}

.lblue {
    background-color: $lblue;
    color: white;
}

.pink {
    background-color: $pink;
    color: white;
}

.white {
    color: $dblue;
}

.container {
    padding: 40px;
}

.ensemble p {
    text-indent: 20px;
    &.indent {
        text-indent: 60px;
    }
}

.education {
    &.gap {
        height: 40px;
    }
    h3 {
        text-indent: 20px;
    }
//    p {
//        text-indent: 40px;
//    }
}


.conducting-picture {
    width: 40%;
    margin-right: 5%;
    & img {
        width: 100%;
    }
}

.ensemble.container {
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: center;
}

.coming-soon {
    text-align: center;
    font-size: 40px;
}

//*************************//
//******** FOODIO *********//
//*************************//
.indent {
    text-indent: 20px;
}


//*************************//
//******** BUTTONS ********//
//*************************//


.overlay-content button {
    background: white;
    border: none;
    border-radius: 15px;
    color: #2ba4c0;
    margin-bottom: 10px;
    padding: 12px 14px;
    font-size: 13px;
    box-shadow: inset 0 0 0 2px white;
    margin: 10px;
    @include transition(all .3s ease-out);
    & a {
        color: $dblue;
    }
}



button:hover {
    background: $pink;
    color: white;
    cursor: pointer;
}

button:hover a {
    color: white;
}





//*************************//
//***** RESPONSIVENESS ****//
//*************************//

@media screen and (max-width: 1100px) {
    .gallery {
        column-count: 2;
    }

    .menu.relative {
        padding: 3vw;
    }

}

@media screen and (max-width: 950px) {
    .content-item {
        width: 500px;
        height: 300px;
    }
    
    a#home {
        border-bottom: 1px solid white;
        line-height: 14vh;
        margin-bottom: .2em;
        margin-top: 20px;
    }
    .menu.relative {
        padding-top: 0px;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }
    .links {
        width: 100%;
    }
    
    div.info {
        margin-top: 20px;
    }

}


@media screen and (max-width: 800px) {
    .mobile {
        display: block;
    }

    .gallery {
        column-count: 1;
        column-gap: 5px;
        padding: 0px;
    }

    .graphicdesign .gallery .thumbnail-container {
        padding: 10px 0px;
    }



    li:nth-child(4) {
        display: list-item;
    }
}



@media screen and (max-width: 500px) {
        .links.mobile {
        @include flexbox();
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
    }
    .overlay-content {
        & h2 {
            font-size: 1.5em;
        }
        
        & p {
            font-size: 1em;
            line-height: normal;
        }
    }
    
    .content-item .overlay-content {
        padding: 20px 10px;
    }
    
    #logo img{
        display: none;
    }
    
    #navbar-tablet {
        display: none;
    }
    

    .hamburger {
        display: inline-block;
    }
    
    a#mobile-home-button {
        display: block;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        background-color: white;
    }
    
    .mobile-home-button-container {
        padding: 20px 20px 20px 20px;
        background-color: $dblue;
        color: white;
        text-align: left;
        
        & h1 {
            font-size: 20vw;    
        }
    }
    
    .content-item.no-margin {
        margin-top: 0px;
    }
        
    #navbar-mobile {


        .mobile-home-button-container,
        ul {
            padding: 30px;
        }

        .menu.relative li {
            display: block;
        }

        &.menu.relative {
            width: 100%;
            padding: 0px;
        }


        .links.mobile, .links.tablet {
            flex-flow: column wrap;
            justify-content: center;
            width: 80%;
            & li {
                text-align: center;
                margin: 10px auto;
            }
        }
    }
    .content-item {
        width: 90%;
        height: 38vmax;
    }
    
    div.button-container {
        position: relative;
        padding: 0px;
        margin: 0px;
    }

}


a#test {

    display: block;
}



