/* FONTS, COLORS, MIX-IN'S*/

@import "compass/css3";

@font-face {
    font-family: 'beautysd';
    src: url('../fonts/BeautySchoolDropout.ttf') format('truetype'),
    url('../fonts/beautyschooldropout.woff') format('woff');
}

@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype'),
    url('../fonts/CaviarDreams_Bold.woff') format('woff'),
    url('../fonts/CaviarDreams_Bold.woff2') format('woff2'),
    url('../fonts/CaviarDreams-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'arcon';
    src: url('../fonts/Arcon-Regular.otf') format('opentype'),
    url('../fonts/Arcon-Regular.woff') format('woff'),
    url('../fonts/Arcon-Regular.woff2') format('woff2'),
    url('../fonts/Arcon-Regular.ttf') format('truetype');
}

h2 {
    font-family: 'caviardreams';
    margin: 0px;
}

h3 {
    font-family: 'caviardreams';
}

p {
    font-family: 'arcon';
    line-height: 24px;
}

.bold {
    font-weight: bold;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    displa: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

$test-border: 2px solid green;
$pink: #f06490;
$lblue: #2ba4c0;
$dblue: #3d52a1;

body {
    padding: 0;
    margin: 0;
    color: white;
}


//***********************//
//******* HEADER ********//
//***********************//
.jocelyn {
    text-align: center;
    background-color: white;
    padding: 50px 50px 50px 80px;
    //    border: $test-border;
    h1 {
        color: $dblue;
        font-family: 'beautysd';
        margin: 0;
        font-size: 96px;
        letter-spacing: .14em;
    }
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font: bold 20px 'caviardreams';
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: white;
    }
}

li {
    list-style: none;
    font: bold 20px 'caviardreams';
    a {
        text-decoration: none;
        color: white;
    }
    &#placeholder {
        width: 12%;
    }
}


.links {
    width: 44%;
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: space-around;
}

.menu.relative {
    position: relative;
    background-color: $lblue;
    margin: 0;
    padding: 50px;
    flex-flow: row nowrap;
    @include flexbox();
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#floating img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(62, 84, 159, 0.9));
    filter: drop-shadow(5px 5px 5px rgba(42, 64, 139, 0.9));
}

#floating {
    z-index: 2;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: -10px;
    left: 44%;
    width: 12%;
}

.mobile img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(62, 84, 159, 0.9));
    filter: drop-shadow(5px 5px 5px rgba(42, 64, 139, 0.9));
}

.mobile {
    z-index: 2;
    position: relative;
    display: none;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 30%;
    padding: 10px;
}

.placeholder {
    width: 20%;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.post-header-gap {
    height: 60px;
}

.links a:hover {
    border-bottom: 4px solid $pink;
}

.links.mobile {
    display: none;
}

#mobile-navbar {
    display: none;
}

/********** **********
*  HAMBURGER BUTTON  *
********** **********/

.hamburger {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    color: $lblue;
    left: 10px;
    top: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: $lblue;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

//***********************//
//**** WEB PORTFOLIO ****//
//***********************//
.content-item {
    background: url(https://dummyimage.com/400x300/000/fff);
    display: flex;
    width: 40%;
    height: 30vmax;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    .overlay {
        border-bottom: 100px solid $lblue;
        border-left: 1000px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .95;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        @include transition(all .5s ease-out);
        width: 0;
    }
    &:hover .overlay {
        border-bottom: 2000px solid $lblue; //size must be double container
        border-left: 2000px solid transparent; //size must be double container
        @include transition(all .4s ease-out);
    }
    .corner-overlay-content {
        bottom: 15px;
        color: white;
        position: absolute;
        right: 15px;
        //    padding: 13px;
        @include transition(all .5s ease-out);
    }
    //    p {
    //        padding: 12px 0 0 0;
    //        border-top: 1px solid white;
    //        transition: all .5s ease-out;
    //        opacity: 0;
    //    }
    //    &:hover {
    //        p {
    //            opacity: 1;
    //        }
    //    }
    &:hover .corner-overlay-content {
        opacity: 0;
        @include transition(all .5s ease-out);
    }
    .overlay-content {
        bottom: 0;
        color: white;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        @include transition(all .3s ease-out);
        h2 {
            border-bottom: 1px solid white;
            padding: 0 0 12px;
        }
    }
    &:hover .overlay-content {
        opacity: 1;
        @include transition(all .3s ease-out);
        @include transition-delay(.3s);
    }

}

.corner-overlay-content h2 {
    text-align: right;
}


//***********************//
//***** Image Tiles *****//
//***********************//
.content-item {
    &.cvilleweekly {
        background: url(../raw/cvilleweekly.png) top left / cover no-repeat;
    }

    &.vector {
        background: url(../raw/vector.png) top left / cover no-repeat;
    }

    &.AEM {
        background: url(../raw/AEM.png) top left / cover no-repeat;
    }

    &.CSO {
        background: url(../raw/CSO.png) top left / cover no-repeat;
    }

    &.HC {
        background: url(../raw/HC.png) top left / cover no-repeat;
    }

    &.C4K {
        background: url(../raw/C4K/C4K-tile.png) top left / cover no-repeat;
    }

    &.Foodio {
        background: url(../raw/Foodio-tile.png) top left / cover no-repeat;
    }

    &.RogueJohnsen {
        background: url(../raw/RogueJohnsen-tile.png) top left / cover no-repeat;
    }

}


.content-item.bottom {
    .overlay {}
}

//***********************//
//***** PILOT TEST ******//
//***********************//
//.test {
//    margin-top: 50px;
////    border-top: 100px solid red;
////    border-right: 0px solid green;
//    background-color: $dblue;
//    width: 400px;
//    height: 300px;
//    color: white;
//    padding: 20px;
//    box-sizing: border-box;
//    h2 {
//        margin: 0 0 12px;
//    }
//    p {
//        padding: 12px 0 0 0;
//        border-top: 1px solid white;
//        transition: all .5s ease-out;
//        opacity: 0;
//    }
//    &:hover {
//        p {
//            opacity: 1;
//        }
//    }
//}
//
//
//
//
//p{
//  margin: 0;
//  padding: 0;
//}
//***********************//
//********* ART *********//
//***********************//
.thumbnail-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sm-thumbnail {
    width: 100%;
    height: auto;
    &:hover {
        opacity: .5;
        background-color: rgba(90, 90, 90, 0.9);
        transform: scale(1);
        cursor: zoom-in;
        @include transition(all .2s ease-out);
    }
}

.art .flex {
    padding: 0px 30px;
    flex-flow: row wrap;
}

.art h2,
.art h3 {
    text-align: center;
}

.art h2 {
    font-size: 40px;
}

.gallery {
    column-count: 3;
    column-gap: 30px;
    line-height: 20px;
    padding: 0px 40px;
}

.art .thumbnail-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}


//***********************//
//**** GRAPHIC DESIGN ***//
//***********************//
h2.graphicdesign,
.graphicdesign h2 {
    color: $dblue;
    display: block;
    width: 100%;
    //    margin-left: 40px;
    text-align: center;
    font-size: 55px;
    margin: 20px 0px;
}

.flex.graphicdesign {
    align-content: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
}

.graphicdesign {
    h2 {
        color: white;
        margin-bottom: 30px;
    }

    &.dblue {
        background-color: $dblue;
    }

    &.lblue {
        background-color: $lblue;
    }

    &.pink {
        background-color: $pink;
    }

    &.white {
        h2 {
            color: $dblue;
        }
    }

}

.graphicdesign.block {
    padding: 30px;
}

//.graphicdesign .sm-thumbnail {
//    max-width: 300px;
//    max-height: 300px;
//}
.graphicdesign .gallery .thumbnail-container {
    padding: 10px;
}

.graphicdesign h2,
.graphicdesign h3 {
    text-align: center;
}

//****************//
//**** MUSIC *****//
//****************//
.dblue {
    background-color: $dblue;
    color: white;
}

.lblue {
    background-color: $lblue;
    color: white;
}

.pink {
    background-color: $pink;
    color: white;
}

.white {
    color: $dblue;
}

.container {
    padding: 40px;
}

.ensemble p {
    text-indent: 20px;
    &.indent {
        text-indent: 60px;
    }
}

.education {
    &.gap {
        height: 40px;
    }
    h3 {
        text-indent: 20px;
    }
    p {
        text-indent: 40px;
    }
}

.conducting-picture {
    width: 40%;
    margin-right: 5%;
    & img {
        width: 100%;
    }
}

.ensemble.container {
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: center;
}

.coming-soon {
    text-align: center;
    font-size: 40px;
}

//*************************//
//******** FOODIO *********//
//*************************//
.indent {
    text-indent: 20px;
}


//*************************//
//***** RESPONSIVENESS ****//
//*************************//
@media screen and (max-width: 1100px) {
    .gallery {
        column-count: 2;
    }

    .menu.relative {
        padding: 3vw;
    }

}

@media screen and (max-width: 1000px) {
    li:nth-child(4) {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .mobile {
        display: block;
    }
    #floating {
        display: none;
    }

    .jocelyn {
        display: none;
    }

    .gallery {
        column-count: 1;
        column-gap: 5px;
        padding: 0px;
    }

    .graphicdesign .gallery .thumbnail-container {
        padding: 10px 0px;
    }

    li#placeholder,
    .links {
        display: none;
    }

    .links.mobile {
        @include flexbox();
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
    }

    li:nth-child(4) {
        display: list-item;
    }
}

@media screen and (max-width: 950px) {
    .content-item {
        width: 500px;
        height: 300px;
    }

}

@media screen and (max-width: 500px) {
    #navbar {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    #mobile-navbar {


        .jocelyn,
        ul {
            padding: 30px;
        }

        .menu.relative li {
            display: block;
        }

        &.menu.relative {
            width: 100%;
            padding: 0px;
        }


        .links.mobile {
            flex-flow: column wrap;
            justify-content: center;
            width: 80%;
            & li {
                text-align: center;
                margin: 10px auto;
            }
        }
    }
    .content-item {
        width: 80%;
        height: 30vmax;
    }
}