
// Responsive Mix-Ins

@mixin for-small-phone {
  @media (max-width: 350px) { @content; }
}

@mixin for-tablet-portrait-down {
  @media (max-width: 599px) { @content; }
}

@mixin for-phone-only {
  @media (min-width: 351px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 900px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin under-desktop {
    @media (max-width: 1200px) { @content; }
}

@mixin for-tv-up {
  @media (min-width: 1800px) { @content; }
}


// Flexblox Mix-Ins

// Flexbox
@mixin flexbox() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

// Flexbox Center
@mixin flexboxcenter() {
    align-items: center;
    justify-content: center;
}

/* FONTS, COLORS, MIX-IN'S*/

@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,600,700,800,900');

@font-face {
    font-family: 'beautysd';
    src: url('../fonts/BeautySchoolDropout.ttf') format('truetype'),
    url('../fonts/beautyschooldropout.woff') format('woff');
}

@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype'),
    url('../fonts/CaviarDreams_Bold.woff') format('woff'),
    url('../fonts/CaviarDreams_Bold.woff2') format('woff2'),
    url('../fonts/CaviarDreams-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'arcon';
    src: url('../fonts/Arcon-Regular.otf') format('opentype'),
    url('../fonts/Arcon-Regular.woff') format('woff'),
    url('../fonts/Arcon-Regular.woff2') format('woff2'),
    url('../fonts/Arcon-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SFN Republic';
    src: url(../fonts/SFNewRepublic-Bold.otf) format('opentype'),
    url('../fonts/SFNewRepublic-Bold.woff') format('woff'),
    url('../fonts/SFNewRepublic-Bold.woff2') format('woff2'),
    url('../fonts/SFNewRepublic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.otf') format('opentype'),
    url('../fonts/GreatVibes-Regular.woff') format('woff'),
    url('../fonts/GreatVibes-Regular.woff2') format('woff2'),
    url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}

// Futura Medium
@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/Futura-Medium.otf') format('opentype'),
        url('../fonts/Futura/Futura-Medium-01.woff') format('woff'),
    url('../fonts/Futura/Futura-Medium-01.woff2') format('woff2'),
    url('../fonts/Futura/Futura-Medium-01.ttf') format('truetype');
    font-weight: normal;
}

//Futura Bold
@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/Futura-Bold.otf') format('opentype'),
        url('../fonts/Futura/Futura-Bold.woff') format('woff'),
    url('../fonts/Futura/Futura-Bold-03.woff2') format('woff2'),
    url('../fonts/Futura/Futura-Bold-03.ttf') format('truetype');
    font-weight: bold;
}

h1 {
    font-size: 7vmax;
    font-family: 'SFN Republic', 'arial', serif;
    @include for-phone-only {
        font-size: 9vmax;
    }
//    
//    @include for-tablet-portrait-up {
//        font-size: 9vmax;
//    }
//    
//    @include for-tablet-landscape-up {
//        font-size: 9vmax;
//    }
//    
//    @include for-desktop-up {
//        font-size: 9vmax;
//    }
//    
    @include for-tablet-portrait-down {
      font-size: 8vmax;
    }
    @include for-tv-up {
        font-size: 8vmax;
    }
}
h2 {
    font-family: 'Futura', 'arial', serif;
    margin: 0px;
    
    @include for-phone-only {
        font-size: 7vmin;
    }
    
    @include for-tablet-portrait-up {
        font-size: 40px;
    }
    
    @include for-tablet-landscape-up {
        font-size: 50px;
    }
    
    @include for-desktop-up {
        font-size: 50px;
    }
    
    @include for-tv-up {
        font-size: 8vmin;
    }
}

h3 {
     font-family: 'Futura', 'arial', serif;
    margin: 0px;
    
     @include for-phone-only {
        font-size: 3vmin;
    }
    
    @include for-tablet-portrait-up {
        font-size: 2.5vmin;
    }
    
    @include for-tablet-landscape-up {
        font-size: 2.5vmin;
    }
    
    @include for-desktop-up {
        font-size: 2.5vmin;
    }
    
    @include for-tv-up {
        font-size: 4vmin;
    }
}

h4 {
    font-family: 'Futura', 'arial', serif;
}

p, input, textarea {
    font-family: 'raleway';
    
     @include for-phone-only {
        font-size: 15px;
         line-height: 1.2em;
    }
    
    @include for-tablet-portrait-up {
        font-size: 15px;
        line-height: 1.4em;
    }
    
    @include for-tablet-landscape-up {
        font-size: 15px;
    }
    
    @include for-desktop-up {
        font-size: 15px;
    }
    
    @include for-tv-up {
        font-size: 1.4vmax;
    }
}

a {
    font-family: 'Futura', 'arial', serif;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    displa: -moz-flex;
    display: -webkit-flex;
    display: flex;
}


/****** COLORS *********/

$test-border: 2px solid green;
$pink: #f06490;
$lblue: #2ba4c0;
$transblue: rgba(43, 164, 192, .85);
$dblue: #3d52a1;
$dblue-active: #314281;
$moonblue: #d4eef6;
$lpink: #eac3d0;
$grey-bkg: #e9ebee;
$grey-border: #dddfe2;

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #eef5f7;
    height: 100%;
}

.content-item a {
    text-decoration: none;
    color: white;
}


input {
    border: none;
}


/****** FOOTER *********/
//***********************//
//***** SM BUTTONS ******//
//***********************//

div.sm-links {
    margin-top: 60px;
    text-align: center;
    width: 100%;
}

li.sm {
    cursor: pointer;
}
ul.sm {
    list-style: none;
    width: 100%;
    @include flexbox();
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 30px;
    li.sm {
        a {
            display: block;
            margin-left: -2px;
            height: 60px;
            width: 60px;
            border-radius: 25px;
            border: 2px solid #000;
            background: #FFF;
            margin-bottom: 1em;
            transition: all .4s ease;
            color: #2980b9;
            text-decoration: none;
            line-height: 60px;
            position: relative;
            span {
                padding: 0 30px 0 15px;
                position: absolute;
                left: -120px;
                transition: left .4s ease;
                display: none;
            }
            &:hover {
                cursor: pointer;
                width: 180px;
                color: #fff;
                span {
                    left: 0;
                    display: initial;
                }
                svg {
                    fill: #fff;
                    margin-left: 20px;
                }

                i {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    left: 50%;
                }
            }


            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.5em;
                width: .8em;
                height: .8em;
                fill: #3d52a1;
            }
        }

        .transparency {
            background: rgba(#fff, .5);
            border-color: #3d52a1;
            color: #3d52a1;
            &:hover {
                background: rgba(#3d52a1, 1);
            }
        }

    }
}
