  html, body {
          height: 100%; 
          margin: 0; 
          padding: 0; 
      }

          body {
          min-height: 100%; 
          font-size: 16px;
          background-color: rgb(232, 232, 232);
          font-family: Calibri;
      }      

.footer {
          color: white; 
          /*background: url(Images/images/footer_bg.gif) repeat-x; */
          padding-top: 10px;
          padding-bottom: 9px; 
          padding-left: 30%; 
      }

      .footerContainer {
          width: 100%; 
          margin: 0; 
          padding: 0; 
          margin-top: 60px; 
          position: absolute;
          border:1px solid;
          bottom:0;
      }