  html, body {
          height: 100%; 
          margin: 0; 
          padding: 0; 
      }

          body {
          min-height: 100%; 
          font-size: 16px;
          background-color: rgb(232, 232, 232);
          font-family: Calibri;
          background: #3d52a1;
      }      




.card-bkg {
    background-color: white;
    display: none;
}
.card-content {
    background-color: white;
    z-index: 999;
    color: #3d52a1;
    height: auto;
    box-sizing: border-box;
    padding: 5%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    & h2 {
        text-align: center;
    }
//    @include for-phone-only {
//        height: auto;
//    }
}

.button-bkg {
    position: absolute;
    z-index: -999;
    &.one {
        left: -70px;
        top: 50%;
        transform: translateY(-50%);
    }
     &.two {
        right: -70px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.card-container {
    position: relative;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 900;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    background-color: white;
}


.container-bkg {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
    left: -40px;
}


/* Position the "next button" to the right */
.next {
    right: -40px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: azure;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}