@import "stylesheet.scss";

@mixin gradient-greytowhite{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9ebee+0,ffffff+100 */
background: #e9ebee; /* Old browsers */
background: -moz-linear-gradient(top, #e9ebee 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e9ebee 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e9ebee 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ebee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-whitetogrey {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9ebee+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e9ebee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e9ebee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e9ebee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ebee',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-whitetoblue {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,3d52a1+48 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #3d52a1 48%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#3d52a1 48%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#3d52a1 48%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3d52a1',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-bluetransition {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#384c94+0,3d52a1+100 */
background: #384c94; /* Old browsers */
background: -moz-linear-gradient(top, #384c94 0%, #3d52a1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #384c94 0%,#3d52a1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #384c94 0%,#3d52a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384c94', endColorstr='#3d52a1',GradientType=0 ); /* IE6-9 */
}

/***********************/
/******* ALL *******/
/***********************/

body {
    background-color: white;
    height: 100%;
}

html {
    height: 100%;
}

.web-portfolio-wrapper {
    height: 100%;
    & section {
        height: auto;
//        border: 1px solid aqua;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1400px) { 

    .web-portfolio-wrapper section.opening, .web-portfolio-wrapper section.info {
        min-height: 700px;
    }
}

.abs {
    position: absolute;
}


/***********************/
/******* OPENING *******/
/***********************/

section.opening {
    position: relative;
    @include flexbox();
    @include flexboxcenter();
    flex-flow: column wrap;
    overflow-y: visible;
    overflow-x: hidden;
 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef5f7+0,ffffff+100 */
background: #eef5f7; /* Old browsers */
background: -moz-linear-gradient(top, #eef5f7 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #eef5f7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #eef5f7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef5f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

/*** CONTENT ***/

.content {
    z-index: 200;
    @include flexbox();
    @include flexboxcenter();
    flex-flow: column nowrap;
//        margin: auto 10%;
//    margin-top: 100px; 
    // Computer image
    & .image-container {
        width: 50%;
        height: 50%;
        z-index: 100;
        border-radius: 15px;
        overflow: hidden;
        background: white;
        border: 3px solid #dddfe2;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
        }
       
    } // Title
    & .title {
        text-align: center;
        color: $dblue;
        border-top: 3px solid #dddfe2;
        margin-top: 7%;
        margin: 7%;
        margin-left: 10%;
        & h2 {
            margin-top: 2%;
        }
    }
}

section.opening .content {
    margin-top: 12%;
}

/*** BACKGROUND IMAGES ***/

div.background-images {
    position: absolute;
    &.waves {
        top: -30vh;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background: url('../raw/web/opening-waves.svg') center / cover no-repeat;
        & img {
            max-height: 70%;
        }
    }
    &.shapes {
        width: 100%;
        z-index: -100;
        height: 100%;
        
    }
}

.circle {
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    position: absolute;
    background: url('../raw/web/pink-circle-outline.svg') center / cover no-repeat;
    z-index: 100;
}

.stripes {
    left: 0;
    bottom: -100px;
    width: 300px;
    height: 300px;
    position: absolute;
    background: url('../raw/web/blue-stripes.svg') -100px 0px / contain no-repeat;
    z-index: 100;
}


/***********************/
/***** INFORMATION *****/
/***********************/

section.info {
    position: relative;
    background: white;
}

div.info-card {
    background: $dblue;
    padding: 8%;
    position: relative;
    height: auto;
    box-sizing: border-box;
    width: 80vw;
    margin: 15% auto;
    border-radius: 15px;
    z-index: 200;
}

.company {
    color: $dblue;
    background: white;
    margin-right: 40%;
    width: auto;
    position: relative;
    
    &.long {
        margin-right: 0%;
    }
    
    &::before {
        content: '';
        background-color: white;
        position: absolute;
        height: 100%;
        width: 20px;
        left: -20px;
        
    }
    
    &::after {
        content: '';
        
    }
}


.border {
    width: 95%;
    height: 95%;
    border: 1px solid $dblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.challenge, .project {
    margin-top: 40px;
    & h3 {
        margin-bottom: 0px;
    }
    
    & p {
        margin-top: 10px;
    }
}


.specs {
    margin-top: 40px;
}
.specs p:nth-child(even) {
    margin-top: 0px;
    margin-bottom: 15px;
}

.specs p:nth-child(odd) {
    margin-bottom: 6px;
    margin-top: 20px;
}

.pink-dotted-border {
    height: 40vh;
    width: 78vw;
    border: 3px dashed #eac3d0;
    top:  50vh;
    left: -20px;
    position: absolute;
}

.three-pink-stripes {
    top: 10vh;
        left: -6%;
    background: url('../raw/web/info-section-3-pink-stripes.svg') center / contain no-repeat;
    width: 24vw;
    height: 30%;
}

.pink-blob {
    bottom: -16vh;
    left: -2.5%;
//    background: url(../raw/web/info-section-pink-blob.svg) center/contain no-repeat;
    width: 13vw;
    height: 30%;
    z-index: 2;
}

.pink-circle {
    bottom: 40vh;
    right: 0%;
    background: url('../raw/web/info-section-pink-circle-2.svg') center / contain no-repeat;
    width: 15vmax;
    height: 35vw;
}

.blue-striped-circle {
    bottom: 6vh;
    left: 55vw;
    background: url(../raw/web/info-section-blue-circle.svg) center/contain no-repeat;
    width: 30vw;
    height: 30%;
}

.pink-outline-circle-2 {
    top: 0vh;
    right: 2%;
    background: url(../raw/web/info-section-half-circle.svg) center/contain no-repeat;
    width: 40vw;
    height: 30%;
}

// Responsiveness 

@include for-tablet-landscape-down {
    div.info-card {
        padding: 10% 8%;
    }   
}


@include for-tablet-portrait-down {
    div.info-card {
        margin: auto;
    }
}

@include for-small-phone {
    div.info-card {
        width: 80vw;
        padding: 19% 8%;
    }
    
}




/***********************/
/***** SITE-PREVIEW *****/
/***********************/



section.site-preview {
    @include flexbox();
    @include flexboxcenter();
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 50px;
        background-color: white;
        position: absolute;
    }
    
    &::after {
        bottom: -50px;
        border-bottom-left-radius:50%;
        border-bottom-right-radius:50%;
    }
    

    iframe {
        height: 80%;
        width: 80%;
    }
    
    & .content {
        padding-top: 10vh;
        margin-top: 10%;
        margin-left: 10%;
        align-items: flex-start;
        
        & h2::after {
            content: '';
            width: 100%;
            height: 20px;
            margin-left: 20px;
            border-bottom: 2px dashed $pink;
        }
        
        & button.general {
            margin: 0 auto;
        }
        
        & li {
            list-style: circle;
            font-weight: 500;
        }
    }
}

.content-background {
//     background: url(../raw/web/links_big%20pink%20blob.svg) center/contain no-repeat;
    width: 100%;
    height: 100%;
    color: $dblue;
    @include flexbox();
    @include flexboxcenter();
    margin-right: 14%;
    padding: 10% 10% 18% 6%;
    position: relative; 
    overflow-x: hidden;
//    & p {
//        font-size: 120%;
//    }
//    
//    & h2 {
//        font-size: 250%;
//    }
}

.large-pink-blob {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.blue-blob {
    bottom: 4%;
    right: 4%;
    width: 60vw;
    height: 50%;
    z-index: -2;
}

.blue-ring {
    top: 0vh;
    right: 2%;
    height: 30%;
}

.blue-rings-two {
    bottom: -10%;
    left: -10%;
    height: 40%;
    width: 40%;
    z-index: 2;
}

.computer-container {
    position: relative;
    img.computer {
        width: 100%;
        height: 100%;
    }
    .iframe-container {
        position: absolute;
        top: 13.7%;
        left: 19.8%;
        width: 75.4%;
        height: 62.8%;
        & iframe {
            border: none;
        }
    }
}

/***********************/
/***** EXPLORE-MORE ****/
/***********************/

section.explore-more {
    height: auto;
    @include gradient-greytowhite();
    padding-top: 25vh;
    padding-bottom: 10vh;
    & h2 {
        color: $dblue;
        text-align: center;
        margin-bottom: 50px;
    }
}

div.tiles {
    height: auto;
    @include flexbox();
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto 4%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($dblue, 1);
    @include flexbox();
    @include flexboxcenter();
}

.overlay-link {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}

.image-container:hover .overlay-link {
    visibility: visible;    
    opacity: 1;
    transition: all 0.4s ease;
    cursor: pointer;
}

.image-container {
    z-index: 100;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    border: 3px solid #dddfe2;
    width: 23%;
    height: auto;
    line-height: 0;
    position: relative;

    & img {
        width: 100%;
        height: 100%;
    }
    & h3 {
        line-height: normal;
        text-align: center;
    }
}


button.general {
    background: $dblue;
    color: white;
    border-radius: 15px;
    margin: 6% auto;
    display: block;
    padding: 0px 20px;
    padding: 20px 0px;
    font-size: 18px;
    font-family: 'futura';
//    box-shadow: none;
    h4 {
        margin: 0;
    }
    & a {
        padding: 20px 30px;
    }
}


/***********************/
/******* FOOTER *******/
/***********************/

footer {
    background: white url('../raw/web/footer-waves.png') top / cover no-repeat;
//    @include gradient-whitetoblue;
//    background: white;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    @include flexbox();
    @include flexboxcenter();
    overflow-y: hidden;
    max-height: 500px;
    & .waves-container {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        z-index: -1;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    
    div.content {
    z-index: 3;
    width: 50%;
//    margin-top: 11%;
        padding-top: 11%;
        box-sizing: border-box;
        & div.sm-links {
            margin-top: 17%;
        }
    }
}

.extra-blue {
//    height: 10%;
    width: 100%;
//    @include gradient-bluetransition;
    background: $dblue;
}

    
ul.sm {
    margin-top: 10%;
    padding: 0px;
}

ul.sm li.sm .transparency {
 border-color: white;
}


ul.sm li.sm a svg {
    fill: white;
}

button:active {
    outline: 0;
    background-color: $dblue-active;
    transform: translateY(10deg);
}

.btn,
button {
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
//  width: 100%;
//  min-width: 200px;
//  min-width: 20rem;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
  @media (min-width: 400px) {
    width: auto;
  }
//  @media (min-width: 800px) {
//    font-size: 1.1rem;
//    padding: 1.6rem 2.8rem;
//  }
  &:hover {
    background: lighten($dblue, 5%);
    border-color: lighten($dblue, 5%);
    color: #fff;
  }
}

.btn-border {
  background-color: transparent;
  color: $dblue;
}

.btn-arrow {
  position: relative;
    transition: background-color 300ms ease-out;
  span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
  }
  &:hover span {
    transform: translate3d(-1rem, 0, 0);
  }
  svg {
    position: absolute;
    width: 1.1em;
    right: 0px;
    right: 0rem;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
    * {
      stroke-width: 5;
      stroke-color: transparent;
    }
  }
  &:hover svg {
    opacity: 1;
    right: -2rem;
  }
}


/***********************/
/*** RESPONSIVENESS ***/
/***********************/

@media (min-width: 900px) {
    section.site-preview .content {
        padding-top: 10vh;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 0%;
        align-items: flex-start;   
    }
}

// 900 px and down
@media (max-width: 900px) { 
    .content {
        & .image-container {
            width: 60%;
            height: 55%;
        }
        
    }
    
    .company {
        margin-right: 23%;
    }
    
    div.tiles {
        flex-flow: column nowrap;
        align-items: center;
        & .image-container {
            margin: 6% auto;
            width: 70%;
        }
        
        & .image-container:first-child {
            margin-top: 0%;
        }
    }
    
    section.explore-more {
        height: auto;
    }
}


// 600 px and down
@include for-tablet-portrait-down {
    // Opening 
    .stripes {
        top: 59vh;
    }
    
    .circle {
        top: 40vh;
        right: -30%;
    }
    
    // Information
    .company {
        margin-right: 10vw;
    }
    
    // Site-preview
    section.site-preview .content {
        padding-top: 25vh;
        margin: 0;
        padding-bottom: 20vh;
    }
    
    .large-pink-blob {
        top: 40%;
        left: 40%;
    }
    
    .content-background {
        margin-right: 0%;
    }
    
    .blue-rings-two {
        bottom: -20%;
    }
    
    .content {
        margin: 0;
    }
    
    .content-background {
        padding: 0;
    }
    
//    section.site-preview .content button.general {
//        margin: 0%;
//    }
    
    footer div.content {
        width: 90%;
    }
}


@include for-small-phone {
    section.opening {
        justify-content: flex-start;
        height: 100vh;
    }
     section.opening .content {
         flex-flow: column-reverse nowrap;
         margin-top: 100px;
         
        & .image-container {
           width: 76%;
        }
        
        & .title {
            color: white;
            border-top: none;
            margin-bottom: 14vh;
            text-align: left;
            font-size: 24px;
            margin: 7%;
            margin-left: 10%;

//            & h2 {
//                font-size: 10vmin;
//            }
        }
    }
    
     section.site-preview .content {
             margin-left: 6%;
             & ul {
                 padding-left: 20px;
             }
         }
    
    div.background-images {
        &.waves {
            top: -35vh;
            background: url('../raw/web/mobile-waves.png') center / cover no-repeat;
        }
        &.shapes {
            z-index: 0;
            .circle {
                bottom: 35vh;
                right: -20vw;
                width: 270px;
                height: 270px;
            }
        }
    }
    
    div.tiles .image-container {
        width: 80%;
    }
}


.shape-stripes {
    position: absolute;
    bottom: -100px;
    left: -100px;
    
}


.menu-active {
    color: $lpink !important;
}